<% content_for :search_result_summary do %>
<% end %>
<div id="search-results" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nothing-selected stylish-scrollbar">
  <div id="search-results-inner" class="no-left-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 search-results-inner">
    <table  id="search-results-table" class="table table-condensed search-results" data-summary="Results of the latest search.">
      <tr><td class="width-100-percent">
        <h3>History of changes</h3>
				<p>This covers changes that are visible to users in a broad sense, not the full set of technical changes.</p>
        <ul class="list-group">
          <li class="list-group-item">
            29-Sep-2015 &mdash; NSL-1469: Name with-author, with-base-author searches etc now match against author.abbrev rather than author.name.
            <span class="badge"><%= link_to "(NSL-1469) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1469', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            29-Sep-2015 &mdash; NSL-1468: Authorise readers to see the APC tree.
            <span class="badge"><%= link_to "(NSL-1468) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1468', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item purple"> 25-Sep-2015 &mdash; Production release.  </li>
          <li class="list-group-item">
            22-Sep-2015 &mdash; NSL-1443: Allow parents to be of any rank for [unranked] rank types for scientific names<br><span class="green">(NSL-1449 is now resolved.)</span>
            <span class="badge"><%= link_to "(NSL-1443) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1443', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            21-Sep-2015 &mdash; NSL-1454: Internal adjustments to speed display of name details.  These build slightly on the big gain from the new indexes - see NSL-1455.
            <span class="badge"><%= link_to "(NSL-1454) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1454', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            21-Sep-2015 &mdash; NSL-1455: Added indexes in production to further speed up Name Details tab display.
            <span class="badge"><%= link_to "(NSL-1455) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1455', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            21-Sep-2015 &mdash; NSL-1448: Add information about database connections for administrators.
            <span class="badge"><%= link_to "(NSL-1448) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1448', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item purple"> 21-Sep-2015 &mdash; Production release.  </li>
          <li class="list-group-item">
            16-Sep-2015 &mdash; <strike>NSL-1443: Allow parents to be of any rank for [unranked] rank types for scientific names</strike><br><span class="red"> Awaiting NSL-1449, name rules changes.</span>
            <span class="badge"><%= link_to "(NSL-1443) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1443', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            16-Sep-2015 &mdash; NSL-1444: Replace service calls for Name Details tab with database queries; also now showing APNI tree, APC tree, tweaking details display.
            <span class="badge"><%= link_to "(NSL-1444) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1444', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            16-Sep-2015 &mdash; NSL-1417: Identify APC "DeclaredBt" names and do not show them with APC tick or APC excluded. (Same change as for NSL-664 below.)
            <span class="badge"><%= link_to "(NSL-1417) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1417', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            16-Sep-2015 &mdash; NSL-664: Identify APC "DeclaredBt" names and do not show them with APC tick or APC excluded.
            <span class="badge"><%= link_to "(NSL-664) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-664', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            11-Sep-2015 &mdash; NSL-1429: Allow cultivar hybrids to have both parents the same.
            <span class="badge"><%= link_to "(NSL-1429) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1429', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item purple"> 11-Sep-2015 &mdash; Production release.  </li>
          <li class="list-group-item">
            10-Sep-2015 &mdash; NSL-1429: Prevent hybrid Name parent and second parent being the same.
            <span class="badge"><%= link_to "(NSL-1429) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1429', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            09-Sep-2015 &mdash; NSL-1249: New Name tab labelled "Refresh" has a button to refresh (i.e. reconstruct) children's names.
            <span class="badge"><%= link_to "(NSL-1249) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1249', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            07-Sep-2015 &mdash; NSL-1410: Set updated_by when changing instance reference. Change updated_by in the dependent instances as well.
            <span class="badge"><%= link_to "(NSL-1410) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1410', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            07-Sep-2015 &mdash; NSL-1327: Stop instance edit form updating when no change made.
            <span class="badge"><%= link_to "(NSL-1327) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1327', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            07-Sep-2015 &mdash; NSL-1406: Improve GUI message when Author and Reference deleted.  Now consistent with Name and Instance GUI message display.
            <span class="badge"><%= link_to "(NSL-1406) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1406', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            04-Sep-2015 &mdash; NSL-283: Add instance note search.
            <span class="badge"><%= link_to "(NSL-283) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-283', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            04-Sep-2015 &mdash; NSL-629: Adjust labels of base name author and ex base name author.
            <span class="badge"><%= link_to "(NSL-629) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-629', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            03-Sep-2015 &mdash; NSL-934: Name tags ACRA, PBR, Trade now capitalised in query options.
            <span class="badge"><%= link_to "(NSL-934) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-934', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            03-Sep-2015 &mdash; NSL-1400: restore copy-instance tab to QA users.
            <span class="badge"><%= link_to "(NSL-1400) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1400', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item purple"> 03-Sep-2015 &mdash; Production release.  </li>
          <li class="list-group-item">
            02-Sep-2015 &mdash; NSL-1388: add 'replaced synonym' into sorting rule for nested instances.
            <span class="badge"><%= link_to "(NSL-1388) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1388', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            01-Sep-2015 &mdash; NSL-1392: review and improve instance searches.  e.g. created/updated since/before
            <span class="badge"><%= link_to "(NSL-1392) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1392', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            01-Sep-2015 &mdash; NSL-1388: add a page listing instance types, available from the Help menu.
            <span class="badge"><%= link_to "(NSL-1388) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1388', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            31-Aug-2015 &mdash; NSL-1389: name instance ordering: sort primary instances first if year is the same.
            <span class="badge"><%= link_to "(NSL-1389) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1389', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            31-Aug-2015 &mdash; NSL-1386: show or hide author dupe field based on new/existing record status not on action called.
            <span class="badge"><%= link_to "(NSL-1386) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1386', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            31-Aug-2015 &mdash; NSL-1385: Let QA users once again change the reference for standalone instances with synonyms. 
            <span class="badge"><%= link_to "(NSL-1385) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1385', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            28-Aug-2015 &mdash; NSL-1382: Re-structure code for Instances-for-a-Name search.
            <span class="badge"><%= link_to "(NSL-1381) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1381', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            28-Aug-2015 &mdash; NSL-1381: Adjust spacing of message on Name form.
            <span class="badge"><%= link_to "(NSL-1381) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1381', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item purple"> 28-Aug-2015 &mdash; Production release.  </li>
          <li class="list-group-item">
            27-Aug-2015 &mdash; NSL-1378: Show raw service error messages when instance and name deletes go wrong.
            <span class="badge"><%= link_to "(NSL-1378) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1378', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            26-Aug-2015 &mdash; NSL-1373: Add another choice to the list of reasons for deleting a name: "Name is represented elsewhere in NSL".
            <span class="badge"><%= link_to "(NSL-1373) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1373', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            26-Aug-2015 &mdash; NSL-1372: Fix minor Standalone Instance Synonymy typeahead error caused by extracting an oversize year value from a full citation pasted into the typeahead.
            <span class="badge"><%= link_to "(NSL-1372) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1372', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            25-Aug-2015 &mdash; Added check for comments before showing Instance Delete button.
          </li>
          <li class="list-group-item">
            25-Aug-2015 &mdash; NSL-1361: Re-organise authorisations (permissions) while reviewing them. 
            <span class="badge"><%= link_to "(NSL-1361) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1361', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            24-Aug-2015 &mdash; NSL-1368: Correct navigation tabbing on new record forms.
            <span class="badge"><%= link_to "(NSL-1368) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1368', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item purple"> 20-Aug-2015 &mdash; Production release.  </li>
          <li class="list-group-item">
            20-Aug-2015 &mdash; NSL-1194: Check user authorization on confirm delete.
            <span class="badge"><%= link_to "(NSL-1194) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1194', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            20-Aug-2015 &mdash; NSL-1339: Allow up to 255 characters in Reference pages.
            <span class="badge"><%= link_to "(NSL-1339) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1339', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item purple"> 20-Aug-2015 &mdash; Production release.  </li>
          <li class="list-group-item">
            19-Aug-2015 &mdash; NSL-1357: Added drop-down name query for orth. vars with no orth. var. instances.
            <span class="badge"><%= link_to "(NSL-1357) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1357', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            19-Aug-2015 &mdash; NSL-1363: Reference typeaheads now exclude duplicates.
            <span class="badge"><%= link_to "(NSL-1363) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1363', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            19-Aug-2015 &mdash; NSL-1360: Added drop-down name query: names without instances but with comment.  Any text in the search field restricts the comment text.
            <span class="badge"><%= link_to "(NSL-1360) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1360', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            17-Aug-2015 &mdash; NSL-1194: Name delete.  Also second-level of name tabs.
            <span class="badge"><%= link_to "(NSL-1194) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1194', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            17-Aug-2015 &mdash; NSL-1355: Name create/edit now uses second parent if supplied. e.g. hybrid formula
            <span class="badge"><%= link_to "(NSL-1355) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1355', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            17-Aug-2015 &mdash; Synch LHS if Name tag added or removed.
          </li>
          <li class="list-group-item">
            14-Aug-2015 &mdash; NSL-1351: add child/parent links to Name details tab; add Name parent-id search.
            <span class="badge"><%= link_to "(NSL-1351) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1351', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            14-Aug-2015 &mdash; NSL-1350: make Name tag field required using the HTML attribute; adjust the label to match. [See any Name record -&gt; Tag tab.]
            <span class="badge"><%= link_to "(NSL-1350) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1350', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item purple"> 13-Aug-2015 &mdash; Production release.  </li>
          <li class="list-group-item">
            12-Aug-2015 &mdash; NSL-1333: can now delete instances that have or have had a simple name entry as a protologue instance.  
            <span class="badge"><%= link_to "(NSL-1333) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1333', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            11-Aug-2015 &mdash; NSL-1345: warning people not running Firefox.
            <span class="badge"><%= link_to "(NSL-1345) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1345', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            11-Aug-2015 &mdash; NSL-1331: convert author name typeahead on the Reference Edit tab to ordered fragment search with frequency search.
            <span class="badge"><%= link_to "(NSL-1331) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1331', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            11-Aug-2015 &mdash; NSL-1316: on update ensure [Duplicate] flag is retained for references; refresh author LHS on update.
            <span class="badge"><%= link_to "(NSL-1316) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1316', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            10-Aug-2015 &mdash; NSL-1251: when sorting instances by page, also sort by name.full_name within page.
            <span class="badge"><%= link_to "(NSL-1251) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1251', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            10-Aug-2015 &mdash; NSL-1341: reverse disabling of Create button after instance created.
            <span class="badge"><%= link_to "(NSL-1341) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1341', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            10-Aug-2015 &mdash; NSL-1340: increase the validation limit on reference.pages to 100 chars to match the database.
            <span class="badge"><%= link_to "(NSL-1340) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1340', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item purple"> 07-Aug-2015 &mdash; Production release.  </li>
          <li class="list-group-item">
            05-Aug-2015 &mdash; NSL-1311: major upgrade to <%= link_to 'typeaheads', typeaheads_path, class: 'blue', title: 'Read about typeaheads.' %>, 
            including text recognition.
            <span class="badge"><%= link_to "(NSL-1311) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1311', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            04-Aug-2015 &mdash; NSL-1324: stop automatically adding leading wildcard to search strings.  Should make searching faster.
            <span class="badge"><%= link_to "(NSL-1324) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1324', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item purple"> 27-Jul-2015 &mdash; Production release.  </li>
          <li class="list-group-item">
            27-Jul-2015 &mdash; NSL-1205: direct link from instance to APNI search now opens in a separate, named, tab or window (depending on browser settings).
            <span class="badge"><%= link_to "(NSL-1205) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1205', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            27-Jul-2015 &mdash; NSL-1285: instance delete.
            <span class="badge"><%= link_to "(NSL-1285) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1285', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item purple"> 24-Jul-2015 &mdash; Production release.  </li>
          <li class="list-group-item">
            24-Jul-2015 &mdash; NSL-1303: added "Refresh" button on Name edit tab - as first-aid for the problem of cultivar names not being formed correctly on insert. 
            <span class="badge"><%= link_to "(NSL-1303) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1303', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            23-Jul-2015 &mdash; NSL-1304: show error messages again when creating names if something goes wrong.
            <span class="badge"><%= link_to "(NSL-1304) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1304', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            22-Jul-2015 &mdash; NSL-1300: fix refresh of LHS when name is updated.
            <span class="badge"><%= link_to "(NSL-1300) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1300', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            21-Jul-2015 &mdash; NSL-1294: improve error handling in reference forms for both new and edited records.
            <span class="badge"><%= link_to "(NSL-1294) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1294', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            21-Jul-2015 &mdash; NSL-1295: make reference.year an integer only field with min and max values matching the current validations.
            <span class="badge"><%= link_to "(NSL-1295) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1295', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            21-Jul-2015 &mdash; NSL-1293: fixed bug in name form (successive errors could lose context) and fixed the update of reference citation on LHS after saving details.
            <span class="badge"><%= link_to "(NSL-1293) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1293', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            20-Jul-2015 &mdash; NSL-1283: url encode query in customised bloodhound JS methods - percent signs will work now for reference duplicate and others.
            <span class="badge"><%= link_to "(NSL-1283) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1283', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            20-Jul-2015 &mdash; NSL-1292: typeahead suggestions for editing relationship instances should now autoreduce.
            <span class="badge"><%= link_to "(NSL-1292) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1292', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            17-Jul-2015 &mdash; NSL-1203: enforce reference parent type rules - upgrade to use current data, not saved data.
            <span class="badge"><%= link_to "(NSL-1203) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1203', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            17-Jul-2015 &mdash; NSL-926: clean up html.
            <span class="badge"><%= link_to "(NSL-926) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-926', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            15-Jul-2015 &mdash; NSL-1220: show search summary even if no results found; add search summary for instance type, comments and with-comments-by searches.
            <span class="badge"><%= link_to "(NSL-1220) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1220', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            15-Jul-2015 &mdash; NSL-1066: fix refresh link that appears on synonymy tab after successful create. 
            <span class="badge"><%= link_to "(NSL-1066) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1066', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            15-Jul-2015 &mdash; NSL-1203: enforce reference parent type rules.
            <span class="badge"><%= link_to "(NSL-1203) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1203', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            09-Jul-2015 &mdash; NSL-1271: a reference of unknown type can be a duplicate of any type of reference - not just duplicate of unknown type references. 
            <span class="badge"><%= link_to "(NSL-1271) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1271', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            09-Jul-2015 &mdash; NSL-1205: link to Name APNI output from instance details tab.
            <span class="badge"><%= link_to "(NSL-1205) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1205', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            09-Jul-2015 &mdash; NSL-926: change parent suggestions for cultivar and cultivar hybrids to allow Genus and below or unranked if unranked.  See updated
            <%= link_to "name rules", name_rules_path, title: 'See the name rules', class: 'blue', tabindex: '-1' %>.
            <span class="badge"><%= link_to "(NSL-926) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-926', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            08-Jul-2015 &mdash; NSL-1264: if user's login expires from inactivity (e.g. overnight), minor actions like choosing a menu option will trigger the sign-in page.  
            Previously nothing happened, leaving the user wondering.
            <span class="badge"><%= link_to "(NSL-1264) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1264', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            07-Jul-2015 &mdash; NSL-1263: improve name edit form layout - top button, heading take up too much vertical space.
            <span class="badge"><%= link_to "(NSL-1263) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1263', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item purple"> 07-Jul-2015 &mdash; Production release.  </li>
          <li class="list-group-item">
            06-Jul-2015 &mdash; NSL-1255: do not allow creation of new instances for duplicate names.
            <span class="badge"><%= link_to "(NSL-1255) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1255', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            30-Jun-2015 &mdash; NSL-1193: instance sort by page now handles ranges like <q>19-20</q> - this example would sort as if it was  page <q>19</q>.
            <span class="badge"><%= link_to "(NSL-1193) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1193', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            30-Jun-2015 &mdash; NSL-1239: add tests to confirm duplicates are not offered in name typeaheads.
            <span class="badge"><%= link_to "(NSL-1239) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1239', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            29-Jun-2015 &mdash; NSL-1234: improved error handling and error message when user enters text into reference typeahead fields without selecting from the typeahead. 
            <span class="badge"><%= link_to "(NSL-1234) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1234', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            29-Jun-2015 &mdash; NSL-1231: distinguish more obviously between test and production - change to banner background colour and top left badge text, only affects test env.
            <span class="badge"><%= link_to "(NSL-1231) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1231', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            26-Jun-2015 &mdash; NSL-1195: reference records offered in the duplicate-of typeahead are now only of the same type as the record itself or of unknown type.
            <span class="badge"><%= link_to "(NSL-1195) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1195', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            25-Jun-2015 &mdash; NSL-975: do not offer deprecated instance types for new or updated instances.
            <span class="badge"><%= link_to "(NSL-975) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-975', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item purple"> 25-Jun-2015 &mdash; Production release.  </li>
          <li class="list-group-item">
            24-Jun-2015 &mdash; NSL-1223: restore instance unpublished citation tab.
            <span class="badge"><%= link_to "(NSL-1223) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1223', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            23-Jun-2015 &mdash; NSL-1188: indicate that a reference/name/author is a duplicate entry in left-hand pane.
            <span class="badge"><%= link_to "(NSL-1188) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1188', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            23-Jun-2015 &mdash; NSL-1209: remove usage of name.primary_instance_id.  For example, no longer prevents deleting an instance.
            <span class="badge"><%= link_to "(NSL-1209) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1209', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            22-Jun-2015 &mdash; NSL-1214: make correct call to rebuild name strings after name update.
            <span class="badge"><%= link_to "(NSL-1214) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1214', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item purple"> 19-Jun-2015 &mdash; Production release.  </li>
          <li class="list-group-item">
            19-Jun-2015 &mdash; NSL-1153: user able to copy standalone instances retrieved in a Name search along with all attached synonyms/unpublished citations.
            <br>Several associated changes, including going back to textual tab headings for instances.
            <span class="badge"><%= link_to "(NSL-1153) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1153', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            17-Jun-2015 &mdash; NSL-1190: fix reference duplicate typeahead - it now offers a list again; also exclude current reference from the offered list.
            <span class="badge"><%= link_to "(NSL-1190) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1190', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            12-Jun-2015 &mdash; NSL-1180: avoid error when user tries to open New > Reference in a new tab; same for other new options; opens a new home page.
            <span class="badge"><%= link_to "(NSL-1180) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1180', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            05-Jun-2015 &mdash; NSL-478: fix css problem on FireFox 17 - which obscures the top search result on departmental PCs.
            <span class="badge"><%= link_to "(NSL-478) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-478', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item purple">
            05-Jun-2015 &mdash; Production release.
          </li>
          <li class="list-group-item">
            04-Jun-2015 &mdash; NSL-1164: remove integer appearing at the top left of instance tabs.
            <span class="badge"><%= link_to "(NSL-1164) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1164', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            04-Jun-2015 &mdash; NSL-1165: fix name instance tab label - <q>synonym</q> is now correctly <q>instance</q>; also add tab headings and remove copy tab.
            <span class="badge"><%= link_to "(NSL-1165) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1165', class:"white hover-white" %></span>
          </li>
            <li class="list-group-item">
              02-Jun-2015 &mdash; NSL-1149: Various fixes to the APC placement form
              <span class="badge"><%= link_to "(NSL-1149) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1149', class:"white hover-white" %></span>
              <div class="list-group-item" style="border: none; padding-right: 0; padding-bottom: 0;">
                NSL-992: APC Parent kept when using a new concept for an existing APC name
                <span class="badge"><%= link_to "(NSL-992) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-992', class:"white hover-white" %></span>
                <br>
                NSL-993: 'Reset Form' button removed
                <span class="badge"><%= link_to "(NSL-993) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-993', class:"white hover-white" %></span>
                <br>
                NSL-1003: APC Distribution and Comment removed from the APC edit form
                <span class="badge"><%= link_to "(NSL-1003) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1003', class:"white hover-white" %></span>
                <br>
                NSL-559: APC tab now displays current placement of the name even when the instance selected is not the current instance
                <span class="badge"><%= link_to "(NSL-559) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-559', class:"white hover-white" %></span>
              </div>
            </li>
            <li class="list-group-item">
            02-Jun-2015 &mdash; NSL-1150: change the title of the Name "Summary" tab to "Details" for consistency.
            <span class="badge"><%= link_to "(NSL-1150) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1150', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            02-Jun-2015 &mdash; NSL-1126: allow keyboard access to the 'Create Instance' button on the Instance>Unpublished Citation tab.
            <span class="badge"><%= link_to "(NSL-1126) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1126', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item purple">
            29-May-2015 &mdash; Production release.
          </li>
          <li class="list-group-item">
            28-May-2015 &mdash; Restore the step that refreshes the reference citation after an update.
            <span class="badge"><%= link_to "(NSL-1145) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1145', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            28-May-2015 &mdash; Search for authors whose name or abbreviations contain diacritics using the diacritics' English replacements: <br>e.g. Search for 'Fr.Müll.' by entering 
            <%= link_to('a:Fr.Mull.','../search?utf8=✓&query_on=author&query_field=&query=a%3Afr.mull.&query_limit=100', class:'blue') %>
            <span class="badge"><%= link_to "(NSL-1102) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1102', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            28-May-2015 &mdash; Minor adjustments to the <%= link_to('help','index',class:'blue') %> page.
            <span class="badge"><%= link_to "(NSL-1135) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1135', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item purple">
            28-May-2015 &mdash; Production release.
          </li>
          <li class="list-group-item">
            27-May-2015 &mdash; Add instance count to name parent typeahead suggestions.
            <span class="badge"><%= link_to "(NSL-972) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-972', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            26-May-2015 &mdash; Adjust ordering of instances in name-based search when year is the same.  e.g. Casuarina inophloia, Podosperma gnaphaloides 
            <span class="badge"><%= link_to "(NSL-963) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-963', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            26-May-2015 &mdash; Speed up second and subsequent name summary details display by caching service call results.
            <span class="badge"><%= link_to "(NSL-1134) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1134', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            25-May-2015 &mdash; Change "between" in name summary tab to "within" if there is one and only one parent.
            <span class="badge"><%= link_to "(NSL-1122) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1122', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            25-May-2015 &mdash; Remove "Clear/Delete" from reference typeaheads.
            <span class="badge"><%= link_to "(NSL-1123) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1123', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            25-May-2015 &mdash; Allow users to edit and view pagination of unpublished citations such as common names.  Could previously insert only.
            <span class="badge"><%= link_to "(NSL-1127) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1127', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            25-May-2015 &mdash; Allow QA users to change the reference for standalone instances - even if the instance has synonyms attached.
            <span class="badge"><%= link_to "(NSL-1025) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1025', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            25-May-2015 &mdash; Allow entry of instance BHL URLs.  Display instance BHL URLS.
            <span class="badge"><%= link_to "(NSL-803) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-803', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            25-May-2015 &mdash; Convert button links on the tabs to text links with icons (e.g. the search icon) to show that they are links.
            <span class="badge"><%= link_to "(NSL-1133) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1133', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            25-May-2015 &mdash; Fixed instance-type search - it works again now when you select instance type from the drop-down.
            <span class="badge"><%= link_to "(NSL-1132) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1132', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item purple">
            22-May-2015 &mdash; Production release.
          </li>
          <li class="list-group-item">
            21-May-2015 &mdash; Added a synonymy model diagram in an Instances models page available from the Help menu. <br>I hope this diagram helps make clear the task being attempted in NSL-1025.
            <span class="badge"><%= link_to "(NSL-1025) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1025', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            20-May-2015 &mdash; Synonymy typeahead suggestions are now ordered by name.full_name then year (previously just name.full_name).
            <span class="badge"><%= link_to "(NSL-1103) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1103', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            19-May-2015 &mdash; The three reference forms now respond with "no change" if you hit Save without having made a change.
            <span class="badge"><%= link_to "(NSL-1081) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1081', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            15-May-2015 &mdash; New reference form field tabbing was fixed as part of <%= link_to "NSL-576", 'https://www.anbg.gov.au/25jira/browse/NSL-576' %>
            <span class="badge"><%= link_to "(NSL-1115) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1115', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            15-May-2015 &mdash; Author duplicate-of is (once again) correctly saved.
            <span class="badge"><%= link_to "(NSL-1111) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1111', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            15-May-2015 &mdash; Adjust reference fields and labels.
            <span class="badge"><%= link_to "(NSL-576) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-576', class:"white hover-white" %></span>
          </li>
          <li class="list-group-item">
            14-May-2015 &mdash; Search for names that contain diacritics using their English replacements: e.g. Search for 'kröb' by entering 'krob'.
            <br>(Applies to full-name only, more to come.)
            <span class="badge">
              <%= link_to "(NSL-1102) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1102', class:"white hover-white" %>
            </span>
          </li>
          <li class="list-group-item">
            14-May-2015 &mdash; Added a page showing the history of changes to the editor.
            <span class="badge">
              <%= link_to "(NSL-1110) #{icon('external-link fa-lg')}".html_safe, 'https://www.anbg.gov.au/25jira/browse/NSL-1110', class:"white hover-white" %>
            </span>
          </li>
        </ul>
      </td>
      </tr>
    </table>
  </div>
</div>

