<%= render 'names/details/children' %>

  <%= link_to("Refresh descendant names...",
              '#',
              id: "name-refresh-children-link",
              class: "btn btn-warning unconfirmed-action-link pull-right",
              title: "Refresh constructed parts of names descended from #{@name.full_name}.",
              tabindex: increment_tab_index,
              data: {show_this_id: "confirm-or-cancel-refresh-children-link-container"})
  %>

  <div class="width-100-percent"> 

  <div id="confirm-or-cancel-refresh-children-link-container" class="confirm-or-cancel-link hidden">
    <%= link_to "Confirm", 
      refresh_children_name_path(@name.id), 
      id: 'confirm-name-refresh-children-button', 
      remote: true, 
      method: :post,
      tabindex: increment_tab_index,
      class: 'btn btn-warning', 
      title: "Confirm refresh." %>

    <%= link_to("Cancel",
               '#',
               id: "cancel-refresh-children-link",
               class: "btn btn-default cancel-action-link",
               tabindex: increment_tab_index,
               title: "Cancel the refresh",
               data: {enable_this_id: 'name-refresh-children-link',
               hide_this_id: 'confirm-or-cancel-refresh-children-link-container'}) %>

    <div id="refresh-children-spinner" class="hidden" </div>
    Refreshing <%= pluralize(@name.combined_children.size,'child') %>...    <i class="fa fa-spinner fa-spin"></i>
    </div>


  </div>

<div class="error-message-container"></div>
