<div id="example-search-name" class="example-search-tab">
<h4>Orchids search examples</h4>
<br>

<h5 class="">First set of examples</h5>
<table class="example-searches table table-striped">
  <% [
      {search_target: 'Orchids', search_string: "no-name-match:",explanation: %Q(List CSV taxa with no matching name.)},
      {search_target: 'Orchids', search_string: "many-name-match:",explanation: %Q(List CSV taxa with multiple matching names.)},
      {search_target: 'Orchids', search_string: "many-name-match: has-preferred-name:",explanation: %Q(List CSV taxa with multiple matching names but also a preferred name match recorded.)},
      {search_target: 'Orchids', search_string: "many-name-match: has-no-preferred-name:",explanation: %Q(List CSV taxa with multiple matching names and no preferred name match recorded.)},
      {search_target: 'Orchids', search_string: "original-text: *×*",explanation: %Q(Likely hybrids.)},
      {search_target: 'Orchids', search_string: "original-text: *×* is-accepted:",explanation: %Q(Likely hybrids that are (raw) accepted names.)},
      {search_target: 'Orchids', search_string: "original-text: *×* is-accepted:  no-name-match:",explanation: %Q(Likely hybrids that are (raw) accepted names with no matches.)},
      {search_target: 'Orchids', search_string: "no-further-processing:",explanation: %Q(Flag set to prevent future bulk processing)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>

<h5 class="">Hybrid example queries</h5>
<table class="example-searches table table-striped">
  <% [
      {search_target: 'Orchids', search_string: "hybrid: 3714",explanation: %Q(Hybrid field matches 3714)},
      {search_target: 'Orchids', search_string: "hybrid-has-value: ",explanation: %Q(Hybrid field has a value)},
      {search_target: 'Orchids', search_string: "hybrid-has-no-value: ",explanation: %Q(Hybrid field has no value)},
      {search_target: 'Orchids', search_string: "hybrid-level-has-value:",explanation: %Q(Hybrid level field has a value)},
      {search_target: 'Orchids', search_string: "hybrid-level-has-no-value:",explanation: %Q(Hybrid level field has no value)},
      {search_target: 'Orchids', search_string: "hybrid-level: genus",explanation: %Q(Hybrid field matches 'genus')},
      {search_target: 'Orchids', search_string: "hybrid-has-value: hybrid-level-has-value:",explanation: %Q(Hybrid field has no value)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>

<h5 class="">More examples</h5>
<table class="example-searches table table-striped">
  <% [
      {search_target: 'Orchids', search_string: "is-isonym:",explanation: %Q(List isonyms)},
      {search_target: 'Orchids', search_string: "is-orth-var:",explanation: %Q(List orth. vars)},
      {search_target: 'Orchids', search_string: "is-syn-but-no-syn-type:",explanation: %Q(Record type is synonym with no value for synonym type.)},
      {search_target: 'Orchids', search_string: "caladenia is-syn-but-no-syn-type:",explanation: %Q(Synonyms belonging to 'accepted' names starting 'caladenia' (case insensitive) with no value for synonym type.)},
      {search_target: 'Orchids', search_string: "name-status: nom",explanation: %Q(List any records with 'nom' in the name status field)},
      {search_target: 'Orchids', search_string: "notes: *",explanation: %Q(Has a value in notes)},
      {search_target: 'Orchids', search_string: "comment: *",explanation: %Q(Has a value in comment)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>

<h5 class="">Doubtful and excluded taxa examples</h5>
<table class="example-searches table table-striped">
  <% [
      {search_target: 'Orchids', search_string: "exc: *",explanation: %Q(List all doubtful or excluded taxa)},
      {search_target: 'Orchids', search_string: "exc: a*",explanation: %Q(List all doubtful or excluded taxa starting with "a")},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>

<%= render partial: 'orchids/stats/high_level_stats' %>
