  <h4>Default Search - the good, the bad... </h4>
  <h5>TLDR; If you are getting no results for a search, try the <i>taxon:</i> search directive.  </h5>
  <h5>The Good</h5>
  When searching through orchids raw data we understand that you almost always want to search for "accepted" taxa and their synonyms.
  <br>
  Fortunately there's a search directive for that and it's called <i>taxon-with-syn:</i>, which is short for <i>accepted taxon with synonyms</i>.
  <br>
  <h5>The Really Good</h5>
Because <i>taxon-with-syn:</i> is so frequently used, we've made it the default.  This means that you don't even have to enter the directive, it will be assumed.
  <br>
  Specifically, if you enter a taxon name fragment into the search field without a directive, the search will assume you want to use the <i>taxon-with-syn:</i> directive.

  <br>
  <h5>The Not-So-Good</h5>
  We've noticed that sometimes this can cause a problem if you are searching for a taxon name fragment that matches a synonym.  For example, if you enter
  <blockquote>
  Dendrobium pugioniforme
  </blockquote>
  and hit enter, you would get no results, because that string matches a synonym not an "accepted" taxon.  This can be confusing, even to programmers!  Fortunately using the <i>taxon:</i> search directive helps. For example, entering 
  <blockquote>
  taxon: Dendrobium pugioniforme
  </blockquote>
  searches for any matching orchid taxon, and that will return results.
  <br>
  <br>
  <h4>Orchid Search Directives</h4>
<table class="table table-striped">
  <tr><th>Field</th><th>Description</th></tr>
  <% [
    {field_name: '',
     description: "Default search is the same as taxon-with-syn: search"},
    {field_name: 'taxon-with-syn:',
     description: "The default. Matching 'accepted' taxa and any attached synonyms are returned; doesn't include 'accepted' taxa marked as doubtful, which filters out 'doubtful or excluded' taxa; case-insensitive, trailing wildcard added automatically."},
    {field_name: 'accepted-with-syn:', description: "Abbreviation for taxon-with-syn:."},
    {field_name: 'acc:', description: "Abbreviation for accepted-with-syn:."},
    {field_name: 'taxon:',
     description: "Match on the taxon name string from the CSV, case-insensitive, trailing wildcard added automatically"},
    {field_name: 'taxon-no-wildcard:',
     description: "as for taxon:, but no automatic trailing wildcard"},
    {field_name: 'id:',
     description: "search on the id from the CSV file"},
    {field_name: 'ids:',
     description: "search on CSV ids in comma-separated list"},
    {field_name: 'id-with-syn:',
     description: "match on a single id from the CSV file, then show any associated synonyms"},
    {field_name: 'has-parent:',
     description: "match only if parent exists in the CSV file"},
    {field_name: 'has-no-parent:',
     description: "match only if no parent in the CSV file"},
    {field_name: 'notes:',
     description: "match on the notes field - case-insensitive, leading and trailing wildcards added automatically"},
    {field_name: 'excluded-with-syn: or exc: for short',
     description: "Matching 'accepted' taxa that are also doubtful, and any attached synonyms are returned; i.e. 'doubtful or excluded' taxa; case-insensitive, trailing wildcard added automatically."},
    {field_name: 'exc:', description: "Abbreviation for excluded-with-syn:."},
    {field_name: 'comment:',
     description: "match on the comment field - case-insensitive, leading and trailing wildcards added automatically"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
      <a href="javascript:void(0)" class="xyz searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
        <span class="blue"><%= val[:field_name] %></span>
      </a>
    </td>
    <td><%= val[:description].html_safe %></td>
    <% if val[:partial].present? %>
      <td><%= render partial: val[:partial] %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
  <% end %>
</table>

  <h4>Rank Search Directives</h4>
<table class="table table-striped">
  <tr><th>Field</th><th>Description</th></tr>
  <% [
    {field_name: 'rank:',
     description: "match on the rank field - case-insensitive"},
    {field_name: 'not-rank:',
     description: "match on the rank field not matching the argument - case-insensitive"},
    {field_name: 'no-rank:',
     description: "no value in the rank field"},
    {field_name: 'nsl-rank:',
     description: "match on the nsl-rank field - case-insensitive"},
    {field_name: 'not-nsl-rank:',
     description: "match on the nsl-rank field not matching the argument - case-insensitive"},
    {field_name: 'no-nsl-rank:',
     description: "no value in the nsl-rank field"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
      <a href="javascript:void(0)" class="xyz searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
        <span class="blue"><%= val[:field_name] %></span>
      </a>
    </td>
    <td><%= val[:description].html_safe %></td>
    <% if val[:partial].present? %>
      <td><%= render partial: val[:partial] %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
  <% end %>
</table>

  <h4>Record Type Directives or Similar</h4>
<table class="table table-striped">
  <tr><th>Field</th><th>Description</th></tr>
  <% [
    {field_name: 'is-accepted:',
     description: "match only CSV data with record type 'accepted'"},
    {field_name: 'is-syn:',
     description: "match only CSV data with record type 'synonym'"},
    {field_name: 'is-syn-but-no-syn-type:',
     description: "match only CSV data with record type 'synonym' and no synonym type"},
    {field_name: 'is-misapplied:',
     description: "match only CSV data with record type 'misapplied'"},
    {field_name: 'is-hybrid-cross:',
     description: "match only CSV data with record type 'hybrid-cross'"},
    {field_name: 'is-isonym:',
     description: "match records with any value in the isonym field"},
    {field_name: 'is-orth-var:',
     description: "match records with a name status value starting with 'orth'"},
    {field_name: 'is-doubtful:',
     description: "match records with a value in the doubtful column"},
    {field_name: 'is-not-doubtful:',
     description: "match records with no value in the doubtful column"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
      <a href="javascript:void(0)" class="xyz searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
        <span class="blue"><%= val[:field_name] %></span>
      </a>
    </td>
    <td><%= val[:description].html_safe %></td>
    <% if val[:partial].present? %>
      <td><%= render partial: val[:partial] %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
  <% end %>
</table>

  <h4>Name Matching Directives</h4>
<table class="table table-striped">
  <tr><th>Field</th><th>Description</th></tr>
  <% [
    {field_name: 'no-name-match:',
     description: "match only on CSV data with no matching NSL name"},
    {field_name: 'some-name-match:',
     description: "match only on CSV data with at least one matching NSL name"},
    {field_name: 'many-name-match:',
     description: "match only on CSV data with more than 1 matching NSL name"},
    {field_name: 'one-name-match:',
     description: "match only on CSV data with exactly one matching NSL name"},
    {field_name: 'name-match-eq:',
     description: "match only on CSV data with a number of matching NSL names equal to the supplied number"},
    {field_name: 'name-match-gt:',
     description: "match only on CSV data with a number of matching NSL names greater than the supplied number"},
    {field_name: 'name-match-gte:',
     description: "match only on CSV data with a number of matching NSL names greater than or equal to the supplied number"},
    {field_name: 'name-match-no-primary:',
     description: "find Orchids with at least one matching name but no matching name with a primary instance"},
    {field_name: 'taxon-sharing-name-id:',
     description: "match only on CSV data orchid that shares a preferred name ID with at least one other CSV data orchid"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
      <a href="javascript:void(0)" class="xyz searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
        <span class="blue"><%= val[:field_name] %></span>
      </a>
    </td>
    <td><%= val[:description].html_safe %></td>
    <% if val[:partial].present? %>
      <td><%= render partial: val[:partial] %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
  <% end %>
</table>

  <h4>Some More Interesting Directives</h4>
<table class="table table-striped">
  <tr><th>Field</th><th>Description</th></tr>
  <% [
    {field_name: 'partly:',
     description: "match only on CSV data where the partly field has any data in it, which is uniformly 'p.p.' - it's essentially a flag where p.p. means true"},
    {field_name: 'not-partly:',
     description: "match only on CSV data where the partly field has no data"},
    {field_name: 'name-status:',
     description: "match fragment on the name status field (leading and trailing wildcards added automatically)"},
    {field_name: 'name-status-exact:',
     description: "match fragment on the name status field (no wildcards added, but you can add them)"},
    {field_name: 'name-status-empty-string:',
     description: "orchids with an empty string in name status (these came about during early raw editing of orchid data when empty fields were mistakenly saved as empty strings)"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
      <a href="javascript:void(0)" class="xyz searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
        <span class="blue"><%= val[:field_name] %></span>
      </a>
    </td>
    <td><%= val[:description].html_safe %></td>
    <% if val[:partial].present? %>
      <td><%= render partial: val[:partial] %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
  <% end %>
</table>

  <h4>Two little beauties for checking your progress</h4>
  Use these alone for an overview, or in combination with other search directives to drill into progress - see query examples.
<table class="table table-striped">
  <tr><th>Field</th><th>Description</th></tr>
  <% [
    {field_name: 'has-preferred-name:',
     description: "match only on CSV taxon data where the preferred name ID has been set"},
    {field_name: 'has-no-preferred-name:',
     description: "match only on CSV taxon data where the preferred name ID has NOT been set"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
      <a href="javascript:void(0)" class="xyz searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
        <span class="blue"><%= val[:field_name] %></span>
      </a>
    </td>
    <td><%= val[:description].html_safe %></td>
    <% if val[:partial].present? %>
      <td><%= render partial: val[:partial] %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
  <% end %>
</table>

  <h4>Hybrid-related queries</h4>
<table class="table table-striped">
  <tr><th>Field</th><th>Description</th></tr>
  <% [
    {field_name: 'original-text-has-×:',
     description: "original text includes a cross symbol"},
    {field_name: 'original-text-has-x:',
     description: "original text includes a cross symbol (directive has an ex character)"},
    {field_name: 'hybrid-level:',
     description: "hybrid_level matches"},
    {field_name: 'hybrid-level-has-value:',
     description: "hybrid_level isn't empty i.e. has some value, any value"},
    {field_name: 'hybrid-level-has-no-value:',
     description: "hybrid_level field is empty"},
    {field_name: 'hybrid:',
     description: "matches on the hybrid field, which holds an id"},
    {field_name: 'hybrid-has-value:',
     description: "hybrid has a value, any value"},
    {field_name: 'hybrid-has-no-value:',
     description: "hybrid has no value"},
    {field_name: 'alt-taxon-for-matching:',
     description: "searches on the alternative taxon"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
      <a href="javascript:void(0)" class="xyz searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
        <span class="blue"><%= val[:field_name] %></span>
      </a>
    </td>
    <td><%= val[:description].html_safe %></td>
    <% if val[:partial].present? %>
      <td><%= render partial: val[:partial] %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
  <% end %>
</table>

  <h4>Processing queries</h4>
<table class="table table-striped">
  <tr><th>Field</th><th>Description</th></tr>
  <% [
    {field_name: 'no-further-processing:',
     description: "flag to prevent any further processing has been set"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
      <a href="javascript:void(0)" class="xyz searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
        <span class="blue"><%= val[:field_name] %></span>
      </a>
    </td>
    <td><%= val[:description].html_safe %></td>
    <% if val[:partial].present? %>
      <td><%= render partial: val[:partial] %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
  <% end %>
</table>


  <h4>Metadata queries</h4>
<table class="table table-striped">
  <tr><th>Field</th><th>Description</th></tr>
  <% [
    {field_name: 'created-by:',
     description: "match on created by field"},
    {field_name: 'updated-by:',
     description: "match on updated by field"},
    {field_name: 'not-created-by:',
     description: "non-match on created by field"},
    {field_name: 'not-created-by-batch:',
     description: "records note created by batch"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
      <a href="javascript:void(0)" class="xyz searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
        <span class="blue"><%= val[:field_name] %></span>
      </a>
    </td>
    <td><%= val[:description].html_safe %></td>
    <% if val[:partial].present? %>
      <td><%= render partial: val[:partial] %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
  <% end %>
</table>

