<div id="example-search-instance" class="example-search-tab">
<h3>Instance search examples</h3>

<h4 class="">Name queries</h4>
<table class="example-searches table table-striped">
  <% [
    {search_target: 'Instances', search_string: "Tristania",explanation: %Q(Find instances for names containing the term 'Tristania'. List the first 100.)},
    {search_target: 'Instances', search_string: "Tristania limit:200",explanation: %Q(Find instances for names containing the term 'Tristania'. List the first 200.)},
    {search_target: 'Instances', search_string: "Tristania type:basionym",explanation: %Q(Find basionym instances for names containing the term 'Tristania'.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <a href="javascript:void(0)" 
         class="example-search width-100-percent" 
         title="Link to search">
         <span class="blue"><%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue') %></span>
      </a>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

<h4 class="">Page queries</h4>
<table class="example-searches table table-striped">
  <% [
    {search_target: 'Instances', search_string: "page:140", explanation: %Q(instances with page 140.)},
    {search_target: 'Instances', search_string: "page:14*", explanation: %Q(instances with page 14*.)},
    {search_target: 'Instances', search_string: "page:*fig*", explanation: %Q(instances with figure information.)},
    {search_target: 'Instances', search_string: "page-qualifier:*", explanation: %Q(instances with extra page information.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <a href="javascript:void(0)" 
         class="example-search width-100-percent" 
         title="Link to search">
         <span class="blue"><%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue') %></span>
      </a>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

<h4 class="">Note queries</h4>
<table class="example-searches table table-striped">
  <% [
    {search_target: 'Instances', search_string: "note-key:apc dist.", explanation: %Q(instances with note key 'apc dist.'.)},
    {search_target: 'Instances', search_string: "note:*intermediate*", explanation: %Q(instances where 'intermediate' is noted.)},
    {search_target: 'Instances', search_string: "notes: *autonym* note-key: comment notes: *valid*",explanation: %Q(Find instances with note comments and two specific words in any order.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <a href="javascript:void(0)" 
         class="example-search width-100-percent" 
         title="Link to search">
         <span class="blue"><%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue') %></span>
      </a>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

<h4 class="">Verbatim name queries</h4>
<table class="example-searches table table-striped">
  <% [
    {search_target: 'Instances', search_string: "verbatim-name: platypus blakely",explanation: %Q(Find instances for a name that contains 'platypus' and 'blakely' in that order.)},
    {search_target: 'Instances', search_string: "verbatim-name-exact: * x *",explanation: %Q(Find instances with a verbatim name that contains an embedded " x ".)},
    {search_target: 'Instances', search_string: "verbatim-name-exact: * x * verbatim-name-matches-full-name:",explanation: %Q(Find instances with vebatim name containing an embedded " x " matches the full name.)},
    {search_target: 'Instances', search_string: "verbatim-name-exact: * x * verbatim-name-does-not-match-full-name:",explanation: %Q(Find instances with vebatim name containing an embedded " x " not matching the full name.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <a href="javascript:void(0)" 
         class="example-search width-100-percent" 
         title="Link to search">
           <span class="blue"><%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue') %></span>
      </a>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>


<h4 class="">Queries that use the reference year</h4>
<table class="example-searches table table-striped">
  <% [
    {search_target: 'Instances', search_string: "is-novelty: y:2015",explanation: %Q(Find instances with a "primary instance" type attached to a refererence published in the year 2015.)},
    {search_target: 'Instances', search_string: "desmocladus is-novelty: y:2014",explanation: %Q(Find instances for any names containing "desmocladus", with a "primary instance" type that are in a refererence published in the year 2015.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <a href="javascript:void(0)" 
         class="example-search width-100-percent" 
         title="Link to search">
         <span class="blue"><%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue') %></span>
      </a>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>



<h4 class="">Count instances</h4>
<table class="example-searches table table-striped">
  <% [{search_target: 'Instances', search_string: "count",explanation: %Q(Start with "count instance" to count instances.)},
      {search_target: 'Instances', search_string: "count acacia", explanation: %Q(Counting without listing should be faster than listing for large sets.)},
      {search_target: 'Instances', search_string: "count type:basionym", explanation: %Q(Count by type e.g. basionyms.)},
      {search_target: 'Instances', search_string: "count type:comb. nov.", explanation: %Q(Count comb. novs.)},
      {search_target: 'Instances', search_string: "count acacia type:basionym", explanation: %Q(Count by name and type e.g. basionyms.)},
      {search_target: 'Instances', search_string: "count acacia type:comb. nov.", explanation: %Q(Count by name and type e.g. comb. nov.)},
      {search_target: 'Instances', search_string: "count acacia type:basionym,comb. nov.", explanation: %Q(Count by name and allow two types.)},
      {search_target: 'Instances', search_string: "count adnot:*", explanation: %Q(Count instances with an Adnot (comment).)},
      {search_target: 'Instances', search_string: "count adnot-by:*", explanation: %Q(Count instances with an Adnot (comment) by someone.)},
      {search_target: 'Instances', search_string: "count cites-an-instance:", explanation: %Q(Count instances that cite another instance.)}
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <a href="javascript:void(0)" 
         class="example-search width-100-percent" 
         title="Link to search">
         <span class="blue"><%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue') %></span>
      </a>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

</div>

