<div id="example-search-instance" class="example-search-tab">
<h4>Instance search examples</h4>

<h5 class="">Name queries</h5>
<table class="example-searches table table-striped">
  <% [
    {search_target: 'Instances', search_string: "Tristania",explanation: %Q(Find instances for names containing the term 'Tristania'. List the first 100.)},
    {search_target: 'Instances', search_string: "Tristania limit:200",explanation: %Q(Find instances for names containing the term 'Tristania'. List the first 200.)},
    {search_target: 'Instances', search_string: "Tristania type:basionym",explanation: %Q(Find basionym instances for names containing the term 'Tristania'.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <a href="javascript:void(0)" 
         class="example-search width-100-percent" 
         title="Link to search">
         <span class="blue"><%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %></span>
      </a>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

<h5 class="">Page queries</h5>
<table class="example-searches table table-striped">
  <% [
    {search_target: 'Instances', search_string: "page:140", explanation: %Q(instances with page 140.)},
    {search_target: 'Instances', search_string: "page:14*", explanation: %Q(instances with page 14*.)},
    {search_target: 'Instances', search_string: "page:*fig*", explanation: %Q(instances with figure information.)},
    {search_target: 'Instances', search_string: "page-qualifier:*", explanation: %Q(instances with extra page information.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <a href="javascript:void(0)" 
         class="example-search width-100-percent" 
         title="Link to search">
         <span class="blue"><%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %></span>
      </a>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

<h5 class="">Note queries</h5>
<table class="example-searches table table-striped">
  <% [
         {search_target: 'Instances', search_string: "note-key:apc dist.", explanation: %Q(instances with note key 'apc dist.'.)},
         {search_target: 'Instances', search_string: "note:*intermediate*", explanation: %Q(instances where 'intermediate' is noted.)},
         {search_target: 'Instances', search_string: "notes: *autonym* note-key: comment notes: *valid*",explanation: %Q(Find instances with note comments and two specific words in any order.)},
         {search_target: 'Instances', search_string: "note-key-type-note: craven",explanation: %Q(Find instances with Type notes containing the word "craven".)},
         {search_target: 'Instances', search_string: "apc-comment-note-matches: NSW", explanation: %Q(Find instances with APC Comment notes matching regular expression "NSW".)},
         {search_target: 'Instances', search_string: "apc-dist-note-matches: NSw", explanation: %Q(Find instances with APC Dist. notes matching regular expression "NSw".)},
         {search_target: 'Instances', search_string: "apc-dist-note-matches: [^C]hI", explanation: %Q(Find instances with APC Dist. notes matching "hI" not preceded by "C".)},
         {search_target: 'Instances', search_string: "tree-dist-matches: \\?", explanation: %Q(Find instances with profile distribution containing "?".)},
         {search_target: 'Instances', search_string: "tree-dist-matches: [^C]hI", explanation: %Q(Find instances with profile distribution matching "hI" not preceded by "C".)},
         {search_target: 'Instances', search_string: "tree-comment-matches: \\?", explanation: %Q(Find instances with profile comment containing "?".)},
         {search_target: 'Instances', search_string: "non-tree-drafts:", explanation: %Q(Find draft instances not on a tree.)}
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <a href="javascript:void(0)" 
         class="example-search width-100-percent" 
         title="Link to search">
         <span class="blue"><%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %></span>
      </a>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

<h5 class="">Better Note queries (March 2019)</h5>
<p>These include the name of the type of instance note in the query directive.  The example therefore only work in databases with these types of notes.  See more in the Help.</p>
<table class="example-searches table table-striped">
  <% [
         {search_target: 'Instances', search_string: "etymology-note-matches: Darwin", explanation: %Q(Etymology instance note containing the word 'Darwin')},
         {search_target: 'Instances', search_string: "comment-note-matches: Lichenicolous", explanation: %Q(Comment instance note containing the word 'Lichenicolous')},
         {search_target: 'Instances', search_string: "distribution-note-matches:sa lichen-endemic-in-au-flag-note-matches: Y", explanation: %Q(A combined search on different types of notes.)},
         {search_target: 'Instances', search_string: "lichen-tag-note-matches: .*", explanation: %Q(Lichen instance note containing the word 'Lichen')},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <a href="javascript:void(0)" 
         class="example-search width-100-percent" 
         title="Link to search">
         <span class="blue"><%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %></span>
      </a>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

<h5 class="">Verbatim name queries</h5>
<table class="example-searches table table-striped">
  <% [
    {search_target: 'Instances', search_string: "verbatim-name: platypus blakely",explanation: %Q(Find instances for a name that contains 'platypus' and 'blakely' in that order.)},
    {search_target: 'Instances', search_string: "verbatim-name-exact: * x *",explanation: %Q(Find instances with a verbatim name that contains an embedded " x ".)},
    {search_target: 'Instances', search_string: "verbatim-name-exact: * x * verbatim-name-matches-full-name:",explanation: %Q(Find instances with verbatim name containing an embedded " x " matches the full name.)},
    {search_target: 'Instances', search_string: "verbatim-name-exact: * x * verbatim-name-does-not-match-full-name:",explanation: %Q(Find instances with verbatim name containing an embedded " x " not matching the full name.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <a href="javascript:void(0)" 
         class="example-search width-100-percent" 
         title="Link to search">
           <span class="blue"><%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %></span>
      </a>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>


<h5 class="">Reference queries</h5>
<table class="example-searches table table-striped">
  <% [
    {search_target: 'Instances', search_string: "is-novelty: y:2015",explanation: %Q(Find instances with a "primary instance" type attached to a refererence published in the year 2015.)},
    {search_target: 'Instances', search_string: "desmocladus is-novelty: y:2014",explanation: %Q(Find instances for any names containing "desmocladus", with a "primary instance" type that are in a refererence published in the year 2014.)},
    {search_target: 'Instances', search_string: "parent-ref-exact: George, A.S. (ed.) (1990), Flora of Australia. 18",explanation: %Q(Find instances for references whose parent reference has a citation matching the string supplied - which can contain wildcards.)},
    {search_target: 'Instances', search_string: "parent-ref-exact: George, A.S. (ed.) (1990), Flora of Australia. 18 page: *32*",explanation: %Q(Find instances for references with a parent having a citation matching the string supplied; the instances must have a page containing "32" .)},
    {search_target: 'Instances', search_string: "ref-exact: Cavanilles, A.J. (1797), Icones et Descriptiones Plantarum*",explanation: %Q(Find instances for references with a citation matching the string supplied - which can contain wildcards, as this one does.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <a href="javascript:void(0)" 
         class="example-search width-100-percent" 
         title="Link to search">
         <span class="blue"><%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %></span>
      </a>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

<h5 class="">Name queries</h5>
<table class="example-searches table table-striped">
  <% [
    {search_target: 'Instances',
     search_string: "y:2015 type: tax. nov. rank: species",
     explanation: %Q(Find tax. nov. instances published in 2015 for species.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <a href="javascript:void(0)" 
         class="example-search width-100-percent" 
         title="Link to search">
         <span class="blue"><%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %></span>
      </a>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>


<h5 class="">Reference type queries</h5>
<table class="example-searches table table-striped">
  <% [
    {search_target: 'Instances', search_string: "ref-type: herbarium annotation",explanation: %Q(Find instances based on a Herbarium annotation.)},
    {search_target: 'Instances', search_string: "ref-type: herb*",explanation: %Q(Find instances based on a Herbarium annotation.)},
    {search_target: 'Instances', search_string: "ref-type: herb* year: 2007",explanation: %Q(Find instances based on a Herbarium annotation from 2007.)},
    {search_target: 'Instances', search_string: "ref-type: herbarium annotation, personal communication year: 2010",explanation: %Q(Find instances based on Herbarium annotations or Personal communications from 2010.)},
    {search_target: 'Instances', search_string: "maslin ref-type: herbarium annotation, personal communication",explanation: %Q(Find instances based on Herbarium annotations or Personal communications that have 'maslin' in the taxon name.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <a href="javascript:void(0)" 
         class="example-search width-100-percent" 
         title="Link to search">
         <span class="blue"><%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %></span>
      </a>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>


<h5 class="">Assertions</h5>
<table class="example-searches table table-striped">
  <% [
      {search_target: 'Instances', 
       search_string: "is-tax-nov-for-orth-var-name:",
       explanation: %Q(Tax. nov. instances with an orth. var. name.)},
      {search_target: 'Instances', 
       search_string: "species-or-below-syn-with-genus-or-above:",
       explanation: %Q(Instances that synonymise a name ranked species or below
       with a name that is genus or above..)},
      {search_target: 'Instances', 
       search_string: "name: morna species-or-below-syn-with-genus-or-above:",
       explanation: %Q(Instances for names containing "morna" that
       synonymise a name ranked species or below with a name that is genus or
       above..)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <a href="javascript:void(0)" 
         class="example-search width-100-percent" 
         title="Link to search">
         <span class="blue"><%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %></span>
      </a>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

<h5 class="">Count instances</h5>
<table class="example-searches table table-striped">
  <% [{search_target: 'Instances', search_string: "count",explanation: %Q(Start with "count instance" to count instances.)},
      {search_target: 'Instances', search_string: "count acacia", explanation: %Q(Counting without listing should be faster than listing for large sets.)},
      {search_target: 'Instances', search_string: "count type:basionym", explanation: %Q(Count by type e.g. basionyms.)},
      {search_target: 'Instances', search_string: "count type:comb. nov.", explanation: %Q(Count comb. novs.)},
      {search_target: 'Instances', search_string: "count acacia type:basionym", explanation: %Q(Count by name and type e.g. basionyms.)},
      {search_target: 'Instances', search_string: "count acacia type:comb. nov.", explanation: %Q(Count by name and type e.g. comb. nov.)},
      {search_target: 'Instances', search_string: "count acacia type:basionym,comb. nov.", explanation: %Q(Count by name and allow two types.)},
      {search_target: 'Instances', search_string: "count adnot:*", explanation: %Q(Count instances with an Adnot (comment).)},
      {search_target: 'Instances', search_string: "count adnot-by:*", explanation: %Q(Count instances with an Adnot (comment) by someone.)},
      {search_target: 'Instances', search_string: "count cites-an-instance:", explanation: %Q(Count instances that cite another instance.)},
      {search_target: 'Instances', 
       search_string: "count is-tax-nov-for-orth-var-name:",
       explanation: %Q(Count tax. nov. instances with an orth-var name.)},
      ].each do |val| %>
  <tr>
    <td class="width-30-percent">
      <a href="javascript:void(0)" 
         class="example-search width-100-percent" 
         title="Link to search">
         <span class="blue"><%= link_to(val[:search_string], search_path(query_string: val[:search_string], query_target: val[:search_target]),class:'blue', title: "Run the described search.") %></span>
      </a>
    </td>
    <td><%= val[:explanation].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

</div>

