<h4>Searchable Instance fields</h4>
<h4>Name and Abbreviation</h4>
<table class="table table-striped">
  <tr>
    <th>Field</th>
    <th>Description</th>
  </tr>
  <% [
         {field_name: '', description: "default instance search is on name, see the next line for details"},
         {field_name: 'name:', description: "name, with leading and trailing wildcards added automatically and all embedded spaces treated as wildcards *"},
         {field_name: 'name-exact:', description: "full name, supply your own wildcards *"},
         {field_name: 'page:', description: "page *"},
         {field_name: 'page-qualifier:', description: "page-qualifier *"},
         {field_name: 'note:', description: "note, leading and trailing wildcards added automatically  **"},
         {field_name: 'note-exact:', description: "note  **"},
         {field_name: 'verbatim-name:', description: "Verbatim name string, leading and trailing wildcards added automatically *"},
         {field_name: 'verbatim-name-exact:', description: "Verbatim name string *"},
         {field_name: 'bhl:', description: "bhl *"},
     ].each do |val| %>
    <tr>
      <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
      </td>
      <td><%= val[:description].html_safe %></td>
      <% if val[:partial].present? %>
        <td><%= render partial: val[:partial] %></td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
  <% end %>
</table>

<p>* Supports search for empty fields.</p>
<br/>
<br/>

<h4>Note Searches (New March 2019)</h4>
<p>It is now possible to search for matching text in any
of the instance notes that exist in a given database.
<p>Each search directive can only search one note of a given kind ("note-key")
but multiple directives can be included in a search, where they will be ANDed.</p>

<p>e.g. 
    <pre>etymology-note-matches: Darwin</pre>
<p>In this example "etymology" is a type of instance note for the database.</p>

<p>(You can find a list of the available note types on the Note tab for any Instance record.)</p>

<p>Take any note type you're interested in and replace 'etymology' with it in the example above.</p>

<p>Likewise, put the text you're interested in the place of 'Darwin'.</p>

<p>Another example, this time showing how to use multiple words or part words with a space and other characters between:</p>

<pre>apc-dist.-note-matches: Darwin .*bark</pre>

<p>This would retrieve instances with an APC Dist. note that contains the 
word "darwin" followed by a space, one or more other characters followed by "bark".</p>

<p>These searches use regular expressions, so use ".*" instead of '%'.</p>

<p>These searches are <b>case-sensitive</b>.</p>
<br>
<h5>Examples:</h5>
<p>An instance with "San Francisco" in a type note and "H.M.Hall" in a comment note.</p>
    <pre>type-note-matches: San Francisco comment-note-matches: H.M.Hall</pre>
<p>An instance with a lectotype note (the not-null query for regular expressions):</p>
    <pre>lectotype-note-matches: .</pre>
<br>
<h5>Advanced Regular Expression Examples:</h5>
<p>An instance with a type note that <b>includes</b> "PERTH" followed by a full-stop then a double-quote:</p>
    <pre>type-note-matches: PERTH\."</pre>
    <p>An instance with a type note that <b>ends</b> with "PERTH" followed by exactly 2 characters then a double-quote:</p>
    <pre>type-note-matches: PERTH.."\Z</pre>
<p>An instance with a type note that ends with "PERTH" followed by at least 2 characters then a double-quote:</p>
    <pre>type-note-matches: PERTH..+"\Z</pre>
<p>An instance with a type note that ends with "PERTH" followed by a full-stop followed by a double-quote:</p>
    <pre>type-note-matches: PERTH\."\Z</pre>


<br>

<h4>Special Note Searches</h4>
<table class="table table-striped">
  <tr>
    <th>Field</th>
    <th>Description</th>
  </tr>
  <% [
         {field_name: 'note-key-type-note:', description: "Instances with the specified text in a note with a key of 'type'."},
         {field_name: 'apc-dist-note-matches:', description: "Regular expression matches on the APC Dist. instance note.  Case-sensitive."},
         {field_name: 'apc-comment-note-matches:', description: "Regular expression matches on the APC Comment instance note.  Case-sensitive."},
         {field_name: 'tree-dist-matches:', description: "Regular expression matches on the Distribution profile on the accepted tree.  Case-sensitive."},
         {field_name: 'tree-comment-matches:', description: "Regular expression matches on the Comment profile on the accepted tree.  Case-sensitive."},
         {field_name: 'non-tree-drafts:', description: "Find draft instances that are not on any tree."},
         {field_name: 'syn-with-note:', description: "Synonyms with at least one note."},
         {field_name: 'syn-with-adnot:', description: "Synonyms with at least one adnot."},
         {field_name: 'note-has-carriage-return:', description: "Find instances that have at least one instance note containing at least one carriage return. No argument is allowed or required for this directive."},
         {field_name: 'note-updated-by:', description: "Find instances that have at least one instance note last updated by the person (or jira number) you enter."},
     ].each do |val| %>
    <tr>
      <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
      </td>
      <td><%= val[:description].html_safe %></td>
      <% if val[:partial].present? %>
        <td><%= render partial: val[:partial] %></td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
  <% end %>
</table>

<h4>Coded fields</h4>
<table class="table table-striped">
  <tr>
    <th>Field</th>
    <th>Description</th>
  </tr>
  <% [
         {field_name: 'type:', description: "instance type"},
         {field_name: 'note-key:', description: "note key"},
     ].each do |val| %>
    <tr>
      <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
      </td>
      <td><%= val[:description].html_safe %></td>
      <% if val[:partial].present? %>
        <td><%= render partial: val[:partial] %></td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
  <% end %>
</table>

<h4>Assertions</h4>
<table class="table table-striped">
  <tr>
    <th>Field</th>
    <th>Description</th>
  </tr>
  <% [
         {field_name: 'cites-an-instance:', description: ""},
         {field_name: 'is-cited-by-an-instance:', description: ""},
         {field_name: 'does-not-cite-an-instance:', description: ""},
         {field_name: 'is-not-cited-by-an-instance:', description: ""},
         {field_name: 'verbatim-name-matches-full-name:', description: "Verbatim name string is the same as the instance name full name."},
         {field_name: 'verbatim-name-does-not-match-full-name:', description: "Verbatim name string is the same as the instance name full name."},
         {field_name: 'is-novelty:', description: "Primary instance type e.g. tax. nov.."},
         {field_name: 'is-tax-nov-for-orth-var-name:', description: "Instance is a tax. nov. type but the name is an orth. var."},
         {field_name: 'species-or-below-syn-with-genus-or-above:',
          description: "Instance synonymises a name ranked species or below with
       a name that is genus or above."},
     ].each do |val| %>
    <tr>
      <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
      </td>
      <td><%= val[:description].html_safe %></td>
      <% if val[:partial].present? %>
        <td><%= render partial: val[:partial] %></td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
  <% end %>
</table>

<h4>Reference fields</h4>
<table class="table table-striped">
  <tr>
    <th>Field</th>
    <th>Description</th>
  </tr>
  <% [
         {field_name: 'year:', description: "Publication year (an integer e.g. 2015) for the instance reference."},
         {field_name: 'ref-type:', description: "Type of reference the instance refers to."},
         {field_name: 'ref-exact:', description: "Matches against the reference citation - add your own wildcards."},
         {field_name: 'parent-ref-exact:', description: "Matches against the reference parent's citation - add your own wildcards."},
     ].each do |val| %>
    <tr>
      <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
      </td>
      <td><%= val[:description].html_safe %></td>
      <% if val[:partial].present? %>
        <td><%= render partial: val[:partial] %></td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
  <% end %>
</table>

<h4>Name fields</h4>
<table class="table table-striped">
  <tr>
    <th>Field</th>
    <th>Description</th>
  </tr>
  <% [
         {field_name: 'rank:', description: "Name rank e.g. species.
       Case-insensitive.  Allows wildcards, but not lists."},
     ].each do |val| %>
    <tr>
      <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
      </td>
      <td><%= val[:description].html_safe %></td>
      <% if val[:partial].present? %>
        <td><%= render partial: val[:partial] %></td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= render partial: 'instances/advanced_search/adnot_help' %>
<%= render partial: 'help/id_search_help' %>
<%= render partial: 'help/case_and_wildcards_search' %>


