<% @instance_note = instance_note %>


<%= form_for(@instance_note, remote: true, class: 'instance-note-edit-form') do |f| %>
  <% if @instance_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instance_note.errors.count, "error") %> prohibited this instance_note from being saved:</h2>

      <ul>
      <% @instance_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field(:instance_id, value: @instance.id) %>

   <table class="width-100-percent">
    <tr>
      <td class="align-top width-25-percent">
      <%= lov_select_field("instance_note", 
                       "instance_note_key_id",  
                       options, 
                       {include_blank: true },
                       {data: {update_url: instance_note_path,
                                           instance_note_id: @instance_note.id}, 
                        id: "instance-note-key-id-select-#{@instance_note.id}",
                        class:'instance-note-key-id-select form-control give-me-focus', 
                        title: "Select type of note", required: true, tabindex:"#{increment_tab_index}"},
                       '') %>
    </td>
    <td>

      <%=  f.text_area(:value, 
                       rows: '3', 
                       class: 'width-100-percent instance-note-value-text-area',
                       title: 'Enter the note text',
                       required: true,
                       tabindex: increment_tab_index,
                       data: {instance_note_id: @instance_note.id}, 
                       id: "instance-note-value-text-area-#{@instance_note.id}",
                       ) %>
    </td>
    </tr>
    <tr>
      <td>
        <%= f.submit id: "instance-note-create-btn", 
                     class: "btn btn-primary width-6em", 
                     tabindex: increment_tab_index, 
                     title: "Select to save the note.",
                     value: "Create Note" %>
      </td>
      <td class="align-right">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div id="message-for-new-instance-note" class="message-container"></div>
      </td>
    </tr>
  </table>
  <%= divider %>
<% end %>

