<% delete_link = link_to("Delete Instance",
                         '#',
                         id: "instance-delete-link",
                         class: "btn btn-warning unconfirmed-delete-link pull-right",
                         title: "Delete the instance.",
                         tabindex: increment_tab_index,
                         data: {show_this_id: "confirm-or-cancel-link-container"})
-%>
<% if @instance.allow_delete? %>

  <% if @instance.this_is_cited_by&.accepted_concept? %>
    <div class="text-warning">Note: if you delete this instance you are changing the synonymy of an accepted
      concept.
    </div>
  <% end %>

  <% confirm_delete_link = link_to("Confirm delete",
                                   instance_path(@instance.id),
                                   class: "btn btn-danger",
                                   tabindex: increment_tab_index,
                                   title: "Confirm the delete.",
                                   remote: true,
                                   method: :delete)
  -%>

  <% cancel_delete_link = link_to("Cancel delete",
                                  '#',
                                  id: "cancel-delete-link",
                                  class: "btn btn-default cancel-link",
                                  title: "Cancel the delete.",
                                  tabindex: increment_tab_index,
                                  data: {enable_this_id: 'instance-delete-link',
                                         hide_this_id: 'confirm-or-cancel-link-container'})
  -%>

  <% confirm_or_cancel_element = %Q(<div id="confirm-or-cancel-link-container"
                                  class="instance-note confirm-or-cancel-delete-link pull-right hidden">
                                  #{confirm_delete_link}
  #{cancel_delete_link}</div>)
  -%>
  <div class="actions"> <%= delete_link.html_safe %> </div>
  <div class="width-100-percent"> <%= confirm_or_cancel_element.html_safe %> </div>
<% else %>
  You cannot delete this instance.
  <br>
  <% if @instance.in_apc? %>
    Instance is in APC.
    <br>
  <% end %>
  <% if @instance.instance_notes.size > 0 %>
    <span title="See the Notes tab."><%= "Instance notes: #{@instance.instance_notes.size} (see the 'Notes' tab)" %></span>
    <br>
  <% end %>
  <% if @instance.reverse_of_this_cites.size > 0 %>
    <%= link_to("Instance is cited: #{@instance.reverse_of_this_cites.size} &nbsp; #{gray_search_icon}".html_safe,
                search_path(query_string: @instance.id.to_s,
                            query_target: 'instance is cited'),
                title: "Query the instances") %>
    <br>
  <% end %>
  <% if @instance.reverse_of_this_is_cited_by.size > 0 %>
    <%= link_to("Instance cited by #{citation_summary(@instance)} &nbsp; #{gray_search_icon}".html_safe,
                search_path(query_string: @instance.id.to_s, query_target: 'instance is cited by'),
                title: "Query the instances this is cited by.") %>
    <br>
  <% end %>
  <% if @instance.comments.size > 0 %>
    <span title="See the Adnot tab."><%= "Instance Adnot: #{@instance.comments.size} (see the 'Adnot' tab)" %></span>
    <br>
  <% end %>
  <% unless @instance.children.empty? %>
    Instance <%= @instance.id %> has children: <%= @instance.children.collect {|i| i.id}.join(',') %>
    <br>
    <%= link_to("See instance and children".html_safe,
                search_path(query_string: "id: #{@instance.id},#{@instance.children.collect {|i| i.id}.join(',')}", query_target: 'instances'),
                title: "Query the instances.") %>
    <br> 
  <% end %>
  <br>
<% end %>
<br>

<div class="error-message-container"></div>
