<%= form_for(@instance, remote: true) do |f| %>

    <%= show_field_as_linked_lookup('',@instance.name,'full_name', new_search_path(query_string: %Q(id:#{@instance.name_id}),query_target: 'name'),'name') %>
    appears in reference*

    <div class="typeahead-container">
      <section class='block width-100-percent'>
        <input id="instance-reference-typeahead"
               class="typeahead form-control width-100-percent give-me-focus" 
               title="Enter the reference.  Typeahead for reference citation, allows unordered fragments."
               required="true"
               tabindex="<%= increment_tab_index %>"
               type="text" 
               placeholder="Reference wildcarded order-insensitive citation search"
               value="<%= @instance.reference.try('title') %>"/>
      </section>
    </div>

    <script> setUpInstanceReference(); </script>

    as an instance type*
    <%= render partial: 'detail_line', locals: {
            info: f.select(:instance_type_id, InstanceType.standalone_options,{include_blank: true},
                           {value: @instance.instance_type_id,data:{update_url: instance_path},
                            class: 'form-control width-50-percent', title: "Select instance type",
                            required: true, tabindex: increment_tab_index}),
            label:''
    }
    %>
    <%= show_field('','on page') %>
    <%= f.text_field :page, title: "Enter page details", tabindex: increment_tab_index %>
    <br>
    with verbatim name
    <br>
    <%= f.text_field :verbatim_name_string, class: "form-control", title: "Enter verbatim name", tabindex: increment_tab_index %>
    and BHL URL
    <%= f.text_field :bhl_url, class: "form-control", title: "Enter BHL URL", tabindex: increment_tab_index %>
    <br>
    <%= f.hidden_field :name_id %>
    <%= f.hidden_field :reference_id %>
    <br>
    <%= f.submit class: 'btn-primary', title: "Save changes", tabindex: increment_tab_index %>
    <br>
    <br>
    <% refresh_page_link = link_to("Refresh page",
                                   '#', 
                                   id: "refresh-page-from-details-link",
                                   class: "btn btn-default hidden",
                                   title: "Refresh page",
                                   tabindex: increment_tab_index,
                                   data: {instance_note_id: @instance.try('id')}) 
   %>
   <%= refresh_page_link %>
<% end %>



