<% if @instance.this_is_cited_by&.accepted_concept? %>
  <div class="alert alert-warning">Note: if you edit this instance you are changing the synonymy of an
    accepted concept.
  </div>
<% end %>
<%= form_for(@instance, remote: true) do |f| %>
    <% if @instance.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@instance.errors.count, "error") %> prohibited this instance from being saved:</h2>

            <ul>
                <% @instance.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
      <% end %>
      
    <%= @instance.name.full_name %>
    <br> 
    is cited under
    <br> 
    <%= @instance.this_is_cited_by.name.full_name %>
    <br> 
    by
    <br>
  <%= link_to(@instance.this_is_cited_by.try('reference').try('citation'),
              search_path(query_string: %Q(id:#{@instance.this_is_cited_by.reference_id}),query_target: 'reference'),title: 'cited by reference') %>:<%= @instance.page %>
    as a*
    <br>
    <%= f.select(:instance_type_id, 
                 InstanceType.unpublished_citation_options,{include_blank: true},
                 {value: @instance.instance_type_id,data:{update_url: instance_path},
                  class: 'form-control width-50-percent give-me-focus', title: 'Select instance type', 
                  required: true, tabindex: increment_tab_index})
    %>
    on page
    <br>
    <%= f.text_field :page, title: 'Enter page details', tabindex: increment_tab_index %>
    <br>
    with BHL URL
    <br>
    <%= f.text_field :bhl_url, class: "form-control", title: 'Enter BHL URL', tabindex: increment_tab_index %>
    <br>
    <%= hidden_field :instance, :id, value: @instance.id, name: 'for-bloodhound-js-use-only' %>
    <%= f.hidden_field :name_id, value: @instance.name_id %>
    <%= f.hidden_field :cites_id, value: @instance.cites_id %>
    <br>
    <div id="form-update-info-message-container" class="message-container"></div>
    <div id="form-update-error-message-container" class="message-container error-container"></div>
    <%= f.submit class: 'btn-primary pull-right', title: 'Save changes', tabindex: increment_tab_index %>
    <br>
    <br>
<% end %>




