<% if @instance.this_is_cited_by&.accepted_concept? %>
  <div class="alert alert-warning">Note: if you edit this instance you are changing the synonymy of an accepted
    concept.
  </div>
<% end %>
<%= form_for(@instance, remote: true) do |f| %>
  <% if @instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instance.errors.count, "error") %> prohibited this instance from being saved:</h2>

      <ul>
        <% @instance.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= @instance.name.full_name %>
  <br>
  in*
  <div class="typeahead-container">
    <section class='block width-100-percent'>
      <input id="instance-instance-for-name-showing-reference-typeahead"
             name="instance[instance_for_name_showing_reference_typeahead]"
             class="typeahead form-control width-100-percent give-me-focus"
             title="Enter cites reference.  Typeahead using reference citation resticted to instances of the current name."
             tabindex="<%= increment_tab_index %>"
             required="true"
             type="text"
             placeholder="Cites reference typeahead on citation"
             value="<%= @instance.this_cites.reference.citation %>"/>
    </section>
  </div>
  <script> setUpInstanceInstanceForNameShowingReferenceUpdate(); </script>
  is cited under
  <br>
  <%= @instance.this_is_cited_by.name.full_name %>
  <br>
  by
  <br>
  <%= @instance.reference.citation %>
  <br>
  on page
  <br>
  <%= f.text_field :page, title: 'Enter page details', tabindex: increment_tab_index %>
  <br>
  as a*
  <br>
  <%= f.select(:instance_type_id,
               InstanceType.synonym_options, {include_blank: true},
               {value: @instance.instance_type_id, data: {update_url: instance_path},
                class: 'form-control width-50-percent', title: 'Enter instance type',
                required: true, tabindex: increment_tab_index})
  %>
  with verbatim name
  <%= f.text_field :verbatim_name_string, class: "form-control", title: 'Enter verbatim name', tabindex: increment_tab_index %>
  with BHL URL
  <%= f.text_field :bhl_url, class: "form-control", title: 'Enter BHL URL', tabindex: increment_tab_index %>
  <br>
  <br>
  <%= hidden_field :instance, :id, value: @instance.id, name: 'for-bloodhound-js-use-only' %>
  <%= f.hidden_field :name_id, value: @instance.name_id %>
  <%= f.hidden_field :cites_id, value: @instance.cites_id %>
  <div id="multiple-primary-override" class="form-check hidden">
    <br>
    <label class="green form-check-label">
      <%= f.check_box(:multiple_primary_override, {title: "Over-ride the warning message"}) %>
      Ignore the warning and create an extra primary.
    </label>
  </div>
  <div id="concept-warning" class="form-check hidden">
    <br>
    <label class="green form-check-label">
      <%= f.check_box(:concept_warning_bypassed, {title: "Over-ride the warning message"}) %>
      Ignore the warning and create the synonym.
    </label>
  </div>   <%= f.submit class: 'btn-primary pull-right', title: 'Save changes', tabindex: increment_tab_index %>
  <br>
  <div id="form-update-info-message-container" class="message-container"></div>
  <div id="form-update-error-message-container" class="message-container error-container"></div>
  <br>
<% end %>



