<div class="focus-details 
  <%= 'fresh' if @instance.fresh? %>">
  <% tab_tab_index = @tab_index %>
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <div class="inner">
    <h3 class="heading-for-show-details">
      <%= link_to "#{@instance.type_of_instance} instance",
        search_path(query_string: "id: #{@instance.id}",
                    query_target: 'instance'), 
                    title:"Query this instance." %>
      <span class="pull-right"><%= mapper_instance_link(@instance) %></span>
    </h3>

    <%= render partial: "#{'instances/tabs/tabs'}" %>
    <%= render partial: "instances/tabs/#{tab_for_instance_type(@tab,params['row-type'])}" %>


    <br>
    <span class='server-response-time'><%= "(#{(Time.now - @start_time).round(2)}s)" if @start_time %></span>

  </div><!-- /end .inner -->
</div><!-- /end .focus-details -->


