<% if @name.allow_delete? %>
  <br>
  <% delete_link = link_to("Delete...",
                           '#',
                           id: "name-delete-link",
                           class: "btn btn-warning unconfirmed-delete-link pull-right",
                           title: "Delete #{@name.full_name}",
                           tabindex: increment_tab_index,
                           data: {show_this_id: "confirm-or-cancel-link-container"})
  -%>
  <%= delete_link.html_safe %> 

  <div class="width-100-percent"> 

  <div id="confirm-or-cancel-link-container" class="confirm-or-cancel-delete-link hidden">
  <%= render partial: 'names_deletes/new' %>
  </div>

</div>
<% else %>
  Cannot delete:
  <% if @name.instances.size > 0 %>
    <br>
    <%= link_to("#{pluralize(@name.instances.size,'instance')} #{icon('search')}".html_safe, 
                        search_path(query: "id: #{@name.id}", 
                        query_on: 'instance',
                        query_field: 'name-instances'),
                        tabindex: increment_tab_index,
                        title: "Search for the #{pluralize(@name.instances.size,'instance')}",
                        class: '') %>
  <% end %>
  <% if @name.children.size > 0 %>
    <br>
  <%= link_to("#{pluralize(@name.children.size,'child')} #{icon('search')}".html_safe,
    search_path(query: "parent-id: #{@name.id}",
                        query_field: 'name'),
                        tabindex: increment_tab_index,
                        title: "Retrieve #{pluralize(@name.children.size,'child')}.",
                        class: '') %>
  <% end %>
  <% if @name.comments.size > 0  %>
    <br>
    <%= pluralize(@name.comments.size,'Comment') %>
  <% end %>
  <% if @name.duplicates.size > 0  %>
    <br>
    <%= render partial: "names/widgets/duplicates" %>
  <% end %>

<% end %>
<br>

<div class="error-message-container"></div>
