  <h4>Searchable Name fields</h4>
  <% link_example = link_to('*costata', search_path(query_string: '*costata', query_target: 'name'),class:'blue', title:"Run the described search.") %>
  <h5>Name</h5>
<table class="table table-striped">
  <tr><th>Field</th><th>Description</th></tr>
  <% [
    {field_name: '',
     description: "Default search is on the fully qualified <span
     class='purple'>name</span>, see more about name search below."},
    {field_name: 'name:',
     description: "Name refers to the fully qualified name, with authorities.
     <br>Leading and trailing wildcards are added to your search term. *"},
    {field_name: 'name-exact:',
     description: "This searches the same fully qualified name field as name: \
     (above), but no wildcards are added. *"},
    {field_name: 'simple-name:',
     description: %Q(Simple name is the full name without the authorities. e.g.
     "Acacia" in "Acacia Mill.", "Banksia paludosa" in "Banksia paludosa R.Br.".
     <br>Leading and trailing wildcards are added to your search term. *)},
    {field_name: 'simple-name-exact:',
     description: "This searches the same fully qualified name field as \
     simple-name: (above), but no wildcards are added. *"},
    {field_name: 'name-element:',
     description: %Q(Name element is the unique part of the name. e.g. \
     "Acacia" in "Acacia Mill.", "paludosa" in "Banksia paludosa R.Br.".
     <br>Leading and trailing wildcards are added to your search term. *)},
    {field_name: 'name-element-exact:',
     description: "This searches the same fully qualified name field as \
     name-element: (above), but no wildcards are added. *"},
    {field_name: 'verbatim-rank:',
     description: "Searches verbatim rank. Adds wildcards at both ends."},
    {field_name: 'name-path:',
     description: "Searches the name path field, which is mostly hidden but used for sorting. You can add your own wildcards."},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
      <a href="javascript:void(0)" class="xyz searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
        <span class="blue"><%= val[:field_name] %></span>
      </a>
    </td>
    <td><%= val[:description].html_safe %></td>
    <% if val[:partial].present? %>
      <td><%= render partial: val[:partial] %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
  <% end %>
</table>

<p>* Supports search for empty fields.</p>
<p>** Supports search for non-existing field.</p>

  <h5>Coded fields</h5>
<table class="table table-striped">
  <tr><th>Field</th><th>Description</th><th>Values</th></tr>
  <% [
      {field_name: 'rank:', description: "name rank, allows comma-separated multiple values",partial: "name_ranks/list_for_search_help"},
      {field_name: 'status:', description: "name status, allows comma-separated multiple values",partial: "name_statuses/list_for_search_help"},
      {field_name: 'type:', description: "name type, allows comma-separated multiple values",partial: "name_types/list_for_search_help"}
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
      <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
        <span class="blue"><%= val[:field_name] %></span>
      </a>
    </td>
    <td><%= val[:description].html_safe %></td>
    <% if val[:partial].present? %>
      <td><%= render partial: val[:partial] %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
  <% end %>
</table>
<p>Rank, status and type are mandatory fields so there is no point searching for empty values.</p>
<br/>
  <h5>Authorities</h5>
<table class="table table-striped">
  <tr><th>Field</th><th>Description</th></tr>
  <% [
      {field_name: 'author:', description: "author abbreviation *"},
      {field_name: 'ex-author:', description: "ex-author abbreviation *"},
      {field_name: 'base-author:', description: "base author abbreviation *"},
      {field_name: 'ex-base-author:', description: "ex-base author abbreviation *"},
      {field_name: 'sanctioning-author:', description: "sanctioning author abbreviation *"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<p>* Supports search for empty fields - use the -id version e.g. author-id:.</p>
<br/>

<h5>Assertions</h5>
  <h6>Missing authorities</h6>
<table class="table table-striped">
  <tr><th>Field</th><th>Description</th></tr>
  <% [
      {field_name: 'has-no-author:', description: "has no author abbreviation"},
      {field_name: 'has-no-ex-author:', description: "has no ex-author abbreviation"},
      {field_name: 'has-no-base-author:', description: "has no base author abbreviation"},
      {field_name: 'has-no-ex-base-author:', description: "has no ex-base author abbreviation"},
      {field_name: 'has-no-sanctioning-author:', description: "has no sanctioning author abbreviation"},
      {field_name: 'has-no-authors:', description: "has no authors of any kind"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>


<h6>Duplication Assertions</h6>
<table class="table table-striped">
  <% [
      {field_name: 'is-a-duplicate:', description: "marked as a duplicate"},
      {field_name: 'is-not-a-duplicate:', description: "not marked as a duplicate"},
      {field_name: 'duplicate-simple-names:', description: "not actually an assertion, but related: more than one name with the same 'simple' name value"},
      {field_name: 'duplicate-full-names:', description: "not actually an assertion, but related: more than one name with the same 'full' name value"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>


<h6>Parent-Child Assertions</h6>
<table class="table table-striped">
  <% [
      {field_name: 'is-a-parent:', description: "records exist with this marked as their parent"},
      {field_name: 'is-not-a-parent:', description: "no records exist with this marked as their parent"},
      {field_name: 'has-no-parent:', description: "has no parent"},
      {field_name: 'is-a-child:', description: "has a parent"},
      {field_name: 'is-not-a-child:', description: "has no parent"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>


<h6>Second Parent-Child Assertions</h6>
<table class="table table-striped">
  <% [
      {field_name: 'is-a-second-parent:', description: "a record exists with this as its second parent"},
      {field_name: 'is-not-a-second-parent:', description: "no record exists with this as its second parent"},
      {field_name: 'has-a-second-parent:', description: "has second parent"},
      {field_name: 'has-no-second-parent:', description: "has no second parent"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>


<h6>Instance Assertions</h6>
<table class="table table-striped">
  <% [
      {field_name: 'has-instances:', description: "instances exist for this name"},
      {field_name: 'has-no-instances:', description: "no instances exist for this name"},
      {field_name: 'has-no-primary-instance:', description: "the name has at least one instance but no primary instance"},
      {field_name: 'has-multiple-primary-instances:', description: "the name has at least two primary instances"},
      {field_name: 'is-orth-var-with-no-orth-var-instances:', description: "name has status orth. var. but it has no orthographic variant type instance"},
      {field_name: "is-orth-var-and-sec-ref-first:",
       description: "name status orth. var. but earliest instance \
       (by reference year) is a secondary reference"},
      {field_name: "has-multiple-basionyms:",
       description: "name has at least one standalone instance which is itself \
       cited by more than 1 basionym usage"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>


<h5>Associated Reference Search</h5>
<table class="table table-striped">
  <% [
      {field_name: 'ref-title:', description: "exact search on refence title associated with the name (supply your own wildcards)"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

<h5>Accepted Instance Note Search</h5>
<table class="table table-striped">
  <% [
      {field_name: 'instance-note:', description: "look for names with at least one instance note containing the string you enter after the directive"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>

<h5>Name Status Assertion or Category Search</h5>
<table class="table table-striped">
  <% [
      {field_name: 'name-status-nom-illeg:', description: "look for names with a status in the category 'nom. illeg.'"},
      {field_name: 'nom-illeg:', description: "look for names with a status in the category 'nom. illeg.'"},
      {field_name: 'name-status-nom-inval:', description: "look for names with a status in the category 'nom. inval.'"},
      {field_name: 'nom-inval:', description: "look for names with a status in the category 'nom. inval.'"},
      {field_name: 'nom-inval-with-orth-var:', description: "look for names with a status in the category 'nom. inval.' attached to orth var instances"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

<h5>Accepted Tree Search</h5>
<table class="table table-striped">
  <% [
      {field_name: 'in-accepted-tree:', description: "restrict names to those explicitly accepted in or excluded from the accepted tree"},
      {field_name: 'accepted-in-accepted-tree:', description: "restrict names to those explicitly accepted in the accepted tree"},
      {field_name: 'excluded-in-accepted-tree:', description: "restrict names to those explicitly excluded from the accepted tree"},
      {field_name: 'not-in-accepted-tree:', description: "restrict names to those not explicitly accepted in or excluded from the accepted tree"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

<%= render partial: 'comments/advanced_search/help' %>
<%= render partial: 'help/id_search_help' %>
<%= render partial: 'help/case_and_wildcards_search' %>
