<div id="advanced-search-name-form-container" class="">
  <form class="form-inline">
  <input name="search_target" value="names" type="hidden" />
  <input name="search_from" value="fields" type="hidden" />
<table class="table advanced-form-table" class="table table-bordered" >
  <tr><td class="width-12-percent">List/count</td> 
    <td class="align-right width-15-percent">
      <label class="plain" for="list-or-count">Options</label>
    </td>
    <td>
      <select id="name-advanced-search-list-or-count" name="list_or_count" class="form-control">
        <option value='count'>count records</option>
        <option value='list' selected='selected'>list results</option>
    </select>
    </td>
  </tr>
  <!--
  <tr>
    <td></td>
    <td class="align-right width-15-percent">
    </td>
    <td>
    <%#= radio_button_tag(:name_limited, "true", class:'form-control') %>
    <%#= label_tag(:name_limited_true, "limited") %>
    <%#= radio_button_tag(:name_limited, "false", class:'form-control') %>
    <%#= label_tag(:name_limited_false, "unlimited") %>
    </td>
  </tr>
  -->
  <tr>
    <td></td>
    <td class="align-right width-15-percent">
      <label class="plain" for="query-on">Size</label>
    </td>
    <td>
      <input id="name-advanced-search-set-size" name="name_search_name" value="100" type="number" class="form-control min-width-10em" placeholder="Number of records for a list search" min="1" max="1000"/>
    </td>
  </tr>
</table>
  </form>



<form class="form-inline">
  <table class="table advanced-form-table" class="table table-bordered" >
  <tr> <td class="width-12-percent">Name</td>
    <td class="align-right width-15-percent">
    </td>
    <td>
      <input id="name-advanced-search-name" name="name_search_name" value="" type="text" class="form-control min-width-20em" placeholder="Name string, with optional wildcard (*)"/>
    </td>
  </tr>
  </table>
</form>



  <form class="form-inline">
<table class="table advanced-form-table" class="table table-bordered" >
  <tr> <td class="width-12-percent">Type</td>
    <td class="align-right width-15-percent">
      <label class="plain" for="query-on">Options</label>
    </td>
    <td>
<select id="name-advanced-search-name-type-options" style="height: 10em;" class="form-control" title="Name type options. Comma-separated list. Or wildcard." multiple="multiple">
<optgroup label="Scientific">
<option class="" value="autonym">autonym</option>
<option class="" value="hybrid autonym">hybrid autonym</option>
<option class="" value="hybrid formula parents known">hybrid formula parents known</option>
<option class="" value="hybrid formula unknown 2nd parent">hybrid formula unknown 2nd parent</option>
<option class="" value="intergrade">intergrade</option>
<option class="" value="named hybrid">named hybrid</option>
<option class="" value="named hybrid autonym">named hybrid autonym</option>
<option class="" value="phrase name">phrase name</option>
<option class="" value="sanctioned">sanctioned</option>
<option class="" value="scientific">scientific</option>
</optgroup>
<optgroup label="Cultivars">
<option class="" value="cultivar">cultivar</option>
<option class="" value="cultivar hybrid">cultivar hybrid</option>
<option class="" value="cultivar hybrid formula">cultivar hybrid formula</option>
<option class="" value="graft/chimera">graft/chimera</option>
</optgroup>
<optgroup label="Common, informal">
<option class="" value="common">common</option>
<option class="" value="informal">informal</option>
</optgroup>
<optgroup label="Other">
<option class="" value="[default]">[default]</option>
<option class="" value="[n/a]">[n/a]</option>
<option class="" value="[unknown]">[unknown]</option>
</optgroup>
</select>
    </td>
  </tr>

  <tr>
    <td></td>
    <td class="align-right">
      <label class="plain" for="query-on"></label>
    </td>
    <td>
      <input id="name-advanced-search-name-type-list" name="name_search_author_abbrev" 
             value="" type="text" style="width: 100%" class="form-control min-width-20em width-100-percent" 
             placeholder="Comma-separated list of types">
    </td>
  </tr>
</table>
  </form>
<form class="form-inline">
  <table class="table advanced-form-table" class="table table-bordered" >
    <tr> <td class="width-12-percent">Rank</td>
    <td class="align-right width-15-percent">
      <label class="plain" for="query-on">Rank</label>
    </td>
    <td>
      <%= select_tag('name_search_name_rank_id', 
                     options_for_select(NameRank.query_form_options),
                     title: 'Select one name rank', 
                     include_blank: true,
                     autocomplete: "off", 
                     class: "form-control give-me-focus") 
                   %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right">
      <label class="plain" for="query-on">List of ranks</label>
    </td>
    <td>
      <input id="name-advanced-search-name-rank-list" name="name_search_author_abbrev" 
             value="" type="text" class="form-control min-width-20em" 
             placeholder="Comma-separated list of name ranks">
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right">
      <label class="plain" for="query-on">Ranked below</label>
    </td>
    <td>
      <%= select_tag('name_search_name_ranked_below', 
                     options_for_select(NameRank.query_form_ranked_below_options),
                     title: 'Select one name rank', 
                     autocomplete: "off", 
                     include_blank: true,
                     class: "form-control give-me-focus") 
                   %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right">
      <label class="plain" for="query-on">Ranked above</label>
    </td>
    <td>
      <%= select_tag('name_search_name_ranked_above', 
                     options_for_select(NameRank.query_form_ranked_above_options),
                     title: 'Select one name rank', 
                     autocomplete: "off", 
                     include_blank: true,
                     class: "form-control give-me-focus") 
                   %>
    </td>
  </tr>
  </table>
</form>



<form class="form-inline">
  <table class="table xadvanced-form-table" class="table table-bordered" >
    <tr> <td class="width-12-percent">Status</td>
    <td class="align-right width-15-percent">
      <label class="plain" for="query-on">Options</label>
    </td>
    <td>
      <%= select_tag('name_search_name_status_id', 
                     options_for_select(NameStatus.query_form_options),
                     title: 'Select one status', 
                     include_blank: true,
                     autocomplete: "off", 
                     class: "form-control give-me-focus") 
                   %>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right">
    </td>
    <td>
      <input id="name-advanced-search-name-status-list" name="name_search_author_abbrev" 
             value="" type="text" class="form-control min-width-20em" 
             placeholder="Comma-separated list of statuses">
    </td>
  </tr>
</table>
  </form>
  <form class="form-inline">
<table class="table advanced-form-table" class="table table-bordered" >
  <tr> <td class="width-12-percent">Authors</td>
    <td class="align-right width-15-percent">
      <label class="plain" for="query-on">Author</label>
    </td>
    <td>
      <input id="name-advanced-search-author-abbrev" name="name_search_author_abbrev" value="<%= @search.try('name_search_author_abbrev') %>" type="text" class="form-control min-width-20em" placeholder="Use standard abbreviations"/>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right">
      <label class="plain" for="query-on">Ex Author</label>
    </td>
    <td>
      <input id="name-advanced-search-ex-author-abbrev" name="name_search_ex_author_abbrev" value="<%= @search.try('name_search_ex_author_abbrev') %>" type="text" class="form-control min-width-20em" placeholder="Use standard abbreviations"/>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right">
      <label class="plain" for="query-on">Base Author</label>
    </td>
    <td>
      <input id="name-advanced-search-base-author-abbrev" name="name_search_base_author_abbrev" value="<%= @search.try('name_search_base_author_abbrev') %>" type="text" class="form-control min-width-20em" placeholder="Use standard abbreviations"/>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right">
      <label class="plain" for="query-on">Ex-Base Author</label>
    </td>
    <td>
      <input id="name-advanced-search-ex-base-author-abbrev" name="name_search_ex_base_author_abbrev" value="<%= @search.try('name_search_ex_base_author_abbrev') %>" type="text" class="form-control min-width-20em" placeholder="Use standard abbreviations"/>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right">
      <label class="plain" for="query-on">Sanctioning Author</label>
    </td>
    <td>
      <input id="name-advanced-search-sanctioning-author-abbrev" name="name_search_sanctioning_author_abbrev" value="<%= @search.try('name_search_sanctioning_author_abbrev') %>" type="text" class="form-control min-width-20em" placeholder="Use standard abbreviations"/>
    </td>
  </tr>
  </table>
</form>
<form class="form-inline">
  <table class="table advanced-form-table" class="table table-bordered" >
  <tr> <td class="width-12-percent">Comments</td>
    <td class="align-right width-15-percent">
      <label class="plain" for="query-on">Comments</label>
    </td>
    <td>
      <input id="name-advanced-search-comments" name="name_search_comments" value="<%= @search.try('name_search_comments') %>" type="text" class="form-control min-width-20em" placeholder=""/>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right width-15-percent">
      <label class="plain" for="query-on">Comments By</label>
    </td>
    <td>
      <input id="name-advanced-search-comments-by" name="name_search_comments_by" value="<%= @search.try('name_search_comments_by') %>" type="text" class="form-control min-width-20em" placeholder=""/>
    </td>
  </tr>
  </table>
</form>
<form class="form-inline">
  <table class="table advanced-form-table" class="table table-bordered" >
  <tr> <td class="width-12-percent">Assertions</td>
    <td class="align-right width-15-percent">
      <label class="plain" for="query-on">Duplication</label>
    </td>
    <td> <label class="plain"><input type="checkbox" class="name-search-assertion" id="name-is-a-duplicate" value="is-a-duplicate:"> Is a duplicate</label> </td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right width-15-percent">
    </td>
    <td> <label class="plain"><input type="checkbox" class="name-search-assertion" id="name-is-not-a-duplicate" value="is-not-a-duplicate:"> Is not a duplicate </label></td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right width-15-percent">
      <label class="plain" for="query-on">Parent</label>
    </td>
    <td> <label class="plain"><input type="checkbox" class="name-search-assertion" id="name-is-a-parent" value="is-a-parent:"> Is a parent </label></td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right width-15-percent">
    </td>
    <td> <label class="plain"><input type="checkbox" class="name-search-assertion" id="name-is-not-a-parent" value="is-not-a-parent:"> Is not a parent </label></td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right width-15-percent">
      <label class="plain" for="query-on">Child</label>
    </td>
    <td> <label class="plain"><input type="checkbox" class="name-search-assertion" id="name-is-a-child" value="is-a-child:"> Is a child </label></td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right width-15-percent">
    </td>
    <td> <label class="plain"><input type="checkbox" class="name-search-assertion" id="name-is-not-a-child" value="is-not-a-child:"> Is not a child  (Has no parent)</label></td>
  <tr>
    <td></td>
    <td class="align-right width-15-percent">
      <label class="plain" for="query-on">Second Parent</label>
    </td>
    <td> <label class="plain"><input type="checkbox" class="name-search-assertion" id="name-is-a-second-parent" value="is-a-second-parent:"> Is a second parent </label></td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right width-15-percent">
    </td>
    <td> <label class="plain"><input type="checkbox" class="name-search-assertion" id="name-is-not-a-second-parent" value="is-not-a-second-parent:"> Is not a second parent </label></td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right width-15-percent">
      <label class="plain" for="query-on">Child</label>
    </td>
    <td> <label class="plain"><input type="checkbox" class="name-search-assertion" id="name-has-a-second-parent" value="has-a-second-parent:"> Has a second parent </label></td>
  </tr>
  <tr>
    <td></td>
    <td class="align-right width-15-percent"> </td>
    <td> <label class="plain"><input type="checkbox" class="name-search-assertion" id="name-has-no-second-parent" value="has-no-second-parent:"> Has no second parent </label></td>
  </tr>
  </table>
</form>
</div>
