<h5>Quick start for Name search</h5>
<p/>Type the first character or word in the name.
<p/>Start the search by pressing Enter or clicking the "Search" button....
<p/>or leave a space then enter another fragment of the name.
<p/>Start the search.
<p/>The Editor searches very broadly - it adds a trailing wildcard and also treats spaces as wildcards.
<p/>It does not add a leading wildcard to name search terms - to keep searches as fast as possible.
<p/> E.g.  <%= link_to('grev queen', search_path(query_string: 'grev queen', query_target: 'name'),class:'blue',title: 'example search') %>,
<%= link_to('bank spin', search_path(query_string: 'bank spin', query_target: 'name'),class:'blue',title: 'example search') %>
or  <%= link_to('e costata', search_path(query_string: 'e costata', query_target: 'name'),class:'blue',title: 'example search') %>
<br>
<br>
<h5>Order of terms is important for name searches</h5>
<p/>Whatever fragments you enter need to be in the order you expect them in the name or names.
<br>
<p/>If you do not know how the name starts, lead with a wildcard ("*").  E.g.  <%= link_to('*queensland form', search_path(query_string: '*queensland form', query_target: 'name'),class:'blue', title:"Run the described search.") %>
<p/>But this search should be faster: <%= link_to('g*queensland form', search_path(query_string: 'g*queensland form', query_target: 'name'),class:'blue',title: 'example search') %>.
