<% @comment ||= comment %>


<%= form_for(@comment, remote: true, class: 'instance-note-edit-form') do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% parent_entity_type ||= '' %>
  <% case parent_entity_type %>
  <% when 'author' then %> 
    <%= f.hidden_field(:author_id, value: parent_id) %>
  <% when 'name' then %> 
    <%= f.hidden_field(:name_id, value: parent_id) %>
  <% when 'reference' then %> 
    <%= f.hidden_field(:reference_id, value: parent_id) %>
  <% when 'instance' then %>
    <%= f.hidden_field(:instance_id, value: parent_id) %>
  <% else %>
    <%= "No parent record!" %>
  <% end %>
   <table class="width-100-percent">
    <tr>
    <td>

      <%=  f.text_area(:text, 
                       rows: '3', 
                       class: 'width-100-percent comment-text-text-area give-me-focus',
                       title: 'Please enter comment text',
                       tabindex: increment_tab_index,
                       data: {comment_id: @comment.id}, 
                       required: true,
                       ) %>
    </td>
    </tr>
    <tr>
      <td>
        <br>
        <%= f.submit id: "comment-create-btn", 
                     class: 'btn btn-primary width-6em pull-right', 
                     tabindex: increment_tab_index, 
                     title: "Select this to create a new comment.",
                     value: 'Create' %>
      </td>
      <td class="align-right">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div id="message-for-new-comment-note" class="message-container"></div>
        <div id="error-for-new-comment-note" class="error-container"></div>
      </td>
    </tr>
  </table>
  <%= divider %>
<% end %>


