
<% comment ||= @comment if @comment.present? %>

<%= form_for(comment, remote: true, class: 'comment-edit-form') do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <table class="width-100-percent">
    <tr>
      <td>
      <%=  f.text_area(:text, 
                       rows: '3', 
                       class: 'width-100-percent comment-text-text-area',
                       tabindex: increment_tab_index,
                       required: true,
                       title: 'Enter comment text',
                       data: {comment_id: comment.id}, 
                       id: "comment-text--text-area-#{comment.id}",
                       ) %>
    </td>
    </tr>
    <tr>
      <td class="align-right">
        <% if comment.created_at == comment.updated_at %>
          <%= "- #{comment.created_by.downcase}, #{as_date(comment.created_at)}" %>
        <% else %>
          <%= "- #{comment.created_by.downcase}, #{as_date(comment.created_at)}, updated #{comment.updated_by.downcase}, #{formatted_timestamp(comment.updated_at)}" %>
        <% end %>
    </td>
    </tr>

    <tr>
      <td>
        <%= f.submit id: "comment-save-btn", class: 'btn btn-primary width-6em', title: 'Save the comment', tabindex: increment_tab_index, value: 'Save' %>
      </td>
    </tr>
  </table>
<% end %>
<%= render partial: 'comments/delete_widgets', locals: {comment: comment} %>
<br>
<div id="message-for-comment-<%= comment.id %>" class="message-container"></div>
<div id="error-for-comment-<%= comment.id %>" class="error-container"></div>
<%= divider %>


