<div id="big-navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div id="first-navbar" class="no-left-padding navbar-header col-sm-12 col-md-12">
        <% if @no_navigation %>
          <%= render 'layouts/no_navigation' %>
        <% else %>
          <%= render 'layouts/navigation' %>
        <% end %>
      </div>
    </div>
    <div id="searchbar-row" class="row">
      <div id="searchbar" class="new-small-searchbar col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= render 'search/search_form' unless @no_searchbar %>
      </div>
    </div>
    <% if @system_broadcast.present? && !@system_broadcast.match(/This is the test instance./) %>
      <div id="broadcast" style="padding-top: 3px; height: 1.5em;" class="col-xs-12 col-sm-11 col-md-10 col-lg-8">
        <%= @system_broadcast.html_safe %>
      </div>
    <% elsif flash.present? %>
      <div id="broadcast" style="padding-top: 3px; height: 1.5em;" class="">
        <% flash.each do |key, value| %>
          <%= value %>
        <% end %>
      </div>
    <% end %>
    <div id="search-summary-row" class="row">
      <div id="search-summary" class="col-sm-12 col-md-12 col-lg-12">
        <%= yield :search_result_summary %>
      </div>
    </div>
  </div>
  <% unless @no_advanced_search %>
    <ul id="search-results-tabset" class="nav nav-tabs low">
      <li role="presentation"
          class="<%= 'active' unless @search.blank? || @search.parsed_request.count || @search.empty || @search.error %>">
        <a id="search-results-tab-container-link"
           class="main-body-tab-link"
           title="Search Results"
           data-target-element="#search-result-container"
           href="#">
          Results</a>
      </li>
      <li role="presentation" class="">
        <a id="help-search-tab-container-link"
           class="main-body-tab-link search-non-default-tab-link"
           title="Helpful information about searching"
           href="#"
           data-target-element="#help-search-container"
           data-load-context=""
        >Query Help</a></li>
      <li role="presentation" class="">
        <a id="example-search-tab-container-link"
           class="main-body-tab-link search-non-default-tab-link"
           title="Example Searches"
           href="#"
           data-target-element="#example-search-container"
           data-load-context=""
        >Query Examples</a></li>
      <li role="presentation" class="">
        <%= link_to "Reports",
                    search_reports_path,
                    class: "main-body-tab-link",
                    remote: true,
                    title: "Reports" %>
      </li>
      <% if @working_draft %>
        <li role="presentation" class="">
          <%= link_to "Tree",
                      trees_reports_path,
                      class: "main-body-tab-link",
                      remote: true,
                      title: "Tree info" %>
        </li>
      <% end %>
      <li role="presentation" class="">
        <%= link_to "Batch",
                    batch_index_path,
                    class: "main-body-tab-link",
                    remote: true,
                    title: "Show batch jobs information.  Click this tab to reload/refresh the information." %>
      </li>
    </ul>
  <% end %>
</div>

