<div id="search-history-inner" class="">
<% excc = %Q(<span class="purple" title="Excluding common and cultivar names by default.">EXCC</span>) %>
<% incc = %Q(<span class="purple" title="Including common and cultivar names.">INCC</span>) %>
<% if session[:searches].present? %>
  <h4 class="">Most recent 5 searches</h4>
<% else %>
  <h4 class="">No Recent searches</h4>
<% end %>

<table class="search-history table table-striped">
<% if session[:searches].present? %>
  <tr>
    <th>Query</th>
    <th>Summary Results</th>
    <th>Time</th>
  </tr>
<% session[:searches].reverse.try('each') do |search| %>
  <tr>
    <td>
      <%= link_to("#{search['query_target']}: #{search['query_string']}", search_path(query_string: search["query_string"],query_target: search["query_target"]), class: 'blue', title: 'Recent query') %>
    </td>
    <td>
      <% if search["error"] == true %>
        Error: <%= search["error_message"] %>
      <% else %>
        <%= search["result_size"] %>
      <% end %>
    </td>
    <td>
      <%= search["time_stamp"] %>
      <%#= search["time_stamp"].to_time.to_formatted_s(:short) %>
      <%#= time_ago_in_words(search["time_stamp"].to_time) %> 
    </td>
  </tr>
  <% end %>
  <% end %>
</table>

<br>
<%= @search.executed_query.try('relation').try('to_sql') if @search.present? && @search.executed_query.has_relation %>
<%#= session[:searches].inspect %>
</div>
