<tr id="new-name-<%= @random_id %>" 
  class="new-record new-name"  
  data-record-type="name"
  data-name-type="<%= @category %>"
  data-edit-url="<%= new_name_path(@random_id) %>"
  tabindex="<%= increment_tab_index(100) %>"
    >
  <td class="nsl-tiny-icon-container takes-focus width-1-percent"><%= record_icon('name') %></td>
  <td class="text takes-focus name main-content min-width-40-percent max-width-100-percent width-90-percent give-me-focus" colspan="9">
    <%= link_to("New #{@category} name", 
                              new_name_path(category: @category, 
                                            random_id: @random_id, 
                                            tabIndex: increment_tab_index(0) + 5), 
                              class: "show-details-link", 
                              tabindex: "#{ increment_tab_index }", 
                              title: "New name record.  Click to show details.",
                              remote: true) %>
  </td>
  <td class="takes-focus width-5-percent filler">&nbsp;</td>
</tr>

<script>$('tr#new-name-<%= @random_id %> a.show-details-link').click();</script>

