<div id="search-results" class="col-xs-12 col-sm-8 col-md-9 col-lg-9 nothing-selected stylish-scrollbar">
  <div id="search-results-inner" class="no-left-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 search-results-inner">
    <table  id="search-results-table" class="table table-condensed search-results" data-summary="Results of the latest search.">

    <%= render 'names/rules/rules_september_2015' %>
    <%= render 'names/rules/rules_july_2015' %>
    <%= render 'names/rules/rules_may_2015' %>
    <%= render 'names/rules/rules_april_2015' %>
    <%= render 'names/rules/rules_march_2015' %>

    </table>

  </div>
</div>

