<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>
<% increment_tab_index(0) %>
<% if @instance.relationship? %>

  <%= render 'instances/tabs/show_relationship' %>

<% else %> <%# standalone instance %>

  <%= render 'instances/tabs/show_standalone' %>

<% end %>


<%= divider %>

<%= render partial: 'detail_line', locals: {info: @instance.cites_id, label: 'cites_id'}  if @debug%>
<%= render partial: 'detail_line', locals: {info: @instance.cited_by_id, label: 'cited_by_id'} if @debug %>

<% if @instance.instance_notes.size > 0 %>
    <div id="instance-note-fields" >
    <h5>Notes</h5>
    <% @instance.instance_notes.sort{|x,y| [x.instance_note_key.sort_order,x.value.downcase] <=> [y.instance_note_key.sort_order,y.value.downcase]}.each do |instance_note| %>
        <div id="container-for-instance-note-<%= instance_note.id %>">
            <%= render partial: 'instance_notes/show', locals: {instance_note: instance_note} %>
        </div>
    <% end %>
    </div>
    <br>
    <%= divider %>
 <% end %>

<% if @instance.comments.size > 0  %>
  <h5><%= pluralize(@instance.comments.size,'Comment') %></h5>
  <% @instance.comments.sort{|x,y| x.created_at <=> y.created_at}.each do |comment|  %>
    <%= render partial: 'comments/show', locals: {comment: comment} %>
    <%= divider %>
  <% end %>
<% end %>

<% if @name_node_tree_link.present? && @name_node_tree_link.placed_via_instance?(@instance) %>
  <h5>Placed in workspace <%= @current_workspace.name %></h5>
  <%= render partial: "instances/workspace/widgets/placement_indicator", locals: { name_node_tree_link: @name_node_tree_link, workspace: @current_workspace } %>
  <%= divider %>
<% end %>

<h5>Instance #<%= @instance.id %></h5>
<br>
<br>
<%= created_by_whom_and_when(@instance).html_safe %>
<br>
<%= updated_by_whom_and_when(@instance).html_safe %>
<%= render partial: 'detail_line', locals: {label: 'System', info: "#{@instance.namespace.name}#{%Q(.#{@instance.source_system.downcase}.#{@instance.source_id}) if @instance.source_system}"} %>

