<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>
<% increment_tab_index(0) %>
<% if @instance.relationship? %>

  <%= render 'instances/tabs/show_relationship' %>

<% else %> <%# standalone instance %>

  <%= render 'instances/tabs/show_standalone' %>

<% end %>
<% if @instance.cites_id.present? || @instance.cited_by_id.present? %>
  <dl class="dl-horizontal">
    <dt>cites id</dt>
    <dd><%= @instance.cites_id %></dd>
    <dt>cited by id</dt>
    <dd><%= @instance.cited_by_id %></dd>
  </dl>
<% else %>
  <%= divider %>
<% end %>

<% if @instance.instance_notes.size > 0 %>
  <h5>Notes</h5>
  <dl class="dl-horizontal">
    <% @instance.instance_notes.non_apc.sort {|x, y| [x.instance_note_key.sort_order, x.value.downcase] <=> [y.instance_note_key.sort_order, y.value.downcase]}.each do |instance_note| %>
      <dt><%= instance_note.instance_note_key.name %></dt>
      <dd><%= instance_note.value.html_safe %></dd>
    <% end %>
  </dl>
<% end %>

<% if @instance.comments.size > 0 %>
  <h5><%= pluralize(@instance.comments.size, 'Comment') %></h5>
  <% @instance.comments.sort {|x, y| x.created_at <=> y.created_at}.each do |comment| %>
    <%= render partial: 'comments/show', locals: {comment: comment} %>
    <%= divider %>
  <% end %>
<% end %>

<% if @instance.in_local_trees? %>
  <div>
    <dl class="dl-horizontal">
      <dt>Local trees</dt>
      <dd><%= @instance.in_local_tree_names %></dd>
    </dl>
  </div>
<% end %>

<% if @accepted_tve.present? && @accepted_tve.tree_element.instance.id == @instance.id %>

  <%= render partial: "instances/tabs/tab_show_tree", locals: {tve: @accepted_tve} %>

<% else
     if @tree_version_element.present? && @tree_version_element.tree_element.instance.id == @instance.id %>

    <%= render partial: "instances/tabs/tab_show_tree", locals: {tve: @tree_version_element} %>

  <% end %>
<% end %>

<h5>Instance #<%= @instance.id %></h5>
<br>
<br>
<%= created_by_whom_and_when(@instance).html_safe %>
<br>
<%= updated_by_whom_and_when(@instance).html_safe %>
<%= render partial: 'detail_line', locals: {label: 'System', info: "#{@instance.namespace.name}#{%Q(.#{@instance.source_system.downcase}.#{@instance.source_id}) if @instance.source_system}"} %>

