
<% title_text = "View this issue in JIRA. Opens in a new tab or window." %>
<div id="search-results" 
     class="col-xs-12 col-sm-12 col-md-12 col-lg-12 
     nothing-selected stylish-scrollbar">
  <div id="search-results-inner-for-history" 
       class="no-left-padding col-xs-12 col-sm-12 col-md-12 
       col-lg-12 search-results-inner">
    <h3><%= the_year %> Changes</h3>
    <p>Important changes to the Editor.</p>
    <% if defined? the_note %>
      <p><%= the_note %></p>
    <% end %>
    <ul class="list-group">  
     <% the_list.each do |val| %>
       <% if val.has_key?(:release) %>
       <li class="list-group-item bglavender">
        <span>
          <%= val[:date] %>
          &mdash;
          Production Release
        </span>
       <% else %>
       <li class="list-group-item">
        <%= val[:date] %>
        &mdash;
        <% if val[:jira_id].present? %>
          NSL-<%= val[:jira_id] %>:&nbsp;
        <% end %>
        <%= (val[:description]).html_safe %>
          <% if val[:jira_id].present? %>
           <span class="badge">
             <%= link_to "(NSL-#{val[:jira_id]}) 
               #{icon('external-link fa-lg')}".html_safe, 
               "https://www.anbg.gov.au/25jira/browse/NSL-#{val[:jira_id]}",
               class:"white hover-white",
               title: "#{title_text}",
               target: "other" %>
           </span>
         <% end %>
       <% end %>
       </li>
     <% end %>
     </ul>
  </div>
</div>

