<div>
  <h1>Edit placement:
    <%= render partial: "instances/workspace/widgets/placement_indicator", locals: {tree_version_element: @tree_version_element} %>
  </h1>
  <% if @accepted_tve && @accepted_tve&.tree_element_id != @tree_version_element.tree_element_id %>
    (changed from <%= @accepted_tve&.tree_version&.tree&.name %>)
  <% end %>

  <dl class="dl-horizontal">
    <dt>Full Name</dt>
    <dd><%= @tree_version_element.tree_element.name.full_name_html.html_safe %></dd>
    <dt>Reference</dt>
    <dd><%= @tree_version_element.tree_element.instance.reference.citation %></dd>

    <dt>Excluded</dt>
    <dd>
      <%= check_box_tag("ExcludedElement", true, @tree_version_element.tree_element.excluded,
                        title: "Exclude this",
                        onchange: "updateExcluded(this,'" + @tree_version_element.element_link + "');") %>
      <label for="ExcludedElement" class="exclude-label">exclude</label>

    </dd>

    <dt><%= @tree_version_element.comment_key %></dt>
    <dd>
      <div>
        <%= form_tag({controller: 'trees', action: 'update_comment'}, {method: :post, remote: true}) do %>
          <%= hidden_field_tag("update_comment[element_link]", @tree_version_element.element_link) %>
          <% if @tree_version_element.comment.blank? %>
            <%= render partial: "trees/add_comment", locals: {tree_version_element: @tree_version_element} %>
          <% else %>
            <%= render partial: "trees/update_comment", locals: {tree_version_element: @tree_version_element} %>
          <% end %>
        <% end %>
      </div>
      <div id="tree_comment_message" class="message-container inline hidden"></div>
    </dd>

    <dt><%= @tree_version_element.distribution_key %></dt>
    <dd><%= @tree_version_element.distribution %>
      <%= form_tag({controller: 'trees', action: 'update_distribution'}, {method: :post, remote: true}) do %>
        <%= hidden_field_tag("update_distribution[element_link]", @tree_version_element.element_link) %>
        <% if @tree_version_element.distribution.blank? %>
          <%= render partial: "trees/add_distribution", locals: {tree_version_element: @tree_version_element} %>
        <% else %>
          <%= render partial: "trees/update_distribution", locals: {tree_version_element: @tree_version_element} %>
        <% end %>
      <% end %>
      <div id="tree_distribution_message" class="message-container inline hidden"></div>
    </dd>

    <dt>Path</dt>
    <dd><%= @tree_version_element.name_path %></dd>

    <dt></dt>
    <dd>
      <%= form_tag({controller: 'trees', action: 'update_tree_parent'}, {method: :post, remote: true}) do %>
        <%= hidden_field_tag("update_parent[element_link]", @tree_version_element.element_link) %>
        <%= render partial: "trees/update_parent", locals: {parent_tve: @tree_version_element.parent} %>
        <button type="submit"
                id="update_parent_btn"
                class="btn btn-primary left"
                name="update_parent[update]"
                tabindex="<%= increment_tab_index %>"
                title="Update the parent of this taxon"
                onclick="$('#update_parent_btn').find('i.fa').addClass('fa-spin');"
        >Update parent <i class="fa fa-refresh"></i>
        </button>
        <div id="movement-message-container"
             class="message-container hidden">
        </div>
        <div id="movement-error-message-container"
             class="message-container error hidden">
          <h4>Errors found.</h4>
          <div id="movement-error-message"></div>
        </div>
      <% end %>
      <% if @tree_version_element.parent %>
        <%= link_to("<i class=\"fa fa-sitemap\"></i> #{search_icon_on_tab}
                    #{@tree_version_element.parent&.tree_element&.instance&.name&.try('full_name')}"
                        .html_safe,
                    search_path(query_target: 'name',
                                query_string: "id: #{@tree_version_element.parent.tree_element.name_id} show-instances:"),
                    title: 'Search for the parent with its instances',
                    class: 'name') %>
      <% end %>
    </dd>

    <dt>Element link</dt>
    <dd>
      <a href="<%= @tree_version_element.full_element_link %>" title="Tree element link id">
        <i class="fa fa-code-fork"></i> ... <%= @tree_version_element.element_link %>
      </a>
    </dd>

    <dt>Taxon link</dt>
    <dd>
      <a href="<%= @tree_version_element.full_taxon_link %>" title="Taxon link id">
        <i class="fa fa-tree"></i> ... <%= @tree_version_element.taxon_link %>
      </a>
    </dd>
    <dt>apni format</dt>
    <dd>
      <a href="<%= "#{Rails.configuration.nsl_links}apni-format/display/#{@instance.name_id}?versionId=#{@tree_version_element.tree_version.id}&drafts=true" %>"
         title="apni format" target="_blank">
        <i class="fa fa-external-link-square"></i>
        ... <%= "apni-format/display/#{@instance.name_id}" %>
      </a>
    </dd>
  </dl>
</div>

<strong><%= @tree_version_element.count_children %> Sub taxa</strong>

<script>
    function updateExcluded(input, taxonUri) {
        var data = {
            excluded: input.checked,
            taxonUri: taxonUri
        };
        $(input).replaceWith("<i class='fa fa-refresh fa-spin'></i>");
      send(data, "POST", window.relative_url_root + "/trees/update_excluded", function () {
        $('#instance-classification-tab').click();
      });
    }
</script>