<% if !@instance.cited_by_id %>
    <%= form_tag({controller: 'trees', action: 'place_name'}, {method: :post, remote: true}) do %>
        <%= hidden_field_tag("place_name[instance_id]", @instance.id) %>

        <strong>Place in <%= "#{@working_draft.tree.name}: #{@working_draft.draft_name}" %></strong>
        <div>
          <dl class="dl-horizontal">
            <dt>Full Name</dt>
            <dd><%=@instance.name.full_name_html.html_safe %></dd>
            <dt>Reference</dt>
            <dd><%= @instance.reference.citation %></dd>
          </dl>
        </div>

        <div class="form-group">
          <%= check_box_tag("excluded", name: "place_name[excluded]") %>
          <%= label_tag("excluded", "Excluded?") %>
        </div>

        <%= render partial: "instances/workspace/forms/new_placement_name_typeahead" %>

        <button type="submit"
                id="new_name_placement_btn"
                class="btn btn-primary"
                name="place_name[place]"
                tabindex="<%= increment_tab_index %>"
                title="Place the name on the tree."
                onclick="$('#new_name_placement_btn').find('i.fa').addClass('fa-spin');"
        >Save <i class="fa fa-refresh"></i></button>

        <span id="placement-message-container" class="message-container green hidden"></span>
        <div id="placement-error-message-container" class="error-message-container red hidden"></div>
    <% end %>
<% end %>


