
<% if @current_workspace.user_can_edit?(@current_user) %>
  <% if @tree_link.node.delete? %>
    <%= form_tag({controller: 'trees', action: 'remove_name_placement'}, {method: :delete, remote: true}) do %>
                <%= hidden_field_tag("remove_placement[name_id]", @instance.name.id) %>
                <%= hidden_field_tag("remove_placement[instance_id]", @instance.id) %>
                <h3>Remove <%= @instance.name.full_name_html.html_safe %> from
                  <%= @current_workspace.title %></h3>
                <%= submit_tag "Remove",
                             id: "remove_name_placement",
                             class: "btn btn-primary width-6em",
                             name: "remove_placement[delete]",
                             tabindex: increment_tab_index,
                             title: "Select to remove this name." %>

                <div id="remove_name_error_block"></div>

     <% end %>
   <% else %>
     Has <%= pluralize(@tree_link.node.subnodes.size,'child') %>, cannot remove.
 <% end %>
<% end %>
