<% if !@instance.cited_by_id %>
    <div>
    <%= form_tag({controller: 'trees', action: 'replace_placement'}, {method: :patch, remote: true}) do %>
        <%= hidden_field_tag("move_placement[element_link]", @tree_version_element.element_link) %>
        <%= hidden_field_tag("move_placement[instance_id]", @instance.id) %>

        <%= render partial: "instances/workspace/forms/name_typeahead" %>

        <button type="submit"
                id="update-name-placement-btn"
                class="btn btn-primary"
                name="move_placement[update]"
                tabindex="<%= increment_tab_index %>"
                title="Update the name on the tree."
                onclick="$('#update-name-placement-btn').find('i.fa').addClass('fa-spin');"
        >Update <i class="fa fa-refresh"></i></button>

        <div id="movement-message-container"
              class="message-container text-success hidden">

        </div>
        <div id="movement-error-message-container"
             class="error-message-container text-danger hidden">
          <h4>Errors found.</h4>
          <div id="movement-error-message"></div>
        </div>
    <% end %>
    </div>
<% end %>

