<div id="search-results" class="col-xs-12 col-sm-8 col-md-9 col-lg-9 nothing-selected stylish-scrollbar">
  <div id="search-results-inner" class="no-left-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 search-results-inner">
    <table  id="search-results-table" class="table table-condensed search-results" data-summary="Results of the latest search.">
    <tr><td colspan="99" width="80-percent">
        
    <h2>Admin</h2>
    <h3>Configuration</h3>
    <h4>Services</h4>
    <table class="table table-condensed search-results width-100-percent">
      <tr>
        <td class="text">Rails.configuration.services_clientside_root_url</td>
        <td> <%= Rails.configuration.try(:services_clientside_root_url) %> </td>
      </tr>
      <tr>
        <td class="width-40-percent min-width-10em" >
          Rails.configuration.services
        </td>
        <td> 
            <%= Rails.configuration.try(:services) %>
        </td>
      </tr>
      <tr><td class="width-40-percent min-width-10em" >Rails.configuration.name_services</td>
          <td> <%= Rails.configuration.try(:name_services) %> </td></tr>
    <tr><td class="width-40-percent min-width-10em" >Rails.configuration.reference_services</td>
        <td> <%= Rails.configuration.try(:reference_services) %> </td></tr>

    <tr><td>Rails.configuration.nsl_links</td>
        <td> <%= Rails.configuration.try(:nsl_links) %> </td></tr>

    <tr><td>Rails.configuration.ldap_admin_username</td>
        <td> <%= Rails.configuration.try(:ldap_admin_username) %> </td></tr>
    <tr><td>Rails.configuration.nsl_host_and_port</td>
        <td> <%= Rails.configuration.try(:nsl_host_and_port) %> </td></tr>
    <tr><td>Rails.configuration.search_address</td>
        <td> <%= Rails.configuration.try(:search_address) %> </td></tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    </table>

    <h4>LDAP</h4>
    <table class="table table-condensed search-results width-100-percent">
    <tr><td class="width-40-percent min-width-10em" >Rails.configuration.ldap_base</td>
        <td> <%= Rails.configuration.try(:ldap_base) %> </td></tr>

    <tr><td class="width-40-percent min-width-10em" >Rails.configuration.ldap_host</td><td> <%= Rails.configuration.try(:ldap_host) %> </td></tr>

    <tr><td class="width-40-percent min-width-10em" >Rails.configuration.ldap_port</td><td> <%= Rails.configuration.try(:ldap_port) %> </td></tr>

    <tr><td>Rails.configuration.ldap_users</td><td> <%= Rails.configuration.try(:ldap_users) %> </td></tr>

    <tr><td>Rails.configuration.ldap_groups</td><td> <%= Rails.configuration.try(:ldap_groups) %> </td></tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    </table>

    <h4>Application environment</h4>
    <table class="table table-condensed search-results width-100-percent">

    <tr><td class="width-40-percent min-width-10em">Rails.env</td><td> <%= Rails.env %> </td></tr>

    <tr><td>Ruby platform</td><td> <%= RUBY_PLATFORM %> </td></tr>
    <% if RUBY_PLATFORM =~ /jruby/i %>
    <tr><td>JRuby version</td><td> <%= JRUBY_VERSION %> </td></tr>
    <% end %>
    <tr><td>Ruby version</td><td> <%= RUBY_VERSION %> </td></tr>

    <tr><td>Rails</td><td> <%= Rails::VERSION::STRING %> </td></tr>

    <tr><td>Database</td><td> <%= Rails.configuration.database_configuration[Rails.env]["database"] %> </td></tr>

    <tr><td>Schema version</td><td> <%= DbVersion.current %> </td></tr>
    <tr><td>Application version</td><td> <%= Rails.configuration.try('version') %> </td></tr>
    <tr><td>Path to broadcast file</td><td> <%= Rails.configuration.try(:path_to_broadcast_file) %> </td></tr>
    <tr><td>Namespace</td><td> <%= Namespace.try(:default).try(:name) %> </td></tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    </table>

    <h4>Rails timezone</h4>
    <table class="table table-condensed search-results width-100-percent">
    <tr><td class="width-40-percent min-width-10em">Time.zone</td><td> <%= Time.zone %> </td></tr>
    <tr><td>Time.zone.now</td><td> <%= Time.zone.now %> </td></tr>
    <tr><td>Time.now</td><td> <%= Time.now %> </td></tr>
    <tr><td>Rails.configuration.active_record.default_timezone</td><td> <%= Rails.configuration.try(:active_record).try(:default_timezone) %> </td></tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    </table>

    <h4>Rails configuration</h4>

    <table class="table table-condensed search-results width-100-percent">

    <tr><td class="width-40-percent min-width-10em">Rails.configuration.relative_url_root</td><td> <%= Rails.configuration.try(:relative_url_root) %> </td></tr>

    <tr><td>Rails.configuration.session_key_tag</td><td> <%= Rails.configuration.try(:session_key_tag) %> </td></tr>

    <tr><td>Rails.configuration.environment</td><td> <%= Rails.configuration.try(:environment) %> </td></tr>

    <tr><td>Rails.configuration.action_controller.perform_caching</td><td> <%= Rails.configuration.action_controller.try(:perform_caching) %> </td></tr>

    <tr><td>Key base stats</td><td> <%= Rails.application.secrets[:secret_key_base][3..6] %>; <%= Rails.application.secrets[:secret_key_base].length %> </td></tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    </table>

    <h4>Editor Services</h4>
    <table class="table table-condensed search-results width-100-percent">

    <tr><td class="width-40-percent min-width-10em" colspan="2"><strong>Services used in the editor</strong></td></tr>

    <% service_url = "#{Rails.configuration.try(:services_clientside_root_url)}docs/main.html" %>
    <tr><td class="width-40-percent min-width-10em" >API Doc </td><td> <%= link_to(service_url, service_url, title: 'API Documentation') %> </td></tr>

    <tr><td colspan="2"><strong>Services that do not change data</strong></td></tr>
    <% service_url = "#{Rails.configuration.try(:services_clientside_root_url)}api/tree/name/APC/91759" %>
    <tr><td class="width-40-percent min-width-10em" >A client side service </td><td> <%= link_to(service_url, service_url, title: 'Link to the APC tree client side service.') %> </td></tr>
		
    <% service_url = "#{Rails.configuration.try(:services_clientside_root_url)}rest/name/apni/91759/api/apc.json" %>
    <tr><td class="width-40-percent min-width-10em" >In APC?</td><td> <%= link_to(service_url, service_url, title: 'Link to the "in APC?" client side service.') %> </td></tr>
		
    <% service_url = "#{Rails.configuration.try(:services_clientside_root_url)}rest/name/apni/91759/api/apni.json" %>
    <tr><td class="width-40-percent min-width-10em" >In APNI? </td><td> <%= link_to(service_url, service_url, title: 'Link to the "in APNI?" client side service.') %> </td></tr>
		
    <% service_url = "#{Rails.configuration.try(:services_clientside_root_url)}rest/name/apni/91759/api/family.json" %>
    <tr><td>APNI Name Information</td><td> <%= link_to(service_url, service_url, title: 'Link to an APNI name information service.') %> </td></tr>

    <% service_url = "#{Rails.configuration.try(:services_clientside_root_url)}rest/name/apni/91759/api/name-strings.json" %>
    <tr><td>Name strings</td><td> <%= link_to(service_url, service_url, title: 'Link to the name strings client side service.') %> </td></tr>
		
    <% service_url = "#{Rails.configuration.try(:services_clientside_root_url)}rest/reference/apni/17525/api/citation-strings.json" %>
    <tr><td>Reference strings</td><td> <%= link_to(service_url, service_url, title: 'Link to the reference strings client side service.') %> </td></tr>

   <tr><td colspan="2">&nbsp;</td></tr>

    <tr><td>Test exception logging.</td><td><%= link_to icon('bomb','',class: 'black fa-2x'), throw_path, title:"Throw a harmless exception" %></td></tr>

    <tr><td class="width-5-percent">&nbsp;</td></tr>
    
    </table>

    <h4>Editor Behaviour</h4>
    <table class="table table-condensed search-results width-100-percent">
    <tr><td class="width-40-percent min-width-10em">Rails.configuration.show_new_search_link </td><td> <%= Rails.configuration.try(:show_new_search_link) %> </td></tr>
    <tr><td class="width-5-percent">&nbsp;</td></tr>
    </table>

    <h4>ICN/ICZN Switches</h4>
    <table class="table table-condensed search-results width-100-percent">
    <tr><td class="width-40-percent min-width-10em">Rails.configuration.allow_name_changed_combination </td><td> <%= Rails.configuration.try(:allow_name_changed_combination) %> </td></tr>
    <tr><td class="width-40-percent min-width-10em">Rails.configuration.allow_name_ex_author </td><td> <%= Rails.configuration.try(:allow_name_ex_author) %> </td></tr>
    <tr><td class="width-40-percent min-width-10em">Rails.configuration.allow_name_base_author </td><td> <%= Rails.configuration.try(:allow_name_base_author) %> </td></tr>
    <tr><td class="width-40-percent min-width-10em">Rails.configuration.allow_name_ex_base_author </td><td> <%= Rails.configuration.try(:allow_name_ex_base_author) %> </td></tr>
    <tr><td class="width-40-percent min-width-10em">Rails.configuration.allow_name_sanctioning_author </td><td> <%= Rails.configuration.try(:allow_name_sanctioning_author) %> </td></tr>
    <tr><td class="width-5-percent">&nbsp;</td></tr>
    </table>

    <h4>Extra tables</h4>
    <table class="table table-condensed search-results width-100-percent">
    <tr><td class="width-40-percent min-width-10em">Rails.configuration.look_for_orchids_table </td><td> <%= Rails.configuration.try(:look_for_orchids_table) || false %> </td></tr>
    <tr><td class="width-40-percent min-width-10em">Rails.configuration.allow_orchid_tree_operations </td><td> <%= Rails.configuration.try(:allow_orchid_tree_operations) || false %> </td></tr>
    </table>

  </div>
</div>

