<div class="focus-details 
            <%= 'freshly-created' if Time.now.strftime("%Y%m%d") == @author.created_at.strftime("%Y%m%d") &&  (@author.created_at - @author.updated_at).abs < 10 %>">
  <% tab_tab_index = @tab_index %>
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <div class="inner">
    <h3>
      <%= link_to(@author.name_and_or_abbrev, 
                  search_path(query_target: 'author', 
                              query_string: "id:#{@author.id}"),
                  id: 'tab-heading',
                  title: "Query this author record") %>
      <span class="pull-right"><%= mapper_link('author', @author.id)%></span>
    </h3>
    <%= render partial: 'tabs' %>
    <%= render partial: "#{@tab}" %>
    <br>
    <span class='server-response-time'><%= "(#{(Time.now - @start_time).round(2)}s)" if @start_time %></span>

  </div><!-- /end .inner -->
</div><!-- /end .focus-details -->
