<div>
  <%= form_for(value, url: create_workspace_value_path, controller: "workspace_values", action: "create", remote: true) do |f| %>
    <div class="form-group">
      <label for="node-value-<%= value.field_name %>"><%= value.field_name.capitalize %></label>
      <% if value.multiline? %>
        <%= f.text_area :field_value, class: "form-control", required: true, title: value.field_name.capitalize %>
      <% else %>
        <%= f.text_field :field_value, class: "form-control", required: true, title: value.field_name.capitalize %>
      <% end %>
      <%= f.hidden_field :name_id %>
      <%= f.hidden_field :name_node_link_id %>
      <%= f.hidden_field :type_uri_id_part %>
      <%= f.hidden_field :value_label %>
    </div>
      <%= f.submit value: "Create", class: "btn btn-primary width-6em", title: "Create #{value.field_name}" %>
      <span id="<%= value.value_label %>-message-container" class="message-container"></span>
      <span id="<%= value.value_label %>-error-message-container" class="red error-message-container"></span>
  <% end %>
</div>
<%= divider %>
