<div>
  <%= form_for(value, remote: true) do |f| %>
    <div class="form-group">
      <label for="node-value-<%= value.field_name %>"><%= value.field_name %></label>
      <% if value.multiline? %>
        <%= f.text_area :field_value, class: "form-control", required: true, title: value.field_name %>
      <% else %>
        <%= f.text_field :field_value, class: "form-control", required: true, title: value.field_name %>
      <% end %>
      <%= f.hidden_field :tree_version_element.element_link %>
    </div>
      <!--TODO replace submit methods with profile update -->
      <%= f.submit value: "Update", class: "btn btn-primary width-6em", title: "Update #{value.field_name}" %>
      <span id="<%= value.value_label %>-message-container" class="message-container"></span>
      <span id="<%= value.value_label %>-error-message-container" class="red error-message-container"></span>
      <%= render partial: "instances/workspace/widgets/delete_button", locals: {value: value} %>
  <% end %>
</div>
