<h4>Searchable Reference fields</h4>
<% link_to_maslin_1985 =  link_to('maslin 1985', search_path(query_string: 'maslin 1985', query_target: 'reference'),class:'blue',title: 'example search') %>
<% link_to_1985_maslin =  link_to('1985 maslin', search_path(query_string: '1985 maslin', query_target: 'reference'),class:'blue',title: 'example search') %>
<h5>Citation, title fields</h5>
<table class="table table-striped">
  <tr><th>Field</th><th>Description</th></tr>
  <% [
      {field_name: 'citation:', description: "search citation for text fragments; wildcards are added automatically; order does not matter"},
      {field_name: '', description: %Q(enter citation search terms in any order e.g. "#{link_to_maslin_1985}" gives the same results as "#{link_to_1985_maslin}";)},
      {field_name: '', description: %Q(this works for citation because the editor "tokenizes" citation search terms, making the strict format of the citation less important)},
      {field_name: '', description: %Q(tokenizing search terms makes for slightly slower searches - but is worth it for citation searches.)},
      {field_name: 'citation-text:', description: "citation word and word-prefix text search"},
      {field_name: 'citation-exact:', description: "search citation with no tokenization, and no wildcards unless you supply them"},
      {field_name: 'title:', description: "title, with trailing wildcard added automatically"},
      {field_name: 'title-exact:', description: "title"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
      <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
        <span class="blue"><%= val[:field_name] %></span>
      </a>
    </td>
    <td><%= val[:description].html_safe %>
    <% if val[:partial].present? %>
      <%= render partial: val[:partial] %>
    <% end %>
    </td>
  </tr>
  <% end %>
</table>

<h5>Type code field</h5>
<table class="table table-striped">
  <% [
      {field_name: 'type:', description: "reference type, allows comma-separated multiple values",partial: "ref_types/list_for_search_help"},
      {field_name: 'not-type:', description: "not reference type",partial: "ref_types/list_for_search_help"},
      {field_name: 'parent-type:', description: "reference type ",partial: "ref_types/list_for_search_help"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
      <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
        <span class="blue"><%= val[:field_name] %></span>
      </a>
    </td>
    <td><%= val[:description].html_safe %>
    <% if val[:partial].present? %>
        <%= render partial: val[:partial] %>
    <% end %>
    </td>
  </tr>
  <% end %>
</table>

<h5>Notes field</h5>
<table class="table table-striped">
  <% [
      {field_name: 'notes:', description: "reference notes exact search"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
      <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
        <span class="blue"><%= val[:field_name] %></span>
      </a>
    </td>
    <td><%= val[:description].html_safe %>
    <% if val[:partial].present? %>
        <%= render partial: val[:partial] %>
    <% end %>
    </td>
  </tr>
  <% end %>
</table>

<h5>Authors</h5>
<table class="table table-striped">
  <% [
      {field_name: 'author:', description: "author name(s), leading and trailing wildcards added automatically"},
      {field_name: 'author-exact:', description: "author name(s)"},
      {field_name: 'author-role:', description: "author role",partial: "ref_author_roles/list_for_search_help"}
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %>
    <% if val[:partial].present? %>
        <%= render partial: val[:partial] %>
    <% end %>
    </td>
  </tr>
  <% end %>
</table>

<h5>Publication details</h5>
<table class="table table-striped">
  <% [
    {field_name: 'edition:', description: "edition"},
    {field_name: 'isbn:', description: "ISBN"},
    {field_name: 'issn:', description: "ISSN"},
    {field_name: 'is-published:', description: "published (also listed as an assertion)"},
    {field_name: 'is-not-published:', description: "not published (also listed as an assertion)"},
    {field_name: 'published-location:', description: "published location"},
    {field_name: 'publisher:', description: "publisher"},
    {field_name: 'volume:', description: "volume"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

<h5>Publication date queries</h5>
<p>Historically publication date data has been stored in two fields: </p>
<ul>
  <li>a <strong>year</strong> field, which was just an integer within a range e.g. 1700 - the current year, and
    <li>a text field called <strong>publication_date</strong>, but which really held any textual information about publication dates.
</ul>
<p>In July 2019 the year data was moved into a text field that allows for data
in the following formats:</p>
<ul>
  <li>Year: yyyy  e.g. 2019
  <li>Year and month: yyyy-mm  e.g. 2019-07
  <li>Year, month and day: yyyy-mm-dd  e.g. 2019-07-19
</ul>
<p>Data entry will support dates in any of these formats - assembled from the new "day", "month", and "year" fields.</p>
<p>These formats are subsets of an international date standard called ISO8601.</p>
<p>For clarity we are calling this field the iso_publication_date.  That's an internal name designed to distinguish the data from the unformatted publication_date field.  Sometimes that internal name will appear in documentation, as now.</p>
<p>The old year field, which held 4-digit integers, is deprecated and will disappear in the future.</p>
<p>It's necessary to understand the possible formats of this data to make sense of the following searches, which is the reason for this explanation.</p>
<p>The publication_date unformatted text field is still there and still available for searching.</p>
<p>In sum, the new "date" field is a strictly formatted string that can be queried as a string, including with regular expressions, remembering the format is one of those listed above. 
<table class="table table-striped">
  <% [
    {field_name: 'publication-date:', description: "Publication date is the original string field containing information in no particular format."},
    {field_name: 'published-in-or-on:', description: "searches on iso_publication_date and automatically appends a wildcard to the search term, can handle multiple comma-separated values. You can also user 'date:' and 'iso:'."},
    {field_name: 'published-after:', description: "searches on the iso_publication_date"},
    {field_name: 'published-before:', description: "searches on the iso_publication_date"},
    {field_name: 'year:', description: "Provided for backward compatibility, it looks at the iso_publication_date, and can handle multiple comma-separated values. Same as published-in-or-on:"},
    {field_name: 'after-year:', description: "For backward compatibility, looks at the iso_publication_date"},
    {field_name: 'before-year:', description: "For backward compatibility, looks at the iso_publication_date"},
    {field_name: 'no-year:', description: "Iso-publication_date field has no value."},
    {field_name: 'date-matches:',
     description: "does a regular expression match against the strictly formatted data in iso_publication_date. You can also use 'iso-pub-date-matches:', and 'pub-date-matches:'"},
    {field_name: 'no-publication-date:', description: "The textual publication date field has no value."},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

<h5>Links</h5>
<table class="table table-striped">
  <% [
      {field_name: 'bhl:', description: "BHL"},
      {field_name: 'doi:', description: "DOI"},
      {field_name: 'tl2:', description: "TL2"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

<h5>Language</h5>
<table class="table table-striped">
  <% [
      {field_name: 'language:', description: "Choose one or more languages. e.g. English, French, German"},
      {field_name: 'not-language:', description: "Choose one or more languages to exclude:  e.g. Undetermined, English, French, German"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

<h5>Assertions</h5>
<table class="table table-striped">
  <% [
      {field_name: 'is-a-duplicate:', description: "marked as a duplicate"},
      {field_name: 'is-not-a-duplicate:', description: "not marked as a duplicate"},
      {field_name: 'is-a-parent:', description: "records exist with this marked as their parent"},
      {field_name: 'is-not-a-parent:', description: "no records exist with this marked as their parent"},
      {field_name: 'has-no-children:', description: "no records exist with this marked as their parent"},
      {field_name: 'is-a-child:', description: "Has a parent"},
      {field_name: 'is-not-a-child:', description: "Has no parent"},
      {field_name: 'is-published:', description: "Published flag is set true"},
      {field_name: 'is-not-published:', description: "Published flag is not set true"},
      {field_name: 'pub-date-is-year:',
       description: "Publication date is 4 digits alone or 4 digits within
       parentheses."},
       {field_name: 'has-no-direct-or-child-instances:', description: "References that have no instance and no children with instances. Does <b>not</b> check beyond first generation of children."},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>

<%= render partial: 'help/id_search_help' %>

<h5>Related record IDs</h5>
<table class="table table-striped">
  <% [
      {field_name: 'duplicate-of-id:', description: "ID of the master record if marked as a duplicate"},
      {field_name: 'parent-id:', description: "ID of the 'parent' reference, if it is identified, e.g. book for chapter, journal for paper"},
      ].each do |val| %>
  <tr>
    <td class="width-20-percent">
        <a href="javascript:void(0)" class="searchable-field width-100-percent" title='Add "<%= val[:field_name] %>" field to search.'>
          <span class="blue"><%= val[:field_name] %></span>
        </a>
    </td>
    <td><%= val[:description].html_safe %></td>
  </tr>
  <% end %>
</table>
<br>


<%= render partial: 'comments/advanced_search/help' %>
<%= render partial: 'help/case_and_wildcards_search' %>

