<div class="focus-details">
  <% if @working_draft %>
    <div id="edit-draft-tree-form-container" class="new-record-form-container">

      <h4>Edit Draft Tree</h4>

      <form action="<%= trees_update_draft_path %>" data-remote="true" method="post">
        <input type="hidden" id="version_id" name="version_id" value="<%= @working_draft.id %>"/>
        <div class="form-group">

          <%= @working_draft.tree.name %>
          <label>Name this draft
            <input class="form-control" id="draft_name" name="draft_name" type="text"
                   value="<%= @working_draft.draft_name %>" title="Name for this draft, e.g. minor edits"/>
          </label>
        </div>

        <div class="form-group">
          <label for="draft_log">Description / work log</label>
          <textarea class="form-control"
                    title="Description of work to carry out"
                    id="draft_log" name="draft_log" rows="10"><%= @working_draft.log_entry %></textarea>
        </div>

        <div>
          &nbsp;
          <button id="tree-form-cancel" type="button" class="btn btn-default left">Cancel <i
          class="fa fa-hand-o-left"></i></button>
          <button id="edit-draft-submit" type="submit"
                  class="btn btn-primary right"
                  onclick="$(this).find('i.fa').addClass('fa-spin')">Save <i class="fa fa-refresh"></i></button>
        </div>
      </form>
    </div>
    <div>
      <div id="edit-draft-message-container" class="message-container"></div>
      <div id="edit-draft-error-message-container" class="message-container error"></div>
    </div>
    <div id="draft_tree_details">
      <dl class="dl-horizontal">
        <dd>Created by <%= @working_draft.created_by %>
          <date><%= @working_draft.created_at.strftime("%FT%T%:z") %></date>
        </dd>
        <dt>Last update</dt>
        <dd><%= @working_draft.last_update&.updated_by %> updated
          <em><%= @working_draft.last_update&.tree_element&.simple_name %></em>
          <date><%= @working_draft.last_update&.updated_at&.strftime("%FT%T%:z") %></date>
        </dd>

      </dl>
    </div>
  <% end %>
</div>
