<div>
  <%= select_tag("update_distribution[dist]", options_for_select(TreeElement.dist_options,
                                                                 selected: @tree_version_element.tree_element.current_dist_options,
                                                                 disabled: @tree_version_element.tree_element.dist_options_disabled),
                 multiple: true, class: "dist-select form-control", tabindex: increment_tab_index) %>
</div>

<button type="submit"
        id="update_distribution_btn"
        class="btn btn-primary left"
        name="update_distribution[update]"
        tabindex="<%= increment_tab_index %>"
        title="Update this distribution"
        onclick="$('#update_distribution_btn').find('i.fa').addClass('fa-spin'); $('option').removeAttr('disabled');"
>Update distribution <i class="fa fa-refresh"></i>
</button>
<button type="button"
        id="delete_distribution_btn"
        class="btn btn-warning right"
        name="delete_distribution_btn"
        tabindex="<%= increment_tab_index %>"
        title="delete this distribution"
        onclick="$('#confirm_delete_distribution').show();$('#update_distribution_btn').hide();$('#delete_distribution_btn').prop('disabled', true);$('#cancel_delete_distribution_btn').focus();"
>Delete distribution
</button>
<div style="display: none" id="confirm_delete_distribution">
  <button type="submit"
          id="confirm_delete_distribution_btn"
          class="btn btn-danger left"
          name="update_distribution[delete]"
          tabindex="<%= tab_index(2) %>"
          title="Update this distribution"
          onclick="$('#confirm_delete_distribution_btn').find('i.fa').addClass('fa-spin');$('#update_distribution_distribution').val('')"
  >Confirm delete <i class="fa fa-trash"></i>
  </button>
  <button type="button"
          id="cancel_delete_distribution_btn"
          class="btn right"
          name="update_distribution[delete]"
          tabindex="<%= increment_tab_index %>"
          title="delete this distribution"
          onclick="$('#confirm_delete_distribution').hide();$('#update_distribution_btn').show();$('#delete_distribution_btn').prop('disabled', false);$('#confirm_delete_distribution_btn').find('i.fa').removeClass('fa-spin');"
  >Cancel delete
  </button>
  <% increment_tab_index %>
</div>

<script>
  $(document).ready(function () {
    initDistSelect();
  })
</script>