<%= text_field_tag("update_distribution[distribution]", @tree_version_element.distribution, title: 'Edit distribution', class: 'form-control', tabindex: increment_tab_index, 'data-role' => 'tagsinput') %>
<script type="application/javascript">
  $(function () {
      var distributions = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('description'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          prefetch: window.relative_url_root + '/trees/typeahead_on_distribution',
          limit: 5
      });
      distributions.initialize();

      function checkDistributionItem(item) {
          return distributions.index.datums.some(function (elt) {
              return elt.description == item;
          });
      }

      function distributionValid(control) {
          var items = control.tagsinput('items');
          var valid = items.length == 0 || items.every(checkDistributionItem);
          $("#update_distribution_btn").attr('disabled', !valid);
      }

      function distributionValidEvent(event) {
          distributionValid($(this));
      }

      var dist_text = $("#update_distribution_distribution");
      dist_text.tagsinput({
          tagClass: function (item) {
              return checkDistributionItem(item) ? 'label label-info' : 'label label-danger label-important';
          },
          typeaheadjs: {
              name: 'distributions',
              displayKey: 'description',
              valueKey: 'description',
              source: distributions.ttAdapter()
          }
      });
      dist_text.on('itemAdded', distributionValidEvent);
      dist_text.on('itemRemoved', distributionValidEvent);
      distributionValid(dist_text);
  });
</script>
<% if @tree_version_element.distribution.blank? %>
    <button type="submit"
            id="update_distribution_btn"
            class="btn btn-primary left"
            name="update_distribution[update]"
            tabindex="<%= increment_tab_index %>"
            title="Update this distribution"
            onclick="$('#update_distribution_btn').find('i.fa').addClass('fa-spin');"
    >Add distribution <i class="fa fa-refresh"></i>
    </button>
<% else %>
<button type="submit"
        id="update_distribution_btn"
        class="btn btn-primary left"
        name="update_distribution[update]"
        tabindex="<%= increment_tab_index %>"
        title="Update this distribution"
        onclick="$('#update_distribution_btn').find('i.fa').addClass('fa-spin');"
>Update distribution <i class="fa fa-refresh"></i>
</button>
<button type="button"
        id="delete_distribution_btn"
        class="btn btn-warning right"
        name="delete_distribution_btn"
        tabindex="<%= increment_tab_index %>"
        title="delete this distribution"
        onclick="$('#confirm_delete_distribution').show();$('#update_distribution_btn').hide();$('#delete_distribution_btn').prop('disabled', true);$('#cancel_delete_distribution_btn').focus();"
>Delete distribution
</button>
<div style="display: none" id="confirm_delete_distribution">
  <button type="submit"
          id="confirm_delete_distribution_btn"
          class="btn btn-danger left"
          name="update_distribution[delete]"
          tabindex="<%= tab_index(2) %>"
          title="Update this distribution"
          onclick="$('#confirm_delete_distribution_btn').find('i.fa').addClass('fa-spin');$('#update_distribution_distribution').val('')"
  >Confirm delete <i class="fa fa-trash"></i>
  </button>
  <button type="button"
          id="cancel_delete_distribution_btn"
          class="btn right"
          name="update_distribution[delete]"
          tabindex="<%= increment_tab_index %>"
          title="delete this distribution"
          onclick="$('#confirm_delete_distribution').hide();$('#update_distribution_btn').show();$('#delete_distribution_btn').prop('disabled', false);$('#confirm_delete_distribution_btn').find('i.fa').removeClass('fa-spin');"
  >Cancel delete
  </button>
<% end %>
<% increment_tab_index %>
</div>
