<%= form_for(orchid, as: 'orchid', role: 'form', remote: true
    ) do |f| -%>
    <% if orchid.errors.any? %>
        <div id="error_explanation">
          <h6><%= pluralize(orchid.errors.count, "error") %> prevented this orchid from being saved:</h6>
          <ul>
            <% orchid.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div id="search-result-details-info-message-container" class="message-container"></div>
    <div id="search-result-details-error-message-container" class="message-container"></div>
    <div class="form-group align-right">
      <% if orchid.id.blank? %>
          <%= link_to 'Cancel', '/cancel-new-form', class: "btn btn-primary cancel-new-record-link", title: "Cancel new orchid", tabindex: increment_tab_index, data: {element_id: "new-orchid-#{params[:random_id]}"} %>
      <% end %>
      <%= f.submit "Save", id: 'orchid-save', class: 'btn btn-primary width-5em', title: "Save changes", tabindex: increment_tab_index, disabled: false %>
    </div>

    <input type="hidden" name="random_id" value="<%= params[:random_id] %>"/>

    <div class="form-group">
      <label for="taxon">Taxon*</label>
      <%= f.text_field :taxon, class: 'form-control give-me-focus', required: true, title: "Enter taxon", tabindex: increment_tab_index, autofocus: true %>
    </div>

    <div class="form-group">
      <label for="alt_taxon_for_matching">Alternative taxon for matching</label>
      <%= f.text_field :alt_taxon_for_matching, class: 'form-control', title: "This an optional alternative taxon to use for matching names", tabindex: increment_tab_index, autofocus: true %>
    </div>

    <div class="form-group">
      <label for="record_type">Record type*</label>
      <%= f.hidden_field :record_type, value: 'misapplied' %>
      <%= f.text_field :record_type, class: 'form-control', value: 'misapplied', disabled: true %>
    </div>

    <div class="form-group">
      <label for="orchid-parent-typeahead">Accepted Taxon</label>
      <input id="orchid-parent-typeahead"
             name="orchid[parent_typeahead]"
             class="typeahead form-control"
             data-orchid-id="<%= orchid.id %>"
             type="text" 
             tabindex="<%= increment_tab_index %>"
             title="Orchids parents"
             value="<%= orchid.parent.try('taxon') %>"/>
    </div>
    <%= f.hidden_field(:parent_id, {}) %>
    <script>setUpOrchidParentTypeahead();</script>

    <%= render partial: "name_status", locals: {f: f} %>
    <%= render partial: "authors", locals: {f: f} %>

    <div class="form-group">
      <label for="comment">Comment</label>
      <%= f.text_area :comment, class: 'form-control', title: "Enter comment", tabindex: increment_tab_index, autofocus: true %>
    </div>

    <div class="form-group">
      <label for="seq">Seq*</label>
      <%= f.text_field(:seq, {class: 'form-control', title: 'For listing the taxon in the correct alphabetical/hierarchical order'}) %>
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      <%= f.text_area :notes, class: 'form-control', title: "Enter notes", tabindex: increment_tab_index, autofocus: true %>
    </div>

    <% unless orchid.id.blank? %>
      <div class="form-group">
        <br>
      <label class="form-check-label">
        <%= f.check_box(:exclude_from_further_processing, {class: 'xform-control', title: 'Exclude this record and any of its synonyms from further bulk processing.'}) %>
        Exclude this record from further bulk processing
      </label>
      </div>
    <% end %>
    <%= f.submit "Save", id: 'orchid-save', class: 'btn btn-primary width-5em pull-right', title: "Save changes", tabindex: increment_tab_index, disabled: false %>
<% end %>
