<% increment_tab_index(0) %>
<h4>Batch</h4>
<h5>Notes for these batch jobs</h5>
<ul>
  <li>They apply only to accepted names. (Reason: synonyms can be spread far and wide in the raw orchid data, resulting in strange and unexpected matches and even odder errors.)
  <li>You might need to add wildcards to the string to match a wider group e.g. to match all the species in a genus use a trailing wildcard.
  <li>In fact, you can enter your own text string to apply the batch job from this tab.
  <li>Associated synonyms are included in the processing.
  <li>Re-applying processing has no effect. e.g. trying to create a preferred match where one already exists makes no change
  <li>Record information displayed on the LHS is not auto updated after a batch job - you need to requery to see any changes.
</ul>

<% if @orchid.accepted? %>
<br>
<h5>Create preferred matches for accepted names identified by this query string</h5>

<%= form_tag({controller: "orchids_batch", action: "create_preferred_matches"}, method: "post", remote: true) do %>
  <input name="taxon_string" type="text" value="<%= @orchid.taxon %>" class="form-control" required title="taxon string for batch" />
  <input id="create-matches-batch-submit" name="submit" type="submit" value="Submit" class="btn btn-primary width-5em" title="Submit the form" />
<% end %>

<%= divider %>

<h5>Create instances for preferred matches for names identified by this query string</h5>

<%= form_tag({controller: "orchids_batch", action: "create_instances_for_preferred_matches"}, method: "post", remote: true) do %>
  <input name="taxon_string" type="text" value="<%= @orchid.taxon %>" class="form-control" required title="taxon string for batch" />
  <input id="create-instances-batch-submit" name="submit" type="submit" value="Submit" class="btn btn-primary width-5em" title="Submit the form" />
<% end %>

<%= divider %>

<% if Rails.configuration.try('allow_orchid_tree_operations') %>

<h5>Add instances to a draft tree for names identified by this query string</h5>

<% if @working_draft.nil? %>
  Please choose a draft from the tree menu first.
<% else %>
  Draft tree: <%= @working_draft.draft_name %>
  <br>

  <%= form_tag({controller: "orchids_batch", action: "add_instances_to_draft_tree"}, method: "post", remote: true) do %>
    <input name="taxon_string" type="text" value="<%= @orchid.taxon %>" class="form-control" required title="taxon string for batch" />
    <input id="add-instances-to-draft-treebatch-submit" name="submit" type="submit" value="Submit" class="btn btn-primary width-5em" title="Submit the form" />
  <% end %>

<% end %>

<%= divider %>

<% else %>
  Orchid tree operations are switched off in this environment.
<% end %>

<% end %>
<div id="search-result-details-info-message-container" class="message-container"></div>
<div id="search-result-details-error-message-container" class="message-container"></div>
 
