<% @orchid.orchids_name.each do |orchid_name| %>
  <% unless @orchid.names_simple_name_matching_taxon.collect {|n| n.id}.include?(orchid_name.name_id) %>
    <span class="red">
    Currently linked to <%= orchid_name.name.full_name %><%= orchid_name.name.name_status.name_for_instance_display %><br>
    </span>
  <% end %>
<% end %>



<% pi_count = 0 %>
<%= form_for(@orchid, as: 'orchid', role: 'form', remote: true) do |f| %>
  <% @orchid.names_simple_name_matching_taxon.each_with_index do |matching_name, index| %>
    <%  if index > 0 %><br><% end %>
    <% if @orchid.synonym_without_synonym_type? %>
      <span class="red">
      This orchid is a synonym without a synonym type.  You can fix that on the Edit tab.
      </span>
    <% end %>
    <% disable_radio_button = !matching_name.has_primary_instance? || matching_name.duplicate? || @orchid.synonym_without_synonym_type? %>
        <% pi_count += 1 unless !matching_name.has_primary_instance? %>
        <br>
        <% orchid_name_ids = @orchid.orchids_name.collect {|oname| oname.name_id} %>
        <%= f.radio_button(:name_id, matching_name.id, checked: orchid_name_ids.include?(matching_name.id), disabled: disable_radio_button) %>
        <%= label_tag(:"orchid_name_id_#{matching_name.id}", "#{matching_name.full_name} #{matching_name.name_status.name_for_instance_display}", title: "Name ID: #{matching_name.id}") %>
        <% if matching_name.duplicate? %>
          <span class="matching-name-is-a-duplicate">[Duplicate]</span>
        <% end %>
         | <%= link_to('query name', search_path(query_string: "id: #{matching_name.id} show-instances:",query_target: 'names'),
                          tabindex: increment_tab_index,
                          title: "Search for #{matching_name.full_name}",
                          class: '') %>
         <br>
                     <% if OrchidsName.where(name_id: matching_name.id).where.not(orchid_id: @orchid.id).size > 0 %>
                       Already the preferred match for:
                       <ul>
                         <b>
                         <% OrchidsName.where(name_id: matching_name.id).where.not(orchid_id: @orchid.id).each do |orchids_name| %>
                           <li><%= link_to(orchids_name.orchid.taxon,search_path(query_target: "orchids", query_string: "id:#{orchids_name.orchid_id}"),
                                           title: "See #{orchids_name.orchid}",
                                           class: 'underline') %> (<%= orchids_name.orchid.record_type %>)
                         <% end %>
                         </b>
                       </ul>
                     <% end %>
        <% matching_name.primary_instances.each do |p_i| %>
          <span class="brown"><%= p_i.instance_type.name %></span>&nbsp;<span title="Instance ID: <%= p_i.id %>"><%= p_i.reference.citation %>:&nbsp;<%= p_i.page %></span>
        <% end %>
 <% end %>
  <br>

  <% if pi_count > 0 && pi_count > @orchid.orchids_name.size  %>
  <br>
  <%= f.submit "Save", id: 'save-orchid', tabindex: increment_tab_index, title: 'Save changes', class: 'btn btn-primary width-5em', disabled: false %>
  <% end %>

  <% unless pi_count > 0 %>
    <% if name_match_count > 0 %>
      [No primary instance.]
    <% end %>
  <% end %>
<% end %>

<%= render partial: 'tab_show_standard_preferred_match_info' %>
