  <% @orchid.names_simple_name_matching_taxon.each_with_index do |matching_name, index| %>
    <% current_chosen_orchids_names = OrchidsName.where(name_id: matching_name.id).where(orchid_id: @orchid.id) %>
    <% current_chosen_instances = current_chosen_orchids_names.collect {|orcn| orcn.instance_id} %>
    <br>
    <%  if index > 0 %><br><% end %>
    <br>
    <b>
      <%= "#{matching_name.full_name} #{matching_name.name_status.name_for_instance_display} (id:#{matching_name.id})" %>
    </b>
    <% unless OrchidsName.where(name_id: matching_name.id).where.not(orchid_id: @orchid.id).empty? %>
    <br>
     Already the preferred match for:
     <ul>
       <b>
       <% matching_name.orchids.each do |orchid| %>
         <li><%= link_to(orchid.taxon,search_path(query_target: "orchids", query_string: "id:#{orchid.id}"),
                         title: "See #{orchid.taxon}",
                         class: 'underline') %> (<%= orchid.record_type %>)
                         <%= orchid.id %>

       <% end %>
       </b>
     </ul>
     <br>
    <% end %>
     | <%= link_to('query name', search_path(query_string: "id: #{matching_name.id} show-instances:",query_target: 'names'),
                      tabindex: increment_tab_index,
                      title: "Search for #{matching_name.full_name}",
                      class: '') %>
  <br>
  <%= @orchid.orchids_name.size %>
  <br>
  <% @orchid.name_id = matching_name.id %>
  <br>
  <% matching_name.instances.sort{|x,y| x.reference.iso_pub_date_for_sorting <=> y.reference.iso_pub_date_for_sorting}.each do |instance| %>
      <% unless instance.instance_type.relationship? %>

        <% orchid_name = OrchidsName.new %>
        <% orchid_name.orchid_id = @orchid.id %>
        <% orchid_name.name_id = @orchid.name_id %>
        <% orchid_name.instance_id = instance.id %>
        <%= form_for(orchid_name, as: 'orchid_name', role: 'form', remote: true) do |f| %>
          <%= instance.reference.citation %>:<span class="blue"><%= instance.page %></span> <span class="brown"><%= instance.instance_type.name %></span>
          <%= f.hidden_field(:name_id) %>
          <%= f.hidden_field(:orchid_id) %>
          <%= f.hidden_field(:instance_id) %>
  
          <% if current_chosen_instances.include?(instance.id) %> <%# Delete not Add %>
            <% current_chosen_orchids_name = current_chosen_orchids_names.select {|orcn| orcn.instance_id == instance.id}.first %>
            <% if !current_chosen_orchids_name.blank? && current_chosen_orchids_name.relationship_instance_id.present? %>
              <br><span class="relationship-statement">Relationship instance has been created.</span>
            <% else %>
              <%= f.submit "Add", id: "add-link-#{instance.id}", tabindex: increment_tab_index, title: 'Add instance link', class: 'hidden bgdarkslateblue btn btn-primary width-3em' %>
              <%= f.submit "Remove", id: "remove-link-#{instance.id}", tabindex: increment_tab_index, title: 'Remove instance link', class: 'bgpurple btn btn-primary width-4em' %>
            <% end %>
          <% else %>
            <%= f.submit "Add", id: "add-link-#{instance.id}", tabindex: increment_tab_index, title: 'Add instance link', class: 'bgdarkslateblue btn btn-primary width-3em' %>
            <%= f.submit "Remove", id: "remove-link-#{instance.id}", tabindex: increment_tab_index, title: 'Remove instance link', class: 'hidden bgpurple btn btn-primary width-4em' %>
          <% end %>

        <% end %>


      <% end %>

   <% end %>
 <% end %>

