

<% unless @orchid.orchids_name.empty? %>
  <% @orchid.orchids_name.each do |orchids_name| %>
    <%= divider %>

    <% if orchids_name.standalone_instance_created? || orchids_name.standalone_instance_found? %>
    <span class="bgdarkslateblue white">Instance has been created or found.</span>
    <br>
    Name with instances display:
      <%= link_to("#{orchids_name.standalone_instance.name.full_name} — #{orchids_name.standalone_instance.reference.citation}",
                     search_path(query_string: "show-instances: id: #{orchids_name.name.id}",query_target: 'name'),
                      tabindex: increment_tab_index,
                      title: "Search for name with instances",
                      class: 'blue underline') %>

      <% if orchids_name.standalone_instance.name.accepted_concept? || orchids_name.standalone_instance.name.excluded_concept? %>
        <%= render(partial: 'instances/apc/widgets', locals: {instance: orchids_name.standalone_instance}) %>
      <% end %>

      <% if orchids_name.drafted? %>
        <br><span class='on-tree-indicator'>Drafted</span>
      <% end %>
      <% if @working_draft.present? && orchids_name.standalone_instance.in_workspace?(@working_draft) %>
        <br><span class='on-tree-indicator'>In working draft <%= @working_draft.draft_name %></span>
      <% end %>
    <% elsif orchids_name.relationship_instance_created? || orchids_name.relationship_instance_found? %>
      <span class="relationship-statement">Cross reference instance has been created or found.</span>
    <% else %>
      <br>
    This button lets you remove the existing preferred match without setting a new one.
    <br>
    <br>
    <%= form_for(@orchid, as: 'orchid', role: 'form', remote: true) do |f| %>
      <%= f.hidden_field(:name_id, value: -1) %>
      <%= f.submit "Clear", id: 'save-orchid', tabindex: increment_tab_index, title: 'Clear selected matches', class: 'btn btn-primary width-5em', disabled: false %>
    <% end %>
  <% end %>
<% end %>
<% end %>


