<h4>Core Raw Data</h4>
<%= render partial: 'detail_line', locals: {info: @orchid.id, label: 'ID'} %>
<%= render partial: 'detail_line', locals: {info: @orchid.seq, label: 'Position in sequence', title: 'Ror displaying in alphabetical then hierarchical order.'} %>
<%= render partial: 'detail_line', locals: {info: @orchid.taxon, label: 'taxon'} %>
<%= render partial: 'detail_line', locals: {info: @orchid.record_type, label: 'record type'} %>
<% unless @orchid.ex_base_author.blank? %>
  <%= render partial: 'detail_line', locals: {info: @orchid.ex_base_author, label: 'ex base author'} %>
  <br>
<% end %>
<% unless @orchid.base_author.blank? %>
  <%= render partial: 'detail_line', locals: {info: @orchid.base_author, label: 'base author'} %>
  <br>
<% end %>
<% unless @orchid.ex_author.blank? %>
  <%= render partial: 'detail_line', locals: {info: @orchid.ex_author, label: 'ex author'} %>
  <br>
<% end %>
<%= render partial: 'detail_line', locals: {info: @orchid.author, label: 'author'} unless @orchid.author.blank? %>
<% unless @orchid.isonym.blank? %>
  <%= render partial: 'detail_line', locals: {info: @orchid.isonym, label: 'isonym'} %>
  <br>
<% end %>
<% unless @orchid.synonym_type.blank? %>
  <%= render partial: 'detail_line', locals: {info: @orchid.synonym_type_with_interpretation, label: 'synonym type'} %>
  <br>
<% end %>
<% unless @orchid.partly.blank? %>
  <%= render partial: 'detail_line', locals: {info: @orchid.partly, label: 'partly'} %>
  <br>
<% end %>
<% if @orchid.child? %>
  <%= render partial: 'detail_line', 
           locals: {info: link_to("Query parent (accepted name with synonyms)",
                                  search_path(query_target: "orchids", query_string: "id-with-syn:#{@orchid.parent_id}"),
                                  title: 'See parent',
                                  class: 'underline'), 
                    label: ''} %>
<% else %>
  <%= render partial: 'detail_line', locals: {info: @orchid.children.size, label: 'number of synonyms'} %>
  <%= render partial: 'detail_line', 
           locals: {info: link_to("Query self (accepted name with synonyms)",
                                  search_path(query_target: "orchids", query_string: "id-with-syn:#{@orchid.id}"),
                                  title: 'See this record with synonyms',
                                  class: 'underline'), 
                    label: ''} %>
<% end %>
