<% increment_tab_index(0) %>
<h5>Raw Orchid <%= @orchid.record_type.capitalize %></h5>
<% if @orchid.accepted? %>
  <%= render partial: 'form_for_accepted', locals: { orchid: @orchid } %>
<% elsif @orchid.synonym? %>
  <%= render partial: 'form_for_synonym', locals: { orchid: @orchid } %>
<% elsif @orchid.misapp? %>
  <%= render partial: 'form_for_misapp', locals: { orchid: @orchid } %>
<% elsif @orchid.hybrid_cross? %>
  <%= render partial: 'form_for_hybrid_cross', locals: { orchid: @orchid } %>
<% else %>
  Unknown record type: <%= @orchid.record_type %>
<% end %>

