<% increment_tab_index(0) %>
<%#= render partial: 'tab_show_1_core_info' %>
<%#= divider %>

<h4><%= pluralize(@orchid.orchids_name.size,'Match') %> Chosen </h4>
<ol>
<% @orchid.orchids_name.order('id').each do |orcn| %>
  <li><%= orcn.id %>
    <ul>
      <li><%= orcn.name.full_name %></li>
      <li><%= orcn.instance.reference.citation %></li>
      <li><%= orcn.instance.page %></li>
          <% if @orchid.accepted? %>
            (No instance type to edit for accepted names.)
          <% else %>
            <li><%= orcn.instance.instance_type.name %></li>
            <li><%= orcn.instance_type.try('name') %></li>

          <%= form_for(orcn, as: 'orchid_name', role: 'form', remote: true) do |f| %>

            <%= f.select(:relationship_instance_type_id,
               InstanceType.synonym_options, {include_blank: true},
               {value: orcn.relationship_instance_type_id, data: {update_url: instance_path},
                class: 'form-control width-50-percent', title: 'Enter instance type',
                required: true, tabindex: increment_tab_index})
  %>

            <%= f.submit "Change", id: "change-instance-type-#{orcn.id}",
              tabindex: increment_tab_index,
              title: 'Change instance type',
              class: 'bgdarkslateblue btn btn-primary width-6em' %>

          <% end %>
<% end %>

    </ul>
    <br>
    <%= created_by_whom_and_when(orcn).html_safe %>
    <br>
    <%= updated_by_whom_and_when(orcn).html_safe %>
  </li>
  <br>
<% end %>
</ol>
<span id="search-result-details-info-message-container" class="message-container"></span>
<span id="search-result-details-error-message-container" class="error-container"></span>
<br>
<% unless @orchid.original_text.blank? %>
  <%= divider %>
  <h5>Original Text</h5>
  <%= render partial: 'detail_line', locals: {info: @orchid.original_text, label: ''} %>
  <br>
<% end %>
