<% increment_tab_index(0) %>
<%= render partial: 'tab_show_1_core_info' %>
<%= divider %>
<%= render partial: 'tab_show_1_name_matches' %>
<%= divider %>
<%= render partial: 'tab_show_1_more_info' %>
<%= divider %>
<h4>Metadata</h4>
<%= created_by_whom_and_when(@orchid).html_safe %>
<br>
<%= updated_by_whom_and_when(@orchid).html_safe %>
