<h1 class="margin-left-1em">Instance Types</h1>

<table class="table table-striped margin-left-1em">
  <thead>
    <tr>
      <th>Name</th>
      <th>citing</th>
      <th>deprecated</th>
      <th>doubtful</th>
      <th>misapplied</th>
      <th>nomenclatural</th>
      <th>primary_instance</th>
      <th>pro_parte</th>
      <th>protologue</th>
      <th>relationship</th>
      <th>secondary_instance</th>
      <th>sort_order</th>
      <th>standalone</th>
      <th>synonym</th>
      <th>taxonomic</th>
      <th>unsourced</th>
      <th>description</th>
    </tr>
  </thead>

  <tbody>
    <% @instance_types.each do |instance_type| %>
      <tr>
        <td><%= instance_type.name %></td>
        <td><%= instance_type.citing %></td>
        <td><%= instance_type.deprecated %></td>
        <td><%= instance_type.doubtful %></td>
        <td><%= instance_type.misapplied %></td>
        <td><%= instance_type.nomenclatural %></td>
        <td><%= instance_type.primary_instance %></td>
        <td><%= instance_type.pro_parte %></td>
        <td><%= instance_type.protologue %></td>
        <td><%= instance_type.relationship %></td>
        <td><%= instance_type.secondary_instance %></td>
        <td><%= instance_type.sort_order %></td>
        <td><%= instance_type.standalone %></td>
        <td><%= instance_type.synonym %></td>
        <td><%= instance_type.taxonomic %></td>
        <td><%= instance_type.unsourced %></td>
        <td><%= raw instance_type.description_html %></td>
      </tr>
    <% end %>
  </tbody>
</table>

