
  <% if @name.takes_authors? %>

  <div class="form-group">
    <label for="ex-base-author-by-abbrev">Ex Base Name Author</label><br>
    <input id="ex-base-author-by-abbrev"
           name="name[ex_base_author_typeahead]"   
           class="typeahead form-control"
           type="text" 
           title="Ex Base Name Author field. Authors will be suggested as you type, so please select from the list or type enough to identify a single author by abbreviation."
           tabindex="<%= increment_tab_index %>"
           value="<%= @name.ex_base_author.try('abbrev_if_possible') %>"/>
  <p>[For all author fields, use standard abbreviations]</p>
  </div>

  <%= f.hidden_field(:ex_base_author_id) %>

  <div class="form-group base-author">
    <label for="base-author-by-abbrev">Base Name Author</label><br>
    <input id="base-author-by-abbrev"
           name="name[base_author_typeahead]"   
           class="typeahead form-control"
           type="text" 
           title="Base Name Author field. Authors will be suggested as you type, so please select from the list or type enough to identify a single author by abbreviation."
           tabindex="<%= increment_tab_index %>"
           value="<%= @name.base_author.try('abbrev_if_possible') %>"/>
  </div>
  <%= f.hidden_field(:base_author_id) %>


  <div class="form-group">
    <label for="ex-author-by-abbrev">Ex Author</label><br>
    <input id="ex-author-by-abbrev"
           name="name[ex_author_typeahead]"   
           class="typeahead form-control"
           type="text" 
           title="Authors will be suggested as you type, so please select from the list or type enough to identify a single author by abbreviation."
           tabindex="<%= increment_tab_index %>"
           value="<%= @name.ex_author.try('abbrev_if_possible') %>"/>
  </div>
  <%= f.hidden_field(:ex_author_id) %>

  <% end %>

  <% if @name.takes_authors? || @name.takes_author_only? %>

  <div class="form-group author">
    <label for="author-by-abbrev">Author</label><br>
    <input id="author-by-abbrev"
           name="name[author_typeahead]"   
           class="typeahead form-control" 
           type="text" 
           title="Authors will be suggested as you type, so please select from the list or type enough to identify a single author by abbreviation."
           tabindex="<%= increment_tab_index %>"
           value="<%= @name.author.try('abbrev_if_possible') %>"/>
  </div>
  <%= f.hidden_field(:author_id) %>
  <script>setUpAuthorByAbbrev(); </script>

  <% end %>

  <% if @name.takes_authors? %>

  <div class="form-group">
    <label for="sanctioning-author-by-abbrev">Sanctioning Author</label><br>
    <input id="sanctioning-author-by-abbrev"
           name="name[sanctioning_author_typeahead]"   
           class="typeahead form-control" 
           type="text" 
           title="Authors will be suggested as you type, so please select from the list or type enough to identify a single author by abbreviation."
           tabindex="<%= increment_tab_index %>"
           value="<%= @name.sanctioning_author.try('abbrev_if_possible') %>"/>
  </div>
  <%= f.hidden_field(:sanctioning_author_id) %>


    <script>setUpExBaseAuthorByAbbrev();</script>
    <script>setUpBaseAuthorByAbbrev();</script>
    <script>setUpExAuthorByAbbrev();</script>
    <script>setUpSanctioningAuthorByAbbrev();</script>

  <% end %>

