<% if @name.requires_family? %>
  <div class="form-group">
    <label for="name-family-typeahead">Family*</label>
  <input id="name-family-typeahead"
         name="name[family_typeahead]"
         class="typeahead form-control requires-rank"
         data-name-id="<%= @name.id %>"
         required
         type="text"
         tabindex="<%= increment_tab_index %>"
         title="Name family will be suggested as you type, so please select from the list. Duplicates and names without instances are excluded."
         value="<%= @name.family.try('full_name') %>"/>
  <p>
        <span class="hide-if-rank <%= 'hidden' if @name.name_rank %>">
          Cannot be set if there is no rank.
        </span>
  </p>
</div>
<%= hidden_field(:name, :family_id, value: @name.family_id) %>

<script>setUpNameFamilyTypeahead();</script>
<% end %>
