<%= form_for(@reference,
             as: 'reference',
             role: 'form', remote: true) do |f| %>
 <% if @reference.errors.any? %>
    <div id="error_explanation" class="red">
      <h6><%= pluralize(@reference.errors.count, "error") %> prohibited this reference from being saved:</h6>
      <ul>
      <% @reference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field('form','name', value: 'form') %>

  <div class="form-group align-right">
  <% if @reference.id.blank? %>
    <%= link_to 'Cancel','/cancel-new-form',
                 class: "btn btn-primary cancel-new-record-link",
                 title: "Cancel new reference.",
                 data: {element_id: "new-reference-#{params[:random_id]}", tabindex: increment_tab_index}  %>
  <% end %>
  <%= f.submit "Save", id: 'top-save-btn', 
    class: 'btn btn-primary width-5em', 
    disabled: false, 
    title: "Save changes",
    tabindex: increment_tab_index %>
  </div>


  <input type="hidden" name="random_id" value="<%= params[:random_id] %>"/>

  <div class="form-group">
    <label for="reference_ref_type_id">Type*</label>
    <%= f.select("ref_type_id",
                 @reference.ref_type_options,
                 { include_blank: true },
                 { class:'form-control give-me-focus', 
                   required: true, 
                   autofocus: true, 
                   title: "Choose the type of reference", 
                   tabindex: increment_tab_index} ) %>
  </div>

  <div class="form-group">
    <label for="reference-parent-typeahead">Parent</label><br>
    <input id="reference-parent-typeahead"
           name="reference[parent_typeahead]"
           class="typeahead form-control"
					 data-current-id="<%= @reference.id %>"
           type="text"
           tabindex="<%= increment_tab_index %>"
           title="Enter the parent or containing reference using the suggestions that are listed when you start typing."
           value="<%= @reference.parent.try('citation') %>"/>
           <p id=current-ref-type-message-about-parent>Please choose a type above before setting the parent.</p>
  </div>
  <%= f.hidden_field(:parent_id) %>

  <% if @reference.id.present? %>
    <script>
      // Only do this if it is an existing record.  Avoids side-effect that breaks new.js.
      var refTypeKey = $('#reference_ref_type_id option:selected').text().replace(' ','');
      $('#current-ref-type-message-about-parent').html($('div#ref-type-message div#'+ refTypeKey).html());
    </script>
  <% end %>

  <script>
    $('#reference_ref_type_id').on('change',function(e) {
      $('#current-ref-type-message-about-parent').html('');
      var key = $('#reference_ref_type_id option:selected').text().replace(' ','');
      $('#current-ref-type-message-about-parent').html($('div#ref-type-message div#'+ key).html());
    });
  </script>
  <div id="ref-type-message">
    <div id="Book" class="hidden">A Book can belong to a Series</div>
    <div id="Chapter" class="hidden">A Chapter can belong to a Book</div>
    <div id="Database" class="hidden">A Database cannot belong to another reference - no parent allowed</div>
    <div id="DatabaseRecord" class="hidden">A Database Record can belong to a Database</div>
    <div id="Herbariumannotation" class="hidden">An Herbarium Annotation cannot belong to another reference - no parent allowed</div>
    <div id="Index" class="hidden">An index cannot belong to another reference - no parent allowed </div>
    <div id="Journal" class="hidden">A Journal cannot belong to another reference - no parent allowed</div>
    <div id="Part" class="hidden">A Part can belong to a Paper</div>
    <div id="Paper" class="hidden">A Paper can belong to a Journal</div>
    <div id="PersonalCommunication" class="hidden">A Personal Communication cannot belong to another reference - no parent allowed</div>
    <div id="Section" class="hidden">A Section can belong to a Book</div>
    <div id="Series" class="hidden">A Series cannot belong to another reference - no parent allowed</div>
    <div id="Unknown" class="hidden">An Unknown type reference can belong to another Unknown type reference</div>
  </div>
  <div class="form-group">
    <label for="reference_title">Title*</label>
    <%= f.text_field :title, class: 'form-control', required: true, title: "Enter the title", tabindex: increment_tab_index %>
    <p>If no title use 'Not set'</p>
  </div>
  <div class="checkbox">
    <label for="reference_published">
      <%= f.check_box(:published, {class:'checkbox-inline width-1em', title: "Check the box if published", tabindex: increment_tab_index}) %>
      Published
    </label>
  </div>

  <div class="form-group">
    <label for="reference-author-typeahead">Author*</label><br>
    <input id="reference-author-typeahead"
           name="reference[author_typeahead]"
           class="typeahead form-control"
           required
           type="text"
           tabindex="<%= increment_tab_index %>"
           title="Select the author name from the suggestions that appear when you start typing. This field has ordered fragment searching and frequency searching."
           value="<%= @reference.author.try('name') %>"/>
  </div>
  <%= f.hidden_field(:author_id) %>

  <div class="form-group">
    <label for="reference_ref_author_role_id">Author role*</label><br>
    <%= f.select("ref_author_role_id",
                 RefAuthorRole.options,
                 { include_blank: true },
                 { class:'form-control', required: true, title: "Select the author role", tabindex: increment_tab_index} ) %>
  </div>

  <div class="form-group">
    <label for="reference_edition">Edition</label>
    <%= f.text_field :edition, class: 'form-control', title: "Enter edition details", tabindex: increment_tab_index %>
  </div>

  <div class="form-group">
    <label for="reference_volume">Volume</label>
    <%= f.text_field :volume, class: 'form-control', title: "Enter volume details", tabindex: increment_tab_index %>
  </div>

  <div class="form-group">
    <label for="reference_pages">Pages/Figures</label>
    <%= f.text_field :pages, class: 'form-control', title: "Enter page or page range(s)", tabindex: increment_tab_index %>
  </div>

  <div class="form-group">
    <label for="reference_day">Publication date</label><br>

    <%= f.text_field :day, type: 'number', min: '1', max: '31', step: '1', class: 'day-of-month-field', title: "Enter an optional day of publication", tabindex: increment_tab_index %>

    <%= select(:reference, :month, options_for_select(month_array_for_select, @reference.month.to_i), {include_blank: ''}, {class: 'month-select', title: 'Enter optional publication month (required if you enter day).', tabindex: increment_tab_index}) %>

    <%= f.text_field :year, type: 'number', min: '1000', max: "#{Time.new.year}", step: '1', class: 'year-field', title: "Enter year of publication (4-digit number)", tabindex: increment_tab_index %>

    <p>Strictly formatted, partial or full date: day-month-year, month-year, or just year.</p>
  </div>
	
  <div class="form-group">
    <label for="reference_publication_date">Publication date text</label>
    <%= f.text_field :publication_date, class: 'form-control', title: "Enter publication date", tabindex: increment_tab_index %>
    <p>e.g. 3-5 Oct. 1776</p>
  </div>

  <div class="form-group">
    <label for="reference_notes">Notes</label>
    <%= f.text_area :notes, class: 'form-control', title: "Enter notes", tabindex: increment_tab_index %>
  </div>

  <div class="form-group align-right">
  <% if @reference.id.blank? %>
    <%= link_to 'Cancel','/cancel-new-form',
                 class: "btn btn-primary cancel-new-record-link",
                 title: "Cancel new reference.",
                 data: {element_id: "new-reference-#{params[:random_id]}", tabindex: increment_tab_index}  %>
  <% end %>
  <%= f.submit "Save", 
    id: 'bottom-save-btn', 
    class: 'btn btn-primary width-5em', 
    disabled: false, 
    title: "Save changes.",
    tabindex: increment_tab_index %>
  </div>

<% end %>

  <script>setUpReferenceAuthor();</script>
  <script>setUpReferenceParent();</script>


