
           
<%= form_for(@reference,
             url: @reference.id.present? ? reference_path(id: @reference.id) : references_path,
             role: 'form', remote: true
            ) do |f| %>
 <% if @reference.errors.any? %>
    <div id="error_explanation">
      <h6><%= pluralize(@reference.errors.count, "error") %> prohibited this reference from being saved:</h6>

      <ul>
      <% @reference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field('form','name', value: 'form_2') %>

 <div class="form-group">
    <label for="notes">Publisher</label>
    <%= f.text_field :publisher, class: 'form-control give-me-focus', title: 'Enter publisher', tabindex: increment_tab_index  %>
  </div>

  <div class="form-group">
    <label for="notes">Published location</label>
    <%= f.text_field :published_location, class: 'form-control', title: 'Enter place of publication', tabindex: increment_tab_index %>
  </div>

  <div class="form-group">
    <label for="notes">Abbreviated title</label>
    <%= f.text_field :abbrev_title, class: 'form-control', title: 'Enter abbreviated title', tabindex: increment_tab_index %>
  </div>

  <div class="form-group">
    <label for="notes">Display title</label>
    <%= f.text_field :display_title, class: 'form-control', title: 'Enter display title - defaults to the title if nothing entered', tabindex: increment_tab_index %>
		<p>Defaults to the title if nothing entered here.</p>
  </div>

  <div class="form-group">
    <label for="language_id">Language*</label>
    <%= f.select("language_id", 
                 Language.options, 
                 { include_blank: true },
                 { class:'form-control', autocomplete: 'off', title: 'Select language', tabindex: increment_tab_index}).sub(/value="disabled"/, ' disabled value="" ').html_safe %>
		<p>Defaults to Undetermined if blank.</p>
  </div>

  <div class="form-group">
    <label for="reference-duplicate-of-typeahead">Duplicate of</label><br>
    <input id="reference-duplicate-of-typeahead"
           name="reference[duplicate_of_typeahead]"
           class="typeahead form-control" 					 
					 data-excluded-id="<%= @reference.id %>"
					 data-excluded="<%= @reference.id %>"
           type="text" 
           title="Enter reference this duplicates.  Typeahead."
           tabindex="<%= increment_tab_index %>"
           value="<%= @reference.duplicate_of.try('citation') %>"/>
  </div>
	<%= f.hidden_field :duplicate_of_id, class: 'form-control' %>
  <br>
  <br>
  <div class="form-group align-right">
  <%= f.submit "Save", id: 'scientific-name-save', class: 'btn btn-primary width-5em', disabled: false, title: 'Save', tabindex: increment_tab_index %>
  </div>
 
<% end %>

<script> setUpReferenceDuplicateOf(); </script>
