<div class="focus-details 
            <%= 'freshly-created' if Time.now.strftime("%Y%m%d") == @reference.created_at.strftime("%Y%m%d") &&  (@reference.created_at - @reference.updated_at).abs < 10 %>">
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  
  <div class="inner">
    <h3 class="hide-overflow">
      <%= link_to("#{@reference.citation}#{display_pages(@reference.pages)}" || '[No citation found.]', 
                  search_path(query_string: %Q(id:#{@reference.id}), query_target: 'reference'), 
                  id: 'tab-heading', 
                  title: "Query this reference.",
                  tabindex: increment_tab_index )%>
                <span class="pull-right"><%= mapper_link('reference', @reference.id)%></span>
    </h3>
    <%= render partial: 'references/tabs/tabs' %>
    <%= render partial: "references/tabs/#{@tab}" %>
    <br>
    <span class='server-response-time'><%= "(#{(Time.now - @start_time).round(2)}s)" if @start_time %></span>

  </div><!-- /end .inner -->
</div><!-- /end .focus-details -->
