<label for="<%= id %>" class=""><%= label %></label>
<input id="<%= id %>"
       type="text" 
       value="<%= @parsed_search_string[%Q(#{id})] %>" 
       name="query[<%= id %>]" 
       class="form-control query-field">
</input>

