

<div id="advanced-search-settings-container" class=""> 
  <a id="name-advanced-search-capture" href="#" class="btn btn-default" role="button">Capture</a> 
  <br>
  <a id="name-advanced-search-apply" href="#" class="btn btn-default" role="button">Apply</a> 
  <br>
  <a id="advanced-search-run" href="#" class="btn btn-default" role="button">Search</a> 
</div>

<div id="advanced-search-inner" 
     style="overflow: auto; min-height: 300px; height: 80%; margin-bottom: 1em; padding-bottom: 1em;"
     class="width-95-percent">

<ul id="advanced-search-tabset" class="nav nav-tabs low">
  <li role="presentation" class="active"><a id="advanced-search-tab-link-name" href="#" data-show-id="advanced-search-name">Name</a></li>
  <li role="presentation"><a id="advanced-search-tab-link-reference" href="#" data-show-id="advanced-search-reference">Reference</a></li>
  <li role="presentation"><a id="advanced-search-tab-link-instance" href="#" data-show-id="advanced-search-instance">Instance</a></li>
  <li role="presentation"><a id="advanced-search-tab-link-author" href="#" data-show-id="advanced-search-author">Author</a></li>
  <li role="presentation"><a id="advanced-search-tab-link-audit" href="#" data-show-id="advanced-search-audit">Audit</a></li>
  <!--
  <li role="presentation"><a id="advanced-search-tab-link-reports" href="#" data-show-id="advanced-search-reports">Reports</a></li>
  <li role="presentation"><a id="advanced-search-tab-link-saved-searches" href="#" data-show-id="advanced-search-saved-searches">Saved</a></li>
  -->
</ul>

  <div id="advanced-search-inner-form-container" 
     style="overflow: hidden; padding-right: 1em; margin-right: 1em; padding-bottom: 2em; margin-bottom: 2em;" 
       class="">


  <div id="advanced-search-name" class="advanced-search-tab">
    <%= render partial: 'new_search/tabs/name_tab' %>
  </div>
  <div id="advanced-search-reference" class="advanced-search-tab hidden">
    <%= render partial: 'new_search/tabs/reference_tab' %>
  </div>
  <div id="advanced-search-instance" class="advanced-search-tab hidden">
    <%= render partial: 'new_search/tabs/instance_tab' %>
  </div>
  <div id="advanced-search-author" class="advanced-search-tab hidden">
    <%= render partial: 'new_search/tabs/author_tab' %>
  </div>
  <div id="advanced-search-audit" class="advanced-search-tab hidden">
    <%= render partial: 'new_search/tabs/audit_tab' %>
  </div>
  <!--
  <div id="advanced-search-reports" class="advanced-search-tab hidden">
    <%#= render partial: 'new_search/tabs/reports_tab' %>
  </div>
  <div id="advanced-search-saved-searches" class="advanced-search-tab hidden">
    <%#= render partial: 'new_search/tabs/saved_searches_tab' %>
  </div>
  -->
  </div>
</div>
