<div id="example-examples-inner" class="">
  <div id="reference-search-examples" class="search-examples hidden">
    <%= render partial: 'references/advanced_search/examples' %>
  </div>
  <div id="name-search-examples" class="search-examples hidden">
    <%= render partial: 'names/advanced_search/examples' %>
  </div>
  <div id="name-plus-instances-search-examples" class="search-examples hidden">
    <%= render partial: 'names/advanced_search/plus_instances_examples' %>
  </div>
  <div id="author-search-examples" class="search-examples hidden">
    <%= render partial: 'authors/advanced_search/examples' %>
  </div>
  <div id="instance-search-examples" class="search-examples hidden">
    <%= render partial: 'instances/advanced_search/examples' %>
  </div>
  <div id="instances-for-name-id-search-examples" class="search-examples hidden">
    <%= render partial: 'instances/advanced_search/for_name_id_examples' %>
  </div>
  <div id="instances-for-ref-id-search-examples" class="search-examples hidden">
    <%= render partial: 'instances/advanced_search/for_ref_id_examples' %>
  </div>
  <div id="tree-search-examples" class="search-examples hidden">
    <%= render partial: 'trees/advanced_search/examples' %>
  </div>
  <div id="review-search-examples" class="search-examples hidden">
    ssddsds
    <%= render partial: 'audits/advanced_search/examples' %>
  </div>
  <div id="references-accepted-names-search-examples" class="search-examples hidden">
    <%= render partial: 'references/advanced_search/with_novelties_examples' %>
  </div>
  <div id="references-names-full-synonymy-search-examples" class="search-examples hidden">
    <%= render partial: 'references/advanced_search/names_full_synonymy_examples' %>
  </div>

</div>

