<div id="search-help-inner" class="">
  <div id="reference-search-help" class="search-help hidden">
    <%= render partial: 'references/advanced_search/help' %>
  </div>
  <div id="name-search-help" class="search-help">
    <%= render partial: 'names/advanced_search/help' %>
  </div>
  <div id="author-search-help" class="search-help hidden">
    <%= render partial: 'authors/advanced_search/help' %>
  </div>
  <div id="instance-search-help" class="search-help hidden">
    <%= render partial: 'instances/advanced_search/help' %>
  </div>
  <div id="instances-for-name-id-search-help" class="search-help hidden">
    <%= render partial: 'instances/advanced_search/for_name_id_help' %>
  </div>
  <div id="instances-for-ref-id-search-help" class="search-help hidden">
    <%= render partial: 'instances/advanced_search/for_ref_id_help' %>
  </div>
  <div id="tree-search-help" class="search-help hidden">
    <%= render partial: 'trees/advanced_search/help' %>
  </div>
  <div id="review-search-help" class="search-help hidden">
    <%= render partial: 'audits/advanced_search/help' %>
  </div>

</div>

