<% if @search.defined_query %>
  Defined query.
<% end %>
<% if @error.present? %>
  <%= @error %>
<% else %>
  <% unless @search.empty %>
    <% if @search.count %> 
      <%= "#{pluralize(@search.results,@search.target_table)}.  " %>
    <% else %>
      <% if @search.results.size == 0 %>
        No records found. 
      <% else %>
        <% if @search.results.size == @search.limit %>
          <% total = @search.results.except(:offset,:limit,:order).count %>
        <% else %>
          <% total = @search.results.size %>
        <% end %>
        <%= "#{pluralize(@search.results.size,"of #{total} records")}." %>
      <% end %>
    <% end %>
    <% if @search.target_table.match(/name/i) %>
      <% if @search.common_and_cultivar_included %>
        <span id="includes-common-cultivar-notice"></span>
      <% else %>
        <%= link_to('Include common,cultivar names.', new_search_path(query_string: "#{@search.query_string.strip} nt:*"), title: 'Query including cultivar and common.') %>
      <% end %>
    <% end %>
    <% if !@search.count && @search.results.size == @search.limit %>
      <span id="search-results-limited-notice">
        <%= link_to("List #{@search.page_increment_size} more", new_search_path(query_string: "#{@search.query_string.sub(/^ *\d+/,'').sub(/^/,%Q(#{@search.results.size+@search.page_increment_size} ))}"), title: "List #{@search.page_increment_size} more.") %>
        <% if @search.more_allowed %>
          <%= link_to('List more', new_search_path(query_string: "#{@search.query_string_for_more}"), title: 'List more.') %>
        <% end %>
        <%= link_to('Just count', new_search_path(query_string: "count #{@search.query_string.sub(/list */i,'')}")) %>
      </span>
    <% end %>
    <% if @search.count && @search.results > 0 %> 
      <%= link_to('List', new_search_path(query_string: "#{@search.query_string.sub(/count */i,'')}")) %>
    <% end %>
    <%= link_to("#{icon('refresh')}".html_safe, new_search_path(query_string: "#{@search.query_string}"), title: 'Rerun the query.') %>
  <% end %>
<% end %>
