

<%= form_tag(new_search_path, method: :get, id: "search-form", class: 'form-inline')  do -%>

<!--
  <input name="search_from" value="string" type="hidden" >
  <%#= search_field_tag 'query_string',
    '',
    id:"query-string-field",
    tabindex: "8",
    placeholder: "Search terms",
    autofocus: @autofocus_search,
    class:"col-xs-12 col-sm-11 col-md-10 col-lg-8 no-left-padding xform-control xbanner-query-field",
    results: 5,
    value: "#{@search.parsed_request.query_string if @search.present?}",
    required: true %>
  -->
<div class="row">
  <div class="col-xs-11 col-sm-12 col-md-10 col-lg-9">
    <div class="input-group width-80-percent">
      <div id="search-target-btn" class="input-group-btn">
        <button id="search-target-button" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span id="search-target-button-text">

            <%= @search.parsed_request.target_button_text %>

          </span>

          &nbsp;<span class="caret"></span></button>
        <ul id="search-target-list" class="dropdown-menu">
          <li class="blue"><a id="search-target-item-authors" href="#">Names with instances</a></li>
          <li><a id="search-target-item-authors" href="#">References with instances</a></li>
          <li role="separator" class="divider"></li>
          <li><a id="search-target-item-authors" href="#">Authors</a></li>
          <li><a id="search-target-item-instances" href="#">Instances</a></li>
          <li><a id="search-target-item-names" href="#">Names</a></li>
          <li><a id="search-target-item-references" href="#">References</a></li>
          <li role="separator" class="divider"></li>
          <li><a id="search-target-item-tree" href="#">Tree</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input id="query-string-field" 
             name="query_string" 
             type="search" 
             class="form-control width-100-percent" 
             aria-label="search field"
             tabindex = "8"
             placeholder = "Search terms"
             autofocus = "<%= @autofocus_search %>"
             results = "5"
             value = "<%= @search.parsed_request.query_string if @search.present? %>"
             required
             >
    </div><!-- /input-group -->
    <input id="query-submit"name="query_submit" value="Search" type="submit" class="btn xform-control">
  </div><!-- /.col-lg-9 -->
</div><!-- /row -->

  <input id="query-target" name="query_target" value="<%= @search.parsed_request.target_button_text %>" type="hidden" >

<% end %>
