

<%= form_tag(new_search_path, method: :get, id: "search-form", class: 'form-inline')  do -%>

<!--
  <input name="search_from" value="string" type="hidden" >
  <%#= search_field_tag 'query_string',
    '',
    id:"query-string-field",
    tabindex: "8",
    placeholder: "Search terms",
    autofocus: @autofocus_search,
    class:"col-xs-12 col-sm-11 col-md-10 col-lg-8 no-left-padding xform-control xbanner-query-field",
    results: 5,
    value: "#{@search.parsed_request.query_string if @search.present?}",
    required: true %>
  -->
<div class="row">
  <div class="col-xs-11 col-sm-12 col-md-10 col-lg-9">
    <div class="input-group width-80-percent">
      <div id="search-target-btn" class="input-group-btn">
        <button id="search-target-button" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span id="search-target-button-text">

            <%= @search.parsed_request.target_button_text || 'no target button text' %>

          </span>

          &nbsp;<span class="caret"></span></button>
        <ul id="search-target-list" class="dropdown-menu">
          <li class="blue">
            <a id="search-target-item-name-with-instances" href="#" title="Query on names, also retrieve instances" data-help="name-search-help" data-list="namedatalist">Names + instances</a>
          </li>
          <li><a id="search-target-item-names" href="#" data-help="name-search-help" data-list="namedatalist">Names</a></li>
          <li role="separator" class="divider"></li>
          <li><a id="search-target-item-instances-for-reference" href="#" data-help="reference-search-help">References + instances</a></li>
          <li><a id="search-target-item-references" href="#" data-help="reference-search-help">References</a></li>
          <li role="separator" class="divider"></li>
          <li><a id="search-target-item-authors" href="#" data-help="author-search-help" data-list="authordatalist">Authors</a></li>
          <li><a id="search-target-item-instances" href="#" data-help="instance-search-help">Instances</a></li>
          <li role="separator" class="divider"></li>
          <li><a id="search-target-item-tree" href="#" data-help="tree-search-help">Tree</a></li>
          <li role="separator" class="divider"></li>
          <li><a id="search-target-item-instances-for-name-id" href="#" data-help="instance-search-help">Instances for Name ID</a></li>
          <li><a id="search-target-item-instances-for-ref-id" href="#" data-help="instance-search-help">Instances for Ref ID</a></li>
          <li><a id="search-target-item-instances-sorted-by-page-for-ref-id" href="#" data-help="instance-search-help">Instances sorted by page for Ref ID</a></li>
          <li role="separator" class="divider"></li>
          <li><a id="search-target-audit" href="#" data-help="review-search-help">Review</a></li> 
        </ul>
      </div><!-- /btn-group -->
      <input id="query-string-field" 
             name="query_string" 
             type="search" 
             class="form-control width-100-percent" 
             aria-label="search field"
             tabindex = "8"
             placeholder = "Search terms"
             autofocus = "<%= @autofocus_search %>"
             title = "Specify your search"
             value = "<%= @search.parsed_request.query_string if @search.present? %>"
             required
             list="search-options"
             >
    </div><!-- /input-group -->
    <input id="query-submit"name="query_submit" value="Search" type="submit" class="btn">
  </div><!-- /.col-lg-9 -->
</div><!-- /row -->

  <input id="query-target" name="query_target" value="<%= @search.parsed_request.target_button_text %>" type="hidden" >

<% end %>

<datalist id="search-options" >
  <option value="Abbrev:" label: "? Author Abbrev">
  <option value="name:" label="? Author Name:">
  <option value="abbrev:" label="? Author Abbrev:">
  <option value="full-name:" label="? Author Full-name:">
  <option value="name:" label="? Name Name: ">
  <option value="type:" label="? Name Type: ">
  <option value="rank:" label="? Name Rank: ">
  <option value="rank: genus" label="? Name Rank: genus ">
  <option value="rank: species" label="? Name Rank: species ">
  <option value="status:" label="? Name Status: ">
  <option value="author:" label="? Name Author: ">
  <option value="ex-author:" label="? Name Ex-Author: ">
  <option value="base-author:" label="? Name Base Author: ">
  <option value="ex-base-author:" label="? Name Ex-Base Author: ">
  <option value="sanctioning-author:" label="? Name Sanctioning Author: ">
</datalist>

