<div id="stats-inner" class="reports-inner">
<h4>Orchid Stats</h4>
<%= Orchid.all.count %> Orchids
<%= divider %>
<%= Orchid.where(record_type: 'accepted').count %> Accepted
<br> <%= Orchid.where(record_type: 'synonym').count %> Synonym
<br> <%= Orchid.where(record_type: 'hybrid_cross').count %> Hybrid Cross
<br> <%= Orchid.where(record_type: 'misapplied').count %> Misapplied
<br>
<%= divider %>
<h5>Non-doubtful</h5>
<%= Orchid.where(record_type: 'accepted').where('not doubtful').count %>
<%= link_to('Accepted and not doubtful', search_path(query_string: 'is-accepted: is-not-doubtful:',query_target: 'orchids'),
                      tabindex: increment_tab_index,
                      title: "Search for genera",
                      class: 'blue') %>
<br>
<%= Orchid.where(record_type: 'synonym').where('not doubtful').count %>
<%= link_to('Synonym and not doubtful', search_path(query_string: 'is-syn: is-not-doubtful:',query_target: 'orchids'),
                      tabindex: increment_tab_index,
                      title: "Search for genera",
                      class: 'blue') %>
<br>
<%= Orchid.where(record_type: 'hybrid_cross').where('not doubtful').count %>
<%= link_to('Hybrid cross and not doubtful', search_path(query_string: 'is-hybrid-cross: is-not-doubtful:',query_target: 'orchids'),
                      tabindex: increment_tab_index,
                      title: "Search for genera",
                      class: 'blue') %>
<br>
<%= Orchid.where(record_type: 'misapplied').where('not doubtful').count %>
<%= link_to('Misapplied and not doubtful', search_path(query_string: 'is-misapplied: is-not-doubtful:',query_target: 'orchids'),
                      tabindex: increment_tab_index,
                      title: "Search for genera",
                      class: 'blue') %>
<%= divider %>
<h5>Doubtful</h5>
<%= Orchid.where(record_type: 'accepted').where('doubtful').count %>
<%= link_to('Accepted and doubtful', search_path(query_string: 'is-accepted: is-doubtful:',query_target: 'orchids'),
                      tabindex: increment_tab_index,
                      title: "Search for genera",
                      class: 'blue') %>
<br>
<%= Orchid.where(record_type: 'synonym').where('doubtful').count %>
<%= link_to('Synonym and doubtful', search_path(query_string: 'is-syn: is-doubtful:',query_target: 'orchids'),
                      tabindex: increment_tab_index,
                      title: "Search for genera",
                      class: 'blue') %>
<br>
<%= Orchid.where(record_type: 'hybrid_cross').where('doubtful').count %>
<%= link_to('Hybrid cross and doubtful', search_path(query_string: 'is-hybrid-cross: is-doubtful:',query_target: 'orchids'),
                      tabindex: increment_tab_index,
                      title: "Search for genera",
                      class: 'blue') %>
<br>
<%= Orchid.where(record_type: 'misapplied').where('doubtful').count %>
<%= link_to('Misapplied and doubtful', search_path(query_string: 'is-misapplied: is-doubtful:',query_target: 'orchids'),
                      tabindex: increment_tab_index,
                      title: "Search for genera",
                      class: 'blue') %>
<br>

<%= divider %>
<h5>Ranks</h5>
<%= render partial: 'orchids/stats/rank_stats' %>
<%= divider %>
<h5>Ranks by record type</h5>
<%= render partial: 'orchids/stats/ranks_by_record_type' %>
<%= divider %>
<h5>Name status</h5>
<%= render partial: 'orchids/stats/name_status' %>
