<h5>NSL Ranks</h5>
<table border="1">
  <tr>
    <td>
      <b>All</b>
    </td>
    <td>
      <b>'Accepted'</b>
    </td>
    <td>
      <b>'Synonyms'</b>
    </td>
    <td>
      <b>'Misapps'</b>
    </td>
    <td>
      <b>'Hybrid Crosses'</b>
    </td>
    <td>
      <b>Really Accepted</b>
    </td>
    <td>
      <b>Really Excluded</b>
    </td>
  </tr>
  <tr>
    <td>
<%= render partial: 'orchids/stats/nsl_rank_stats' %>
    </td>
    <td>
<%= render partial: 'orchids/stats/nsl_rank_accepted_stats' %>
    </td>
    <td>
<%= render partial: 'orchids/stats/nsl_rank_synonym_stats' %>
    </td>
    <td>
<%= render partial: 'orchids/stats/nsl_rank_misapps_stats' %>
    </td>
    <td>
<%= render partial: 'orchids/stats/nsl_rank_hybrid_cross_stats' %>
    </td>
    <td>
<%= render partial: 'orchids/stats/nsl_rank_really_accepted_stats' %>
    </td>
    <td>
<%= render partial: 'orchids/stats/nsl_rank_really_excluded_stats' %>
    </td>
  </tr>
</table>
