<tr id="search-result-<%= search_result.id %>" 
  class="search-result " 
  data-get-url="<%= help_topic_path(search_result.id) %>"
  data-edit-url="<%= help_topic_path(search_result.id) %>"
  data-base-url="<%= help_topic_path(search_result.id) %>"
  data-record-id="<%= search_result.id %>"
  data-record-type="help_topic"
  tabindex="<%= increment_tab_index(100) %>" 
    >
  <td class="checkbox-container">
    <div 
      tabindex="<%= increment_tab_index %>" 
      class="stylish-checkbox acts-as-checkbox nsl-inline-block stylish-checkbox-unchecked" 
      dir="ltr" 
      role="checkbox" 
      data-checked="false"> 
    </div>
  </td> 
  <td class="nsl-small-icon-container takes-focus width-1-percent"></td>
  <td colspan="4" class="text takes-focus abbrev main-content width-80-percent<%= ' give-me-focus' if give_me_focus %>">
    <a href="#" 
       class="show-details-link"
       tabindex="<%= increment_tab_index %>" 
       id="<%= %Q(#{search_result.class}-#{search_result[:id]}) %>">
    <%= search_result.name %>
    </a>
  </td>
  <td class="text takes-focus sort_order">
    <%= search_result.sort_order %>
  </td>
  <td class="takes-focus width-10-percent filler">&nbsp;</td>
  <td class="takes-focus width-10-percent filler">&nbsp;</td>
</tr>
