<tr id="search-result-<%= search_result.id %>"
    class="search-result <%= 'fresh' if search_result.fresh? %> "
    data-get-url="<%= instance_path(search_result.id) %>"
    data-edit-url="<%= instance_path(search_result.id) %>"
    data-base-url="<%= instance_path(search_result.id) %>"
    data-tab-url="<%= instance_tab_path(id: search_result.id, tab: 'active_tab_goes_here') %>"
    data-record-id="<%= search_result.id %>"
    data-record-type="instance"
    data-instance-type="<%= search_result.type %>"
    data-row-type="instance_record"
    tabindex="<%= increment_tab_index(100) %>"
>
  <td class="nsl-tiny-icon-container width-1-percent max-width-1-percent"><%= record_icon('instance') %></td>
  <td class="text takes-focus main-content width-40-percent min-width-30-percent max-width-60-percent">
    <a class="show-details-link <%= "draft" if search_result.draft? %>" tabindex="<%= increment_tab_index %>" title="Instance Name.  Select to show Instance details.">
      <%= "#{search_result.name.try('full_name')}" %>
      <%= "[#{search_result.name.try('name_status').try('name')}]" %>
      <%= render(partial: 'draft', locals: { search_result: search_result }) %>
    </a>
  </td>
  <td class="text takes-focus name main-content min-width-40-percent max-width-70-percent width-60-percent <%= 'give-me-focus' if give_me_focus %>">
    <a
    id="<%= %Q(#{search_result.class}-#{search_result.id}) %>"
    class="show-details-link"
    tabindex="<%= increment_tab_index %>"
    title="Instance Reference. Select to show Instance details.">
      <%= "#{search_result.reference.citation}" if search_result.reference %>
      <%= "#{search_result.page}" %>
      <%= "[#{search_result.instance_type.name}]" if search_result.instance_type %></a>
    <%= %Q(</td><td class="min-width-1-percent max-width-30-percent">[#{search_result.type}]::#{ search_result['display_as'] || search_result.class.to_s};#{search_result.id }cites #{Pathname.new(__FILE__).basename}).html_safe if @debug %>
  </td>
  <td class="takes-focus width-10-percent filler">&nbsp;</td>
</tr>

