<tr id="search-result-<%= search_result.id %>" 
  class="search-result instance-as-part-of-concept <%= 'fresh' if search_result.fresh? %>"
  data-get-url="<%= instance_path(search_result.id) %>"
  data-edit-url="<%= instance_path(search_result.id) %>"
  data-base-url="<%= instance_path(search_result.id) %>"
  data-tab-url="<%= instance_tab_path(id:search_result.id,tab: 'active_tab_goes_here') %>"
  data-record-id="<%= search_result.id %>"
  data-record-type="instance"
  data-instance-type="<%= search_result.type %>"
  data-row-type="instance_as_part_of_concept_record"
  tabindex="<%= increment_tab_index(100) %>"
    >
  <td class="checkbox-container">
    <div 
         class="stylish-checkbox acts-as-checkbox nsl-inline-block stylish-checkbox-unchecked" 
         tabindex="<%= increment_tab_index %>" 
         dir="ltr" 
         role="checkbox" 
         data-checked="false"> 
    </div>
  </td> 
  <td class="takes-focus nsl-tiny-icon-container width-1-percent"><%= record_icon('instance') %></td>
  <td colspan="1" class="text takes-focus name main-content width-90-percent <%= 'give-me-focus' if give_me_focus %>">
    <a 
      class="show-details-link indent-level-1"
      tabindex="<%= increment_tab_index %>" 
      id="<%= %Q(#{search_result.class}-#{search_result.id}) %>">
    <%= "#{search_result.reference.citation}" if search_result.reference %> 
    <%= ": #{search_result.page}" if search_result.page.present? %>
    <%= "[#{search_result.instance_type.name}]" if search_result.show_primary_instance_type && search_result.instance_type.try('primary_instance') %>
    <% if search_result.consider_for_apc_tick %>

    <% if search_result.show_apc_tick? %> 
      <span class="apc no-decoration">
      <% if search_result.name.apc_excluded? %>
        <%= icon('ban','',class: 'red') %>
      <% else %>
        <%= icon('check','',class: 'red') %>
      <% end %>
        <span class='apc small red strong'>APC</span>
      </span>
    <% end %>

    <% end %>
    <%= render(partial: 'record_debug', locals: {search_result: search_result}) if @debug %>
  </a></td>
  <td class="takes-focus width-20-percent filler">&nbsp;</td>
</tr>

<%# TODO: move logic for this subsequent record to the model. %>
<% if search_result.this_is_cited_by %>
  <tr id="search-result-<%= search_result.this_is_cited_by.id %>" 
    class="search-result instance-as-part-of-concept" 
    tabindex="<%= increment_tab_index(100) %>" 
    data-get-url="<%= instance_path(search_result.this_is_cited_by.id) %>"
    data-edit-url="<%= instance_path(search_result.this_is_cited_by.id) %>"
    data-base-url="<%= instance_path(search_result.this_is_cited_by.id) %>"
    data-record-id="<%= search_result.this_is_cited_by.id %>"
    data-record-type="instance"
      >
  <td class="checkbox-container"></td> 
  <td class="takes-focus nsl-tiny-icon-container width-1-percent"><%= record_icon('instance') %></td>
  <td colspan="1" class="text takes-focus width-8-percent">
    &nbsp;
  </td>
  <td colspan="1" class="text takes-focus name main-content <%= 'give-me-focus' if give_me_focus %>">
    <span class="indent-level-1">&nbsp;</span>
    <%= "#{search_result.instance_type.name.downcase} of #{search_result.this_is_cited_by.name.simple_name}" %>
    <%= "</td><td>this is cited by: #{ search_result.try('display_as') || search_result.this_is_cited_by.class.to_s};#{search_result.this_is_cited_by.id }-2nd part --- #{Pathname.new(__FILE__).basename}".html_safe if true %>
  </td>
  <td class="takes-focus width-10-percent filler">&nbsp;</td>
  
</tr>

<% end %>
