<tr id="search-result-<%= search_result.id %>"
    class="search-result instance-is-cited-by <%= 'fresh' if search_result.fresh? %>"
    data-get-url="<%= instance_path(search_result.id) %>"
    data-edit-url="<%= instance_path(search_result.id) %>"
    data-base-url="<%= instance_path(search_result.id) %>"
    data-tab-url="<%= instance_tab_path(id: search_result.id, tab: 'active_tab_goes_here') %>"
    data-record-id="<%= search_result.id %>"
    data-record-type="instance"
    data-instance-type="<%= search_result.type %>"
    data-row-type="instance_is_cited_by"
    tabindex="<%= increment_tab_index(100) %>"
>
  <td class="nsl-tiny-icon-container width-1-percent"><%= record_icon('instance') %></td>
  <td colspan="1" class="text main-content takes-focus width-90-percent indent-level-1 <%= 'give-me-focus' if give_me_focus %> ">
    <a
    id="<%= %Q(#{search_result.class}-#{search_result.id}) %>"
    class="show-details-link indent-level-2 <%= "draft" if search_result.draft? %>"
    title="Instance is cited by record.  Select to show details."
    tabindex="<%= increment_tab_index %>">
      <%= "#{search_result.expanded_instance_type || search_result.instance_type.name}: <b>#{search_result.name.full_name_html}</b>".html_safe %>
      <%= "#{search_result.page}" %>
      <%= " #{search_result.name.name_status.name_for_instance_display}" %>
      <%= render(partial: 'draft', locals: { search_result: search_result }) %>

      <%= render(partial: 'record_debug', locals: {search_result: search_result, file_name: Pathname.new(__FILE__).basename}) if @debug %>
    </a></td>
  <td class="takes-focus width-20-percent filler">&nbsp;</td>
</tr>

