<tr id="search-result-<%= search_result.id %>"
    class="search-result instance-cited-by-relationship-instance-record <%= 'fresh' if search_result.fresh? %>"
    data-get-url="<%= instance_path(search_result.id) %>"
    data-edit-url="<%= instance_path(search_result.id) %>"
    data-base-url="<%= instance_path(search_result.id) %>"
    data-tab-url="<%= instance_tab_path(id: search_result.id, tab: 'active_tab_goes_here') %>"
    data-record-id="<%= search_result.id %>"
    data-record-type="instance"
    data-instance-type="<%= search_result.type %>"
    data-row-type="instance_cited_by_relationship_instance_record"
    tabindex="<%= increment_tab_index(100) %>"
>
  <td class="nsl-tiny-icon-container width-1-percent"><%= record_icon('instance') %></td>
  <td class="text main-content takes-focus width-90-percent">
    <a
    id="<%= %Q(#{search_result.class}-#{search_result.id}) %>"
    class="show-details-link indent-level-2 <%= "draft" if search_result.draft? %>"
    title="Instance cited by relationship instance record.  Select to show details."
    tabindex="<%= increment_tab_index %>">
      <%= search_result.instance_type.of_label %>
      <%= "<b>#{search_result.this_is_cited_by.name.full_name}</b>".html_safe %>
      <%= "[#{search_result.this_is_cited_by.name.name_status.name}]" unless search_result.this_is_cited_by.name.name_status.blank? %>
      by
      <%= "#{search_result.this_cites.try('reference').try('citation')}" %>
      <%= "#{search_result.page}" %>
      <%= render(partial: 'draft', locals: { search_result: search_result }) %>

    </a>
    <%= "</td><td>[#{search_result.type}]::#{ search_result.try('display_as') || search_result.class.to_s};#{search_result.id }--- #{Pathname.new(__FILE__).basename}".html_safe if @debug %>
  </td>
  <td class="takes-focus width-20-percent filler">&nbsp;</td>
</tr>
 
