<tr id="search-result-<%= search_result.id %>"
    class="search-result instance-for-expansion-record <%= 'fresh' if search_result.fresh? %>"
    data-get-url="<%= instance_path(search_result.id) %>"
    data-edit-url="<%= instance_path(search_result.id) %>"
    data-base-url="<%= instance_path(search_result.id) %>"
    data-tab-url="<%= instance_tab_path(id: search_result.id, tab: 'active_tab_goes_here') %>"
    data-record-id="<%= search_result.id %>"
    data-record-type="instance"
    data-instance-type="<%= search_result.type %>"
    data-row-type="instance_for_expansion_record"
    tabindex="<%= increment_tab_index(100) %>"
>
  <td class="checkbox-container">
    <div
    tabindex="<%= increment_tab_index %>"
    class="stylish-checkbox acts-as-checkbox nsl-inline-block stylish-checkbox-unchecked"
    dir="ltr"
    role="checkbox"
    data-checked="false">
    </div>
  </td>
  <td class="takes-focus nsl-tiny-icon-container width-1-percent"><%= record_icon('instance') %></td>
  <td colspan="4" class="padding-left-2em text takes-focus name main-content width-90-percent <%= 'give-me-focus' if give_me_focus %>">
    <a
    id="<%= %Q(#{search_result.class}-#{search_result.id}) %>"
    class="show-details-link indent-level-1 <%= "draft" if search_result.draft? %>"
    tabindex="<%= increment_tab_index %>">
      <%= "#{search_result.reference.citation}" if search_result.reference %>
      <%= "#{search_result.page}" %>
      <%= "[#{search_result.instance_type.name}]" if search_result.instance_type %>
      <%= render(partial: 'draft', locals: { search_result: search_result }) %>
    </a>
    <%= "</td><td>[#{search_result.type}]::#{ search_result.try('display_as') || search_result.class.to_s};#{search_result.id }cites---- #{Pathname.new(__FILE__).basename}".html_safe if @debug %>
  </td>
  <td class="width-10-percent takes-focus filler">&nbsp;</td>
</tr>
 
