<% if search_result.has_parent? %>
  <span class="has-parent">&mdash;&nbsp;</span>
<% end %>
<span class='<%= "#{search_result.record_type}-taxon" %>'>
<%= "#{search_result.taxon}" %>
</span>
| <%= search_result.matches.size %>
<% if search_result.orchids_name.blank? %>
  <% case search_result.matches.size %>
  <% when 0 %>
    <span class="no-matches">No Matches</span>
  <% when 1 %>
    <% if search_result.name_match_no_primary %>
      <span class="no-primary">No Primary</span>
    <% end %>
  <% else %>
    <span class="too-many-matches">Too many matches</span>
    <% if search_result.name_match_no_primary %>
      <span class="no-primary">No Primary</span>
    <% end %>
  <% end %>
<% else %>
  <% preferreds = search_result.orchids_name.collect{|o| "#{o.name_id}/#{o.instance_id}" } %>
  <span class="preferred-name">preferred name/instance: <%= "[#{preferreds.size}]" if preferreds.size > 1 %> <%= preferreds.join(',') %></span>
<% end %>

<% case search_result.record_type %>
<% when 'accepted' %>
<% when 'synonym' %>
<% when 'misapplied' %>
  <% if preferreds.blank? %>
    <span class="misapplied">Misapplied</span>
  <% end %>
<% when 'hybrid_cross' %>
  <span class="hybrid-cross">Hybrid Cross</span>
<% end %>
