<% if search_result.has_parent? %>
  <span class="has-parent">
    <% case search_result.record_type %>
    <% when 'accepted' %>
      wat?
    <% when 'synonym' %>
      &mdash;&nbsp;
    <% when 'misapplied' %>
      ^^&nbsp;
    <% when 'hybrid_cross' %>
      //&nbsp;
    <% end %>
  </span>
<% end %>
<span class='<%= "#{search_result.record_type}-taxon" %>'>
<%= "#{search_result.taxon}" %>
</span>
| <%= search_result.matches.size %>m
<% if search_result.orchids_name.blank? %>
  <% case search_result.matches.size %>
  <% when 0 %>
    <span class="no-matches">No Matches</span>
  <% when 1 %>
    <% if search_result.name_match_no_primary %>
      <span class="no-primary">No Primary</span>
    <% end %>
  <% else %>
    <span class="too-many-matches">Too many matches</span>
    <% if search_result.name_match_no_primary %>
      <span class="no-primary">No Primary</span>
    <% end %>
  <% end %>
  <% if search_result.isonym? %>
    <span class="isonym">Isonym</span>
  <% end %>
  <% if search_result.orth_var? %>
    <span class="orth-var">Orth. Var.</span>
  <% end %>
<% else %>
  <% preferreds = search_result.orchids_name.collect{|o| "#{o.name_id}/#{o.instance_id}" } %>
  <span class="preferred-name"><%= preferreds.size %>p</span>
  <% standalones = search_result.orchids_name.select {|orcn| orcn.standalone_instance_id.present?} %>
  <% if standalones.size > 0 %>
    <span class="standalone-count"><%= "#{standalones.size}i" %></span>
  <% end %>
  <% relationships = search_result.orchids_name.select {|orcn| orcn.relationship_instance_id.present?} %>
  <% if relationships.size > 0 %>
    <span class="relationship-count"><%= "#{relationships.size}c" %></span>
  <% end %>

  <% if search_result.isonym? %>
    <span class="isonym-has-preferred-name">Isonym</span>
  <% end %>
  <% if search_result.orth_var? %>
    <span class="orth-var-has-preferred-name">Orth. Var.</span>
  <% end %>
<% end %>

<% case search_result.record_type %>
<% when 'accepted' %>
<% when 'synonym' %>
<% when 'misapplied' %>
  <% if preferreds.blank? %>
    <span class="misapplied">Misapplied</span>
  <% end %>
<% when 'hybrid_cross' %>
  <% if preferreds.blank? %>
    <span class="hybrid-cross">Hybrid Cross</span>
  <% end %>
<% end %>

<% if search_result.exclude_from_further_processing? %>
    <span class="exclude-from-further-processing">No further processing</span>
<% end %>
<% if search_result.try('parent').try('exclude_from_further_processing?') %>
    <span class="exclude-from-further-processing">No further processing via parent</span>
<% end %>
