<tr id="search-result-<%= reference.id %>" 
  class="search-result <%= 'fresh' if reference.fresh? %>"
  data-edit-url="<%= reference_path(reference.id) %>"
  data-tab-url="<%= reference_tab_path(id: reference.id,tab: 'active_tab_goes_here') %>"
  data-record-type="reference"
  tabindex="<%= increment_tab_index(100) %>"
    >
  <td class="nsl-tiny-icon-container takes-focus width-1-percent"><%= record_icon('reference') %></td>
  <td colspan="2" class="text takes-focus main-content <%= 'give-me-focus' if give_me_focus %> width-90-percent">
      <a 
        class="show-details-link"
        tabindex="<%= increment_tab_index %>" 
        title="Reference record.  Select to show details."
        id="<%= reference.anchor_id %>">
      <%= render partial: 'reference_link_text', locals: {reference: reference} %>
      </a>
  </td>
  <td class="text takes-focus width-10-percent filler">
  </td>
 
</tr>
