<tr id="search-result-<%= reference.id %>" 
  class="search-result <%= 'fresh' if reference.fresh? %>"
  data-get-url="<%= reference_path(reference.id) %>"
  data-edit-url="<%= reference_tab_path(reference.id) %>"
  data-base-url="<%= reference_path(reference.id) %>"
  data-tab-url="<%= reference_tab_path(id: reference.id,tab: 'active_tab_goes_here') %>"
  data-record-id="<%= reference.id %>"
  data-record-type="reference"
  tabindex="<%= increment_tab_index(100) %>" 
    >
  <td class="nsl-tiny-icon-container takes-focus width-1-percent"><%= record_icon('reference') %></td>
  <td colspan="2" class="text takes-focus main-content <%= 'give-me-focus' if give_me_focus %> width-80-percent">
      <a 
        id="<%= reference.anchor_id %>"
        class="show-details-link"
        title="Reference record. Select to show details."
        tabindex="<%= increment_tab_index %>" >
        <%= render partial: 'reference_link_text', locals: {reference: reference} %>
      </a>
  </td>
  <td class="text takes-focus width-10-percent filler">&nbsp;</td>

</tr>
