<section class='block width-100-percent'>
  <input id="<%= input_field_id %>"
         class="typeahead form-control width-100-percent" 
         tabindex="<%= increment_tab_index %>"
         type="text" 
         placeholder="<%= input_field_placeholder %>"
         value="<%= value %>"/>
         <label class='block-inline field-label align-right width-30-percent pull-right'><%= input_field_label %></label> 
</section>
