<%= form_for(@user_query) do |f| %>
  <% if @user_query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_query.errors.count, "error") %> prohibited this user_query from being saved:</h2>

      <ul>
      <% @user_query.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :search_terms %><br>
    <%= f.text_field :search_terms %>
  </div>
  <div class="field">
    <%= f.label :search_result %><br>
    <%= f.text_area :search_result %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
