
<li class="dropdown define-left-border-when-active">
    <a href="#"
       id="help-dropdown-menu-link"
       class="dropdown-toggle"
       tabindex="3"
       data-toggle="dropdown">Help<span class="caret"></span>
    </a>
    <ul id="create-dropdown-menu" class="dropdown-menu" role="menu">
      <li role="presentation">
        <%= link_to "Overview", help_index_path, title: 'View editor help', tabindex: '-1' %>
      </li>
      <li role="presentation">
        <%= link_to "Name rules", name_rules_path, title: 'See the name rules', tabindex: '-1' %>
      </li>
      <li role="presentation">
        <%= link_to "Reference type rules", ref_type_rules_path, title: 'See reference type rules', tabindex: '-1' %>
      </li>
      <li role="presentation">
        <%= link_to "Instance models", instance_models_path, title: 'See diagrams modelling instances', tabindex: '-1' %>
      </li>
      <li role="presentation">
        <%= link_to "Typeaheads", typeaheads_path, title: 'About typeahead fields', tabindex: '-1' %>
      </li>
      <li role="presentation">
        <%= link_to "Instance Types", instance_types_path, title: 'List of instance types', tabindex: '-1' %>
      </li>
      <li role="presentation" class="divider"></li>
      <li role="presentation">
        <%= link_to "Changes 2018", history_2018_path, title: 'Changes to the editor recorded for 2018', tabindex: '-1' %>
      </li>
      <li role="presentation">
        <%= link_to "Changes 2017", history_2017_path, title: 'Changes to the editor recorded for 2017', tabindex: '-1' %>
      </li>
      <li role="presentation">
        <%= link_to "Changes 2016", history_2016_path, title: 'Changes to the editor recorded for 2016', tabindex: '-1' %>
      </li>
      <li role="presentation">
        <%= link_to "Changes 2015", history_2015_path, title: 'Changes to the editor recorded from May 2015 to the end of 2015', tabindex: '-1' %>
      </li>
    </ul>
</li>

