<%= form_tag(search_path, method: :get, id: "search-form", class: 'form-inline')  do -%>

  <div id="search-controls-container" class='no-left-padding col-xs-8 col-sm-12 col-md-12 col-lg-11'>

    <%= label_tag 'query', 'query', class: 'hidden' %>
    <div id="query-fields-container" class="no-left-padding no-right-padding col-xs-9 col-sm-9 col-md-9 col-lg-7">

      <select id="query-on" name="query_on" class="form-control col-lg-2" tabindex="6">
        <option value='author' <%= "selected" if params[:query_on] =~ /\Aauthor\z/ %> >Authors</option>
        <option value='instance' <%= "selected" if params[:query_on] =~ /\Ainstance\z/ %> >Instances</option>
        <option value='name' <%= "selected" if params[:query_on] !~ /\Aauthor\z|\Ainstance\z|\Areference\z/ %> >Names</option>
        <option value='reference' <%= "selected" if params[:query_on] =~ /\Areference\z/  %>>References</option>
        <option value='tree' <%= "selected" if params[:query_on] =~ /\Atree\z/  %>>Tree</option>
      </select>

      <select id="query-field" name="query_field" class="form-control" tabindex="7">
          <option value="" ></option>
          <%# Do not put a line-feed or any text between case token and the first when. %>
          <% case params[:query_on] %>
          <% when /\Aauthor\z/ %>

            <% Author::AsQuery.options.each do | value, display | %>
              <%= render partial: 'search/field_option', locals: {value:value, display: display} %>
            <% end %>

          <% when /\Areference\z/ %>

            <% Reference::AsQuery.options.each do | value, display | %>
              <%= render partial: 'search/field_option', locals: {value:value, display: display} %>
            <% end %>

          <% when /\Ainstance\z/ %>

            <% Instance::AsQuery.options.each do | value, display | %>
              <%= render partial: 'search/field_option', locals: {value:value, display: display} %>
            <% end %>

          <% when /\Atree\z/ %>

            <% Tree.query_options.each do | value, display | %>
              <%= render partial: 'search/field_option', locals: {value:value, display: display} %>
            <% end %>

          <% else %>

            <% Name::AsQuery.options.each do | value, display | %>
              <%= render partial: 'search/field_option', locals: {value:value, display: display} %>
            <% end %>

          <% end %>

      </select>

      <div id="search-form-input-group" class="input-group no-right-padding col-xs-3">
            <%= search_field_tag 'query',
                                 '',
                                 id:"search-field",
                                 tabindex: "8",
                                 placeholder: "Search terms",
                                 autofocus: @autofocus_search,
                                 class:"form-control banner-query-field",
                                 results: 5,
                                 value: params[:query] %>

          <div id="search-form-input-group-btn" class="input-group-btn">
              <button id="search-form-dropdown-btn" type="button"
                      class="btn btn-default dropdown-toggle"
                      data-toggle="dropdown">... <span class="caret"></span></button>
              <ul id="query-list" class="dropdown-menu dropdown-menu-right" role="menu">
                  <% case params[:query_on] %>
                  <% when /\Aauthor\z/ %>
                    <%= render partial: 'authors/query_dropdown_links' %>
                  <% when /\Areference\z/ %>
                      <%= render partial: 'references/query_dropdown_links' %>
                  <% when /\Ainstance\z/ %>
                      <%= render partial: 'instances/query_dropdown_links' %>
                  <% else %>
                      <%= render partial: 'names/query_dropdown_links' %>
                  <% end %>
              </ul>
          </div><!-- /btn-group -->

      </div><!-- /input-group -->

    </div><!-- col -->

      <select id="query-limit" name="query_limit" class="form-control" tabindex="9">
        <option value='1' <%= "selected" if params[:query_limit] =~ /\A1\z/ %> >just: 1</option>
        <option value='10' <%= "selected" if params[:query_limit] =~ /\A10\z/ %> >up to: 10</option>
        <option value='100' <%= "selected" unless params[:query_limit] =~ /\A1\z|\A10\z|\A1000/ %> >up to: 100</option>
        <option value='1000' <%= "selected" if params[:query_limit] =~ /\A1000\z/ %> >up to: 1,000</option>
        <option value='10000' <%= "selected" if params[:query_limit] =~ /\A10000\z/ %> >up to: 10,000</option>
        <option value='all' <%= "selected" if params[:query_limit] =~ /\Aall\z/ %> >all</option>
      </select>

    <div class="btn-group">
      <%# We don't want button in URL - so use raw html to avoid including a name attribute. %>
      <input type="submit" 
             id="search-button"
             value="Search" 
             class='btn btn-primary search-button' 
             data-no-turbolink="true" 
             tabindex="10"
             title="Show records matching query">
    </div><!-- col -->

  </div><!-- search-controls-container -->
  <div id="search-controls-container2" class='no-left-padding col-xs-7 col-sm-12 col-md-12 col-lg-11'>
      <div class="no-left-padding col-xs-12 col-sm-5 col-md-5 xcol-lg-5">
        <%= check_box_tag('query_common_and_cultivar','t',(params[:query_common_and_cultivar] || 'f')=='t',class: 'checkbox', disabled: disable_common_cultivar_checkbox ) %>
        <label id="query_common_and_cultivar_label" class="white <%= 'disabled' unless params[:query_on] && params[:query_on].match(/\Aname\z/i) %>" for="query_common_and_cultivar">Include common and cultivar names</label>
      </div>
  </div><!-- search-controls-container -->
<% end -%>
