<% if @current_user.present? %>

  <li class="dropdown">
    <a href="#"
       id="user-dropdown-menu-link"
       tabindex="4"
       class="dropdown-toggle <%= 'active' if params[:controller].match(/session/) %>"
       title="Select this to see tree options."
       data-toggle="dropdown">
      <i class="fa fa-tree"></i>
      <% if @working_draft %>
        <%= @working_draft&.tree&.name %> <%= @working_draft&.draft_name %>
      <% else %>
        No draft selected
      <% end %>
      <span class="caret"></span>
    </a>
    <ul id="tree-dropdown-menu" class="dropdown-menu" role="menu">
      <li>select draft</li>
      <%= render partial: "trees/drafts_menu" %>
      <% if @working_draft %>
        <hr>
        <li><%= "#{@working_draft.tree.name} #{@working_draft.draft_name}" %></li>
        <li>
          <%= link_to "<i class='fa fa-edit'></i> edit '#{@working_draft.draft_name}'".html_safe,
                      trees_edit_draft_path,
                      title: 'Edit draft tree',
                      remote: true,
                      tabindex: '-1' %>
        </li>
        <li>
          <%= link_to "<i class='fa fa-file-text green'></i> publish '#{@working_draft.draft_name}'".html_safe,
                      trees_publish_draft_path,
                      title: 'Publish draft tree',
                      remote: true,
                      tabindex: '-1' %>
        </li>
      <% end %>
      <hr>
      <li>
        <%= link_to "<i class='fa fa-plus'></i> Create draft tree".html_safe,
                    trees_new_draft_path,
                    title: 'Add a new draft tree',
                    remote: true,
                    tabindex: '-1' %>
      </li>

    </ul>
  </li>

<% end %>
