<% if @current_user.present? %>

  <li class="dropdown">
    <a href="#"
       id="user-dropdown-menu-link"
       tabindex="4"
       class="dropdown-toggle <%= 'active' if params[:controller].match(/session/) %>"
       title="Select this to see tree options."
       data-toggle="dropdown">
      <i class="fa fa-tree"></i>
      <% if @working_draft %>
        <%= @working_draft&.tree&.name %> <%= @working_draft&.draft_name %>
      <% else %>
        No draft selected
      <% end %>
      <span class="caret"></span>
    </a>
    <ul id="tree-dropdown-menu" class="dropdown-menu" role="menu">
      <%= render partial: "trees/drafts_menu" %>
      <li>

        <%= link_to "Add draft tree",
                    trees_new_draft_path,
                    title: 'Add a new draft tree',
                    remote: true,
                    tabindex: '-1' %>
      </li>
      <li>
        <a tabindex="-1"
           href="#"
           title="Edit the draft tree">Edit current draft</a></li>
      <li>
        <a tabindex="-1"
           href="#"
           title="Publish the draft tree">Publish current draft</a></li>
    </ul>
  </li>

<% end %>
