<% if @current_user.present? %>                  

<li class="dropdown">
  <a href="#" 
     id="user-dropdown-menu-link" 
     tabindex="4" 
     class="dropdown-toggle <%= 'active' if params[:controller].match(/session/) %>" 
     title="Select this to see your account options."
     data-toggle="dropdown">
    <%= icon('user') %>&nbsp;<%= @current_user.full_name %> <span class="caret"></span></a>
  <ul id="user-dropdown-menu" class="dropdown-menu" role="menu">
    <% if @current_user.groups.size > 0 %>
      <li class="dropdown-submenu">
        <a tabindex="-1" 
           href="#"
           title="Your security groups">
          <%= pluralize(@current_user.groups.size,'Group') %></a>
          <ul class="dropdown-menu">
          <% @current_user.groups.each do |group| %>
            <% case group 
               when 'edit'  then icon_name = 'edit' 
               when 'admin' then icon_name = 'sliders' 
               else icon_name = 'circle-o' 
               end 
             %>
             <li role="presentation">
               <a title="A security group you belong to">
                 <%= "#{icon(icon_name)} #{group == group.upcase ? group : group.capitalize}".html_safe %>
               </a>
             </li>
          <% end %>
          </ul>
      </li>
    <% end %>

    <li role="presentation" class="divider"></li>
    <li class="" role="presentation">
      <%= link_to "#{icon('key')} Change password".html_safe, edit_password_path, method: :get, title: 'Select this to change your password'%>
    </li>
    <li class="" role="presentation">
      <%= link_to "#{icon('sign-out')} Sign out".html_safe, sign_out_path, method: :get, title: 'Select this to sign out from the NSL Editor'%>
    </li>
  </ul>
</li>

<% end %>
