<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> <%= page_title %> </title>

    <script>
      window.relative_url_root = "<%= Rails.application.config.relative_url_root %>";
      window.NG_TEMPLATE_URL="<%= @ng_template_path %>";
      taxoTree = "<%= ShardConfig.classification_tree_key %>";
    </script>
    <% if Rails.env == "development" || params[:debug] == 'true' %>
      <script> debugSwitch = true; </script>
    <% else %>
      <script> debugSwitch = false; </script>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png?v=1', :rel => 'shortcut icon' %>
    <% if development? %>
<style>
a:not([title]),
select:not([title]),
textarea:not([title]),
input:not([title]) {
  background: red;
}

input[type="checkbox"]:not([title]) {
  background: red;
  color: red;
  border: 2px solid black;
}
</style>

    <% end %>

    <% if Rails.configuration.try('offer_feedback_link') %>
      <%= Rails.configuration.try('feedback_script').try('html_safe') %>
    <% end %>

  </head>
 
  <body class="<%= Rails.configuration.try('environment') %>" 
      data-active-reference-tab="tab_show_1"
      data-active-name-tab="tab_details"
      data-active-author-tab="tab_show_1"
      data-active-instance-tab="tab_show_1">

    <div id="screen-too-small-msg">Sorry.... your window is too small to show the editor.  It needs to be wider.</div>
    <%= render partial: 'search/big_navbar' %>

    <div id="main-content" class="container-fluid">

      <% if @no_search_result_details %>
        <div id="search-result-details" class="hidden" > </div>
      <% else %>
        <div id="search-result-details" > </div>
      <% end %>


      <div class="row">
        <div id="search-result-container" 
             class="main-body-container no-left-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 sidebar" >
          <%= yield %>
        </div>
        <div id="help-search-container" 
             class="main-body-container search-tab no-left-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 sidebar hidden">
            <%= render partial: 'search/help_search_inner' %>
        </div>
        <div id="example-search-container" 
             class="main-body-container search-tab no-left-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 sidebar hidden">
            <%= render partial: 'search/example_search_inner' %>
        </div>
        <div id="search-reports-container" 
             class="main-body-container no-left-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 sidebar hidden">
        </div>
      </div>
    </div>

    <div id="footer" class="footer">
      <div class="container-fluid">
        <%= render partial: 'layouts/footer' %>
      </div>
    </div>
    <script>
      var ffox = window.navigator.userAgent.match(/Firefox\/([0-9]+)\./);
      var ver = ffox ? parseInt(ffox[1]) : 99;
      if (ver < 29) {
        $('#query-string-field').addClass('old-ffox');
        $('#old-ffox').val('true');
        $('#search-result-container').removeClass('sidebar');
      } else {
        $('#query-string-field').removeClass('old-ffox');
        $('#old-ffox').val('false');
      }
    </script>
 </body>
</html>
 
