<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= 'Test' if Rails.configuration.session_key_tag.match(/test/i) %> NSL Editor</title>

    <script>
      window.relative_url_root = "<%= Rails.application.config.relative_url_root %>"
      window.NG_TEMPLATE_URL="<%= @ng_template_path %>";
    </script>

    <%= favicon_link_tag 'favicon.png?v=1', :rel => 'shortcut icon' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
 
  <body>
    <%= yield %>
  </body>
</html>
 
